{
  "openapi": "3.1.0",
  "info": {
    "title": "IZ-Get",
    "description": "IZ-Get API Specification",
    "version": "v0.1"
  },
  "servers": [
    {
      "url": "https://mmbvymzj5k.ap-northeast-1.awsapprunner.com",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Academic Operations",
      "description": "기수, 반, 교육생 소속 이력, 매니저 반 배정 API"
    },
    {
      "name": "Consent",
      "description": "가입 화면 동의 항목 조회 API"
    },
    {
      "name": "Submission",
      "description": "교육생 코드 제출과 코드 분석 상태 조회 API"
    },
    {
      "name": "Evaluation",
      "description": "채점 결과 조회 API"
    },
    {
      "name": "Organization",
      "description": "기관 프로비저닝, 기관 상태, 계약, 기관별 운영 정책, 기관 삭제·복구 API (v2 IA: SA-01 기관 목록 / SA-02 기관 상세)"
    },
    {
      "name": "Platform Governance",
      "description": "플랫폼 전역 AI 모델 정책, 모델 티어, 단가, 보정 버전, 전역 설정 API (v2 IA: SA-03 플랫폼 설정 — 모델·단가 / 슈퍼어드민 계정)"
    },
    {
      "name": "Intervention",
      "description": "면담"
    },
    {
      "name": "Project Execution",
      "description": "프로젝트 구성·일정·요구사항 API"
    },
    {
      "name": "Analytics",
      "description": "기수 분석 격자 조회"
    },
    {
      "name": "Reporting",
      "description": "리포트 발행 이력·본문·문답 조회 API (v2 IA: TR-04 / OP-05)"
    },
    {
      "name": "Curriculum",
      "description": "교안 조회 API (MG-09/OP-06)"
    },
    {
      "name": "Notification",
      "description": "매니저 인박스와 독촉 발송"
    },
    {
      "name": "Member",
      "description": "사용자 계정, 역할, 초대, 활성화, 계정 상태, 약관 동의 API (매니저·교육생)"
    },
    {
      "name": "Assessment",
      "description": "교육생 이해도 확인 회차"
    },
    {
      "name": "Auth",
      "description": "로그인, Access/Refresh Token 재발급·세션 폐기, 비밀번호 재설정, 초대 계정 활성화 API"
    },
    {
      "name": "Usage Metering",
      "description": "AI 호출량·토큰·비용, 저장소 사용량, 기관 한도, 비용 집계 API (v2 IA: SA-02 ③④ / OP-06 ⑤)"
    }
  ],
  "paths": {
    "/api/v0/projects/{projectId}/requirements": {
      "put": {
        "tags": [
          "Project Execution"
        ],
        "summary": "프로젝트 요구사항 전체 교체 | ✅ 사용 가능",
        "description": "요구사항 문구 목록을 전체 교체한다. 보낸 목록이 그대로 최종 상태가 된다 —\n기존에 있었는데 이번 목록에 없는 문구는 자동 폐기(retire)되고, 새 문구는 추가된다.\n\n**요청**\n- projectId (경로): 대상 프로젝트 ID\n- requirementTitles (필수): 요구사항 문구 목록. 완전히 같은 문구만 \"유지\"로 인식하고,\n  조금이라도 다르면 기존 것 폐기 + 새 문구 추가로 처리한다\n\n**응답 (200)**\n- 본문 없음\n",
        "operationId": "replaceRequirements",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "프로젝트 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceRequirementsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "요구사항 교체 성공"
          },
          "400": {
            "description": "VALIDATION_FAILED requirementTitles 키가 없음 — 전부 지우려면 빈 배열을 보낸다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "VALIDATION_FAILED",
                      "message": "요청 값이 올바르지 않습니다.",
                      "fieldErrors": [
                        {
                          "code": "NOT_BLANK",
                          "message": "must not be blank",
                          "field": "answerText"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED — 이 역할로는 부를 수 없다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "PROJECT_NOT_FOUND 프로젝트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PROJECT_NOT_FOUND": {
                    "summary": "PROJECT_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "PROJECT_NOT_FOUND",
                      "message": "프로젝트를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/projects/{projectId}/concepts": {
      "put": {
        "tags": [
          "Project Execution"
        ],
        "summary": "검증개념 확정 | ✅ 사용 가능",
        "description": "선택한 매핑들을 이 프로젝트의 검증개념으로 확정한다. 기존 활성 세트는 자동으로 교체(supersede)되며,\n과거 세트는 지워지지 않고 이력으로 남는다.\n\n**요청**\n- projectId (경로): 대상 프로젝트 ID\n- mappingIds (필수): 확정할 매핑 ID 목록(검증개념 후보 조회 응답의 mappingId)\n\n**응답 (200)**\n- 본문 없음\n",
        "operationId": "confirmConcepts",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "프로젝트 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmConceptsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "검증개념 확정 성공"
          },
          "400": {
            "description": "CONCEPT_MAPPING_NOT_FOUND 존재하지 않는 매핑 ID가 포함됨(후보 목록이 낡았다 — 다시 읽는다) · VALIDATION_FAILED mappingIds가 비었음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CONCEPT_MAPPING_NOT_FOUND": {
                    "summary": "CONCEPT_MAPPING_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "CONCEPT_MAPPING_NOT_FOUND",
                      "message": "존재하지 않는 매핑입니다."
                    }
                  },
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "VALIDATION_FAILED",
                      "message": "요청 값이 올바르지 않습니다.",
                      "fieldErrors": [
                        {
                          "code": "NOT_BLANK",
                          "message": "must not be blank",
                          "field": "answerText"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED — 이 역할로는 부를 수 없다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "PROJECT_NOT_FOUND 프로젝트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PROJECT_NOT_FOUND": {
                    "summary": "PROJECT_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "PROJECT_NOT_FOUND",
                      "message": "프로젝트를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/tier-models": {
      "put": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "티어 ↔ 모델 매핑 변경 | ✅ 사용 가능",
        "description": "SA-03 ① `코드 세션 · 정확도 우선 / 균형 / 비용 우선` 3티어 매핑을 바꾼다.\n**한 번에 한 티어씩** 바꾼다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `featureCode` | **필수** | enum | **`CODE_SESSION` 하나뿐이다**(v07 기준) |\n| `tierCode` | **필수** | enum | `ACCURACY_FIRST` · `BALANCED` · `COST_FIRST` |\n| `modelId` | **필수** | UUID | 그 (기능, 티어)가 실제로 호출할 모델 |\n| `changeReason` | 선택 | string | 변경 사유 |\n\n## 응답\n\n변경 후의 **모델·단가 설정 전체**(`GET /model-settings` 와 같은 구조).\n화면을 그대로 다시 그리면 된다.\n\n## 채점 모델 변경과 다르다\n\n| | 채점 모델 | 티어 매핑 |\n|---|---|---|\n| 재캘리브레이션 | **발생** | **없음** |\n| 확인 플래그 | 필수 | 불필요 |\n| 되돌리기 | 사실상 불가 | 다시 바꾸면 됨 |\n\n코드 세션은 점수가 아니라 **산출물**이라 버전 간 비교 문제가 없다.\n화면의 확인 모달은 \"정말 바꿀지\"만 묻는 가벼운 확인이면 된다.\n\n(기능, 티어) 조합별로 버전이 올라가고 이전 활성 버전은 `SUPERSEDED` 로 닫힌다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 필수 누락 · `featureCode` 가 `CODE_SESSION` 이 아님 |\n| 400 `AI_MODEL_NOT_AVAILABLE` | 없는 모델이거나 `INACTIVE` 상태 |\n",
        "operationId": "updateTierModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTierModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "변경 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformModelSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI_MODEL_NOT_AVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_MODEL_NOT_AVAILABLE": {
                    "summary": "AI_MODEL_NOT_AVAILABLE",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "AI_MODEL_NOT_AVAILABLE",
                      "message": "사용할 수 없는 AI 모델입니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED — 토큰이 없거나 만료됐다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED — 이 역할로는 부를 수 없다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/models/{modelId}/pricing": {
      "put": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "모델 단가 수정 | ✅ 사용 가능",
        "description": "SA-03 ① `단가 · 모델별 입력·출력 토큰 단가` 행의 `입력`/`수정` 액션.\n\n## 요청\n\n**경로 변수** — `modelId` (**필수**, UUID). 조회 응답의 `modelPricings[].modelId`\n\n**JSON 본문** — 단가는 모두 **100만 토큰당** 값이다.\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `inputPricePerMillionTokens` | 조건부 | decimal | 입력 단가. 0 이상 |\n| `outputPricePerMillionTokens` | 조건부 | decimal | 출력 단가. 0 이상 |\n| `cachedInputPricePerMillionTokens` | 선택 | decimal | 캐시 입력 단가 |\n| `priceUnitTokenCount` | 선택 | int | 단가 기준 토큰 수. 기본 `1000000` |\n\n**입력·출력 단가는 함께 움직인다.**\n\n| 보내는 값 | 결과 |\n|---|---|\n| 입력·출력 **둘 다 값** | 단가 설정 |\n| 입력·출력 **둘 다 `null`** | **단가 미설정으로 되돌림** |\n| 한쪽만 값 | **400** — 쌍이 맞지 않음 |\n\n캐시 단가는 입력 단가가 있을 때만 설정할 수 있다(입력이 `null` 인데 캐시만 보내면 400).\n\n## ⚠️ 미설정과 0은 다르다\n\n단가를 지우려면 **`null`** 을 보내세요. **`0` 은 '무료'라는 뜻**이라 전혀 다릅니다.\n\n| | 사용량 집계에서 |\n|---|---|\n| `null`(미설정) | 비용 합계에서 **제외**하고 `unpricedCallCount` 로 따로 센다 |\n| `0` | 0원으로 **합산**된다 |\n\n목업 SA-03: *\"0으로 합산하면 청구액이 실제보다 작아 보인다.\"*\n\n## 응답\n\n변경 후의 **모델·단가 설정 전체**(`GET /model-settings` 와 같은 구조).\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 입력·출력 단가 쌍 불일치 · 캐시 단가만 지정 · 음수 |\n| 400 `AI_MODEL_NOT_AVAILABLE` | 없는 모델 |\n",
        "operationId": "updateModelPricing",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelPricingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformModelSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI_MODEL_NOT_AVAILABLE · 단가 쌍 불일치",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_MODEL_NOT_AVAILABLE": {
                    "summary": "AI_MODEL_NOT_AVAILABLE",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "AI_MODEL_NOT_AVAILABLE",
                      "message": "사용할 수 없는 AI 모델입니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED — 토큰이 없거나 만료됐다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED — 이 역할로는 부를 수 없다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/grading-model": {
      "put": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "채점 모델 변경 (전 기관 재캘리브레이션 유발) | ✅ 사용 가능",
        "description": "SA-03 ① `채점 · 고정 · claude-x` 행의 변경 액션.\n\n## ⚠️ 되돌릴 수 없다\n\n목업: *\"채점 모델을 바꾸면 **전 기관 재캘리브레이션**이 필요하고, 버전이 다른 결과끼리는\n화면에서 비교를 막는다.\"*\n\n**반드시 확인 모달을 거쳐 호출하세요.** 서버도 `acknowledgeRecalibration=true` 를\n요구해 한 번 더 막는다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `modelId` | **필수** | UUID | 새 채점 모델. `GET /model-settings` 의 `modelPricings[].modelId` 에서 고른다 |\n| `calibrationVersionCode` | **필수** | string | 새로 만들 캘리브레이션 버전 코드 |\n| `acknowledgeRecalibration` | **필수** | boolean | **반드시 `true`.** false·누락이면 400 |\n| `changeReason` | 선택 | string | 변경 사유(감사·이력용) |\n\n**`calibrationVersionCode` 는 조회해서 고르는 값이 아니라 직접 짓는 이름이다.**\n\n- 형식: `^[A-Z][A-Z0-9_]*$` — 대문자로 시작, 대문자·숫자·밑줄만. 100자 이하\n- **전체 UNIQUE** — 이미 쓴 값이면 409\n- 예: `CAL_2026_08_V1`\n\n## 응답\n\n변경 후의 **모델·단가 설정 전체**(`GET /model-settings` 와 같은 구조).\n화면을 그대로 다시 그리면 된다. `gradingPolicy.runningCalibration` 에 방금 만든\n재캘리브레이션 버전이 담긴다.\n\n## 한 번 호출하면 벌어지는 일\n\n한 트랜잭션에서:\n\n1. 현재 활성 채점 정책을 `SUPERSEDED` 로 닫고 **새 버전 발급**\n2. 새 캘리브레이션 버전 생성(`PENDING`)\n3. **삭제되지 않은 전 기관**에 재캘리브레이션 대기 행 생성\n\n⚠️ **실제 재캘리브레이션 실행은 별도 배치 담당이고, 그 배치가 아직 없다.**\n따라서 상태가 `PENDING` 에서 넘어가지 않으며, **다시 바꾸려 하면 계속 409 가 난다.**\n테스트 중이라면 개발 DB 에서 해당 버전 상태를 직접 정리해야 한다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | `acknowledgeRecalibration` 이 true 가 아님 · 버전 코드 형식 오류 |\n| 400 `AI_MODEL_NOT_AVAILABLE` | 없는 모델이거나 `INACTIVE` 상태 |\n| 409 `CALIBRATION_VERSION_CODE_TAKEN` | 이미 쓴 버전 코드 |\n| 409 `CALIBRATION_IN_PROGRESS` | **재캘리브레이션이 이미 진행 중** — 두 버전이 동시에 돌면 어느 쪽이 비교 기준인지 알 수 없다 |\n",
        "operationId": "updateGradingModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGradingModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "변경 성공(재캘리브레이션 대기 생성 완료)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformModelSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI_MODEL_NOT_AVAILABLE · 확인 플래그 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_MODEL_NOT_AVAILABLE": {
                    "summary": "AI_MODEL_NOT_AVAILABLE",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "AI_MODEL_NOT_AVAILABLE",
                      "message": "사용할 수 없는 AI 모델입니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED — 토큰이 없거나 만료됐다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED — 이 역할로는 부를 수 없다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CALIBRATION_IN_PROGRESS · CALIBRATION_VERSION_CODE_TAKEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CALIBRATION_IN_PROGRESS": {
                    "summary": "CALIBRATION_IN_PROGRESS",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "CALIBRATION_IN_PROGRESS",
                      "message": "재캘리브레이션이 이미 진행 중입니다."
                    }
                  },
                  "CALIBRATION_VERSION_CODE_TAKEN": {
                    "summary": "CALIBRATION_VERSION_CODE_TAKEN",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "CALIBRATION_VERSION_CODE_TAKEN",
                      "message": "이미 사용 중인 캘리브레이션 버전 코드입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/members/organizations/{organizationId}/managers/{managerId}/classrooms": {
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "매니저 담당 반 전체 교체 | ✅ 사용 가능",
        "description": "매니저 **한 명**의 담당 반을 한 번에 저장한다(9차 Q3-①).\n보낸 목록이 그대로 최종 상태가 되며, **전부 반영되거나 전부 반영되지 않는다.**\n\n## 왜 이 방향이 따로 있나\n\n`PATCH /cohorts/{cohortId}/classrooms/{classroomId}/managers`는 **반 하나 = 매니저 여럿**이라,\n매니저 상세 모달에서 담당 반 셋을 체크하면 `PATCH`를 반 수만큼 나눠 불러야 한다 —\n담당을 뗀 반까지 세면 더 늘어나고, **중간에 하나가 실패하면 절반만 반영된 상태**로 남는다.\n되돌릴 방법이 없다.\n\n이 API는 한 트랜잭션이라 그 상태가 생기지 않는다.\n\n💡 **두 방향이 같은 사실을 두 곳에서 갱신하는 것이 아니다.** 갱신 대상은 `manager_assignment`\n한 테이블이고, 각자 **자기 축의 현재 상태를 통째로 다시 쓴다**(둘 다 전체 교체).\n반 기준 모달은 반 기준 API를, 매니저 기준 모달은 이 API를 쓰면 된다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | 기관 식별자. 호출자의 소속 기관과 다르면 403 |\n| `managerId` | **필수** | UUID | 목록 응답의 `managerId` |\n| `classroomIds` | **필수** | UUID[] | 최종 담당 반 목록. 중복은 서버가 제거한다. **빈 배열이면 전체 해제** |\n\n`classroomIds`에 `null`은 허용하지 않는다 — 빈 배열(전체 해제)과 구분되지 않기 때문이다.\n\n**반은 여러 기수에 걸쳐도 된다.** 이 경로는 기수를 받지 않으므로, 매니저가 두 기수의 반을\n동시에 담당하는 편성도 한 번에 저장된다.\n\n## 응답 (200)\n\n**변경 후의 그 매니저 한 행**(`GET /managers` 응답 `content[]`의 항목과 같은 구조).\n`classroomNames`·`assignedTraineeCount`가 갱신되어 오므로 그 행만 갈아 끼우면 된다.\n\n## 동작\n\n- 지금 담당 중인 배정을 **전부 해제**(사유 `MANUAL_UNASSIGN`)한 뒤 요청받은 반으로 새로 만든다.\n  계속 담당할 반도 일단 놓고 다시 만든다 — \"유지되는 것만 남긴다\"로 하면 유지 판정이 한 벌 더 생긴다\n- 해제된 배정은 지워지지 않고 이력으로 남는다\n- **넘어온 반이 하나라도 이 기관 것이 아니면 아무것도 바꾸지 않고 404**다.\n  일부만 배정하면 화면이 무엇이 반영됐는지 알 수 없다\n",
        "operationId": "replaceManagerClassrooms",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "기관 ID. 호출자인 오퍼레이터의 소속 기관만 허용됩니다.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "managerId",
            "in": "path",
            "description": "담당 반을 바꿀 매니저의 사용자 ID(목록 응답의 managerId)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceManagerClassroomsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "담당 반 교체 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagerRosterEntry"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED classroomIds가 누락됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "VALIDATION_FAILED",
                      "message": "요청 값이 올바르지 않습니다.",
                      "fieldErrors": [
                        {
                          "code": "NOT_BLANK",
                          "message": "must not be blank",
                          "field": "answerText"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰이 없거나 만료됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED 오퍼레이터 권한이 아님 · INVITE_CROSS_ORGANIZATION 다른 기관을 지정함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  },
                  "INVITE_CROSS_ORGANIZATION": {
                    "summary": "INVITE_CROSS_ORGANIZATION",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "FORBIDDEN",
                      "code": "INVITE_CROSS_ORGANIZATION",
                      "message": "다른 기관에는 초대할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "MANAGER_NOT_FOUND 이 기관의 매니저가 아님 · CLASSROOM_NOT_FOUND 이 기관의 반이 아닌 ID가 포함됨(전체 거부)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "MANAGER_NOT_FOUND": {
                    "summary": "MANAGER_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "MANAGER_NOT_FOUND",
                      "message": "이 기관의 매니저 계정을 찾을 수 없습니다."
                    }
                  },
                  "CLASSROOM_NOT_FOUND": {
                    "summary": "CLASSROOM_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "CLASSROOM_NOT_FOUND",
                      "message": "반을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "ORGANIZATION_CONTEXT_MISSING 인증 정보에서 기관을 확인할 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORGANIZATION_CONTEXT_MISSING": {
                    "summary": "ORGANIZATION_CONTEXT_MISSING",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 500,
                      "error": "INTERNAL_SERVER_ERROR",
                      "code": "ORGANIZATION_CONTEXT_MISSING",
                      "message": "기관 컨텍스트를 확인할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/members/me/commit-email": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "내 커밋 이메일 조회 | ✅ 사용 가능",
        "description": "**상태**: ✅ 사용 가능\n\n인증 주체 본인의 커밋 이메일 등록·검증 상태를 조회합니다. 경로에 사용자 식별자가 없으며\n스코프는 액세스 토큰에서 도출합니다.\n\n**요청**: 파라미터 없음\n\n**응답 (200)**\n- registered: 등록 여부. `commitEmail` 존재 여부에서 파생하는 값이며 DB 컬럼이 아닙니다\n- commitEmail / status / verificationMethod / verifiedAt / updatedAt\n\n**미등록이면 `registered=false`이고 나머지는 모두 null입니다.** DB CHECK\n(`ck_app_user_commit_email_updated_at`)가 커밋 이메일 컬럼을 all-or-nothing으로 묶어\n\"주소는 있는데 상태가 없는\" 부분 등록 상태가 존재할 수 없기 때문입니다.\n\n**화면 상단 배너 노출 조건**은 `registered === false || status !== \"VERIFIED\"`입니다.\n",
        "operationId": "getMyCommitEmail",
        "responses": {
          "200": {
            "description": "조회 성공. 미등록이면 registered=false이고 나머지 필드는 null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitEmailResponse"
                },
                "examples": {
                  "등록됨 (검증 대기)": {
                    "description": "등록됨 (검증 대기)",
                    "value": {
                      "registered": true,
                      "commitEmail": "gildong@example.com",
                      "status": "PENDING",
                      "verificationMethod": null,
                      "verifiedAt": null,
                      "updatedAt": "2026-08-06T09:14:02Z"
                    }
                  },
                  "미등록": {
                    "description": "미등록",
                    "value": {
                      "registered": false,
                      "commitEmail": null,
                      "status": null,
                      "verificationMethod": null,
                      "verifiedAt": null,
                      "updatedAt": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰이 없거나 인증 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "호출자가 교육생(TRAINEE)이 아님",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`MEMBER_NOT_FOUND` — 인증은 통과했으나 계정이 삭제되어 조회되지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "MEMBER_NOT_FOUND": {
                    "summary": "MEMBER_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "MEMBER_NOT_FOUND",
                      "message": "인증 사용자를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "내 커밋 이메일 등록·변경 | ✅ 사용 가능",
        "description": "**상태**: ✅ 사용 가능\n\n인증 주체 본인의 커밋 이메일을 등록하거나 변경합니다. 사용자당 0..1개의 단일 값이고\n등록과 변경이 같은 동작이며 같은 값을 두 번 보내도 결과가 같으므로 **멱등한 PUT**입니다.\n성공 시 201이 아니라 **200**을 반환합니다.\n\n**요청** (application/json)\n- commitEmail (필수, 최대 320자): 커밋에 사용하는 이메일\n\n**응답 (200)**: 조회 API와 같은 형태이며 `status`는 항상 `PENDING`입니다.\n\n⚠️ **이 API는 `PENDING` 등록까지만 담당합니다.** `commit_email_verification_method`가\n`OAUTH` / `MANAGER_CONFIRMED` 두 가지뿐이라 **교육생 자가 입력만으로는 `VERIFIED`가 될 수 없습니다.**\n검증 완료 경로는 별건입니다.\n\n**이미 `VERIFIED`인 상태에서 주소를 바꾸면 검증이 초기화됩니다** — `status`가 `PENDING`으로\n내려가고 `verificationMethod`·`verifiedAt`이 함께 null이 됩니다.\n",
        "operationId": "updateMyCommitEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommitEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "등록·변경 성공. 멱등 동작이므로 최초 등록도 201이 아닌 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitEmailResponse"
                },
                "examples": {
                  "등록 직후": {
                    "description": "등록 직후",
                    "value": {
                      "registered": true,
                      "commitEmail": "gildong@example.com",
                      "status": "PENDING",
                      "verificationMethod": null,
                      "verifiedAt": null,
                      "updatedAt": "2026-08-06T09:14:02Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`INVALID_EMAIL_FORMAT` — 이메일 형식이 올바르지 않거나 비어 있거나 320자를 초과함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_EMAIL_FORMAT": {
                    "summary": "INVALID_EMAIL_FORMAT",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "INVALID_EMAIL_FORMAT",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰이 없거나 인증 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "호출자가 교육생(TRAINEE)이 아님",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`MEMBER_NOT_FOUND` — 인증은 통과했으나 계정이 삭제되어 갱신 대상이 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "MEMBER_NOT_FOUND": {
                    "summary": "MEMBER_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "MEMBER_NOT_FOUND",
                      "message": "인증 사용자를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`COMMIT_EMAIL_ALREADY_USED` — 같은 기관의 다른 **활성** 계정이 이미 쓰는 커밋 이메일 (`uq_app_user_commit_email_active` 위반). 탈퇴한 계정이 쓰던 값은 재사용할 수 있습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COMMIT_EMAIL_ALREADY_USED": {
                    "summary": "COMMIT_EMAIL_ALREADY_USED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "COMMIT_EMAIL_ALREADY_USED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/interviews/{caseId}/brief": {
      "get": {
        "tags": [
          "Intervention"
        ],
        "summary": "[면담 상세] 면담 브리프 조회 | ✅ 사용 가능",
        "description": "저장된 브리프를 읽습니다. **AI를 부르지 않아 즉시 반환됩니다.**\n\n### 생성은 이 경로가 하지 않습니다\n\n브리프는 `[브리프 생성]` 클릭 시 `POST`로 **1회만** 만들고, 그 뒤로는 이 `GET`이\n저장본을 돌려줍니다(정의서 §5 \"그때 브리프를 만든다 — 미리 만들어 두지 않는다\").\n아직 만들지 않은 케이스는 **404 `INTERVIEW_BRIEF_NOT_CREATED`** 입니다 —\n화면은 그 응답을 받으면 `[브리프 생성]` 버튼을 그립니다.\n\n### 질문은 전부 반환합니다\n\n`interview_brief_item.is_selected`로 거르지 않습니다. 화면에 질문을 고르는 UI가 없어\n(정의서 §7) 전 항목을 그대로 그립니다.\n\n### 아직 비어 있는 필드\n\n| 필드 | 사유 |\n|---|---|\n| `concepts` | 교안 위치·반 문제 판정이 DB 회신 대기. 빈 배열 |\n| `voidEvidence` | \"질문 문장 그대로 복사\" 판정 규칙이 미확정. null |\n",
        "operationId": "findInterviewBrief",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "description": "면담 케이스 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewBriefResponse"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED — 토큰이 없거나 만료됐다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "매니저 권한이 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "INTERVIEW_CASE_NOT_FOUND 담당 범위에서 찾을 수 없음\n· INTERVIEW_BRIEF_NOT_CREATED 아직 생성되지 않은 브리프",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERVIEW_CASE_NOT_FOUND": {
                    "summary": "INTERVIEW_CASE_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "INTERVIEW_CASE_NOT_FOUND",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "INTERVIEW_BRIEF_NOT_CREATED": {
                    "summary": "INTERVIEW_BRIEF_NOT_CREATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "INTERVIEW_BRIEF_NOT_CREATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "put": {
        "tags": [
          "Intervention"
        ],
        "summary": "[면담 상세] 브리프 저장하고 면담 종결 | ✅ 사용 가능",
        "description": "**저장은 항상 종결입니다**(정의서 §5). 별도의 \"면담 시작\" 단계가 없습니다 —\n면담하는 30분 동안 매니저는 화면을 안 보기 때문입니다.\n\n### 한 트랜잭션에서 여섯 가지를 합니다\n\n| | |\n|---|---|\n| ① | 원인 분류 **전체 교체**(기존 삭제 후 재삽입) |\n| ② | 매니저 기록 **덧붙이기**(기존 행은 고치지 않음) |\n| ③ | 브리프 확정 — 질문을 전부 `is_selected=TRUE`로 |\n| ④ | 잠금 재검증 — 선택 항목 1건 이상 |\n| ⑤ | 면담 `PENDING → COMPLETED` **직행** |\n| ⑥ | 상태 이력 1행 |\n\n`started_at`은 브리프를 연 시각을 알 수 없어 `completed_at`과 같은 값으로 기록합니다.\n\n### 종결 후 다시 저장하면 브리프는 그대로입니다\n\n수정 대상은 **원인과 매니저 기록뿐**이고 여는 말·질문은 종결 시점 그대로 고정됩니다.\n이 경우 ③~⑥을 건너뜁니다.\n\n### 빈 값도 저장됩니다\n\n원인 0건, 상세 사유 없음, 추후 계획 없음 모두 허용합니다 — 면담이 항상 원인을\n찾아내지는 않습니다.\n",
        "operationId": "saveInterviewBrief",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "description": "면담 케이스 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveInterviewBriefRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "저장·종결 완료. 갱신된 브리프를 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewBriefResponse"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED — 토큰이 없거나 만료됐다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED — 이 역할로는 부를 수 없다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "INTERVIEW_CASE_NOT_FOUND 담당 범위에서 찾을 수 없음\n· INTERVIEW_BRIEF_NOT_CREATED 브리프가 없거나 생성 실패 상태",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERVIEW_CASE_NOT_FOUND": {
                    "summary": "INTERVIEW_CASE_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "INTERVIEW_CASE_NOT_FOUND",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "INTERVIEW_BRIEF_NOT_CREATED": {
                    "summary": "INTERVIEW_BRIEF_NOT_CREATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "INTERVIEW_BRIEF_NOT_CREATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "BRIEF_HAS_NO_SELECTED_ITEM 질문이 없는 브리프\n· INTERVIEW_ROW_VERSION_CONFLICT 그 사이 상태가 바뀜",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "BRIEF_HAS_NO_SELECTED_ITEM": {
                    "summary": "BRIEF_HAS_NO_SELECTED_ITEM",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "BRIEF_HAS_NO_SELECTED_ITEM",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "INTERVIEW_ROW_VERSION_CONFLICT": {
                    "summary": "INTERVIEW_ROW_VERSION_CONFLICT",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "INTERVIEW_ROW_VERSION_CONFLICT",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "post": {
        "tags": [
          "Intervention"
        ],
        "summary": "[면담 목록] 면담 브리프 생성 (AI) | ✅ 사용 가능",
        "description": "**AI를 호출해 여는 말과 질문 체크리스트를 만듭니다. 보통 20~30초 걸립니다.**\n\n화면은 이 응답을 기다리는 동안 로딩 상태를 유지해야 합니다 — AI가 동기 계약이라\n(202+폴링이 아니라 200) 이 응답이 곧 결과입니다.\n\n### 대기 안내는 「잠시」가 아닙니다 (32차 R7)\n\n종전 문구가 「수 초」라 화면이 *「잠시 걸립니다」* 로 안내했는데, **실측 24초**입니다.\n20초 넘게 버튼 문구 하나만 보이면 매니저는 멈춘 것으로 읽습니다.\n\n**진행률을 줄 수 없는 구조입니다** — AI가 여는 말과 질문 4~8개를 한 번에 만들어\n한 응답으로 주므로 중간 단계가 없습니다. 그래서 **예상 소요를 문구로 말하는 것**이\n지금 할 수 있는 최선입니다(예: *「AI가 브리프를 만드는 중입니다 · 20초쯤 걸려요」*).\n\n왜 오래 걸리는지도 적어 둡니다 — 질문 하나하나가 **그 교육생의 회차 문답 원문**을\n근거로 나오므로, 회차 문항 수만큼 컨텍스트가 붙습니다. 사람마다 다르지만 20~30초가\n         일반적인 범위입니다.\n\n> 한 번 만든 브리프는 다시 만들지 않으므로(아래) **이 대기는 교육생당 한 번**입니다.\n\n### 브리프당 한 번만 만듭니다\n\n이미 완성된 브리프가 있으면 **다시 만들지 않고 그대로 돌려줍니다.**\n매니저가 열 때마다 여는 말이 달라지면 안 되고, LLM 비용도 열람 횟수만큼 나가서는\n안 됩니다.\n\n### 실패한 브리프는 이 경로로 재시도합니다\n\n생성이 끊겨 내용 없이 남은 DRAFT가 있으면 **그 행을 재사용**해 채웁니다\n(목록의 `briefState`가 `FAILED`인 상태). 붙어 있던 근거는 지우고 다시 만듭니다.\n\n### 무효 확인이 먼저입니다\n\n위험 유형이 `INVALID`인데 아직 판정하지 않았으면 **409**입니다.\n판정 전에는 `briefType`(STANDARD/INVALID_ATTEMPT)을 정할 수 없어 여는 말과 질문이\n통째로 어긋납니다.\n\n### 실패해도 브리프 행은 남습니다\n\n태운 토큰을 원장에 남겨야 하고 중복 호출 방지 장치가 그 행을 씁니다.\n그 상태에서 목록의 `briefState`는 `FAILED`가 되고 화면은 `[다시 생성]`을 그립니다.\n",
        "operationId": "createInterviewBrief",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "description": "면담 케이스 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Trace-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "생성 완료(또는 이미 있던 브리프)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewBriefResponse"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED — 토큰이 없거나 만료됐다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED — 이 역할로는 부를 수 없다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "INTERVIEW_CASE_NOT_FOUND 담당 범위에서 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INTERVIEW_CASE_NOT_FOUND": {
                    "summary": "INTERVIEW_CASE_NOT_FOUND",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "INTERVIEW_CASE_NOT_FOUND",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "VALIDITY_REVIEW_REQUIRED 무효 확인을 먼저 처리해야 함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDITY_REVIEW_REQUIRED": {
                    "summary": "VALIDITY_REVIEW_REQUIRED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "VALIDITY_REVIEW_REQUIRED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "BRIEF_GENERATION_FAILED 다시 불러도 같은 실패(계약 위반·멱등 충돌)\n· BRIEF_GENERATION_FAILED_RETRYABLE 재시도 가치가 있는 실패(타임아웃 등)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "BRIEF_GENERATION_FAILED": {
                    "summary": "BRIEF_GENERATION_FAILED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 503,
                      "error": "SERVICE_UNAVAILABLE",
                      "code": "BRIEF_GENERATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "BRIEF_GENERATION_FAILED_RETRYABLE": {
                    "summary": "BRIEF_GENERATION_FAILED_RETRYABLE",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 503,
                      "error": "SERVICE_UNAVAILABLE",
                      "code": "BRIEF_GENERATION_FAILED_RETRYABLE",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/submissions": {
      "post": {
        "tags": [
          "Submission"
        ],
        "summary": "GitHub 저장소 URL 제출·재제출 | ✅ 사용 가능",
        "description": "**제출 → 분석 → 세션까지 끝까지 간다.** 접수 직후 트리거되는 코드 분석은 AI 원본 서버\n(`ai.origin-base-url`)의 `POST /analyses`로 나가며 저장소 주소와 브랜치를 함께 싣는다 —\nclone·분석의 주체는 AI 서버이지만 그쪽으로 주소를 넘기는 경로는 백엔드에 있다.\n\n접수 전에 **AI 프록시를 먼저 깨운다**(`GET /api/health`). 원본은 PAUSED 상태를 스스로 깨우지\n못하고, 프록시가 원본이 RUNNING이 될 때까지 동기로 기다린다(유휴 후 첫 호출 80초 안팎,\n상한 `ai.proxy.warm-up-timeout` 기본 150초). 깨우지 못하면 접수 자체를 `AI_SERVER_UNAVAILABLE`로\n거절한다 — 접수만 받아 두면 실패가 한참 뒤 분석 화면에서야 드러나고 그때는 마감이 지나 있다.\nZIP 업로드도 같은 순서를 탄다.\n\n**제출 시점에 백엔드는 GitHub에 접근하지 않는다.** 검사하는 것은 URL 형식과 호스트뿐이고,\n저장소가 실제로 존재하는지·접근 가능한지는 분석 단계에서 판정된다. 따라서 형식만 맞으면 즉시\n`ACCEPTED`로 접수되며, `REPO_NOT_FOUND` 같은 사유는 이 API가 아니라\n`GET /submissions/{submissionId}/analysis`의 `failureCode`로 드러난다.\n\n제출은 **팀 단위**다. 팀원 누구나 제출할 수 있고, 마감 전이라면 다른 팀원이 재제출할 수도 있다.\n재제출은 기존 행 수정이 아니라 새 행 생성이며 직전 제출을 `supersedesSubmissionId`로 가리킨다.\n\n## 요청 (헤더)\n\n| 헤더 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `Idempotency-Key` | 필수 | UUID | 재시도로 인한 중복 제출을 막는다. 생략하면 `400`. 상세는 아래 참고 |\n\n동기 처리가 짧아도 네트워크 재시도로 중복 제출이 생길 수 있다. `uq_submission_current`는\n이를 막지 못하므로(두 번째 제출이 첫 번째를 supersede할 뿐이다) 이 헤더가 필수다.\n\n## 요청 (본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `assessmentRoundId` | 필수 | UUID | 제출 대상 회차 |\n| `repositoryUrl` | 필수 | string | 저장소 주소 원문. 최대 2000자. GitHub 호스트만 허용 |\n| `branch` | 선택 | string | 분석할 브랜치. 최대 255자. 비우면 AI가 기본 브랜치를 골라 `resolvedBranch`로 회신 |\n\n## 응답 (201)\n\n| 필드 | 타입 | 설명 |\n| --- | --- | --- |\n| `submissionId` | UUID | 제출 식별자. 이후 분석 조회에 쓴다 |\n| `method` | enum | `GITHUB_URL` |\n| `status` | enum | 접수 즉시 `ACCEPTED`. 내용 판정은 분석 단계의 사건이다 |\n| `submittedAt` | datetime | 마감 판정의 기준 시각 (ISO-8601 UTC) |\n| `current` | boolean | 팀·회차의 현재 제출인지 여부 |\n| `supersedesSubmissionId` | UUID? | 직전 제출. 첫 제출이면 `null` |\n| `repositoryVerificationId` | UUID? | 저장소 확인 실행. 분석 시점에 생기므로 접수 시점에는 `null` |\n| `artifactId` | UUID? | ZIP 전용. GitHub 제출은 항상 `null` |\n\n## 오류\n\n| 코드 | 상태 | 언제 |\n| --- | --- | --- |\n| `IDEMPOTENCY_KEY_REQUIRED` | 400 | 헤더를 보내지 않았다 |\n| `IDEMPOTENCY_KEY_INVALID` | 400 | 헤더가 UUID가 아니다 |\n| `INVALID_REPOSITORY_URL` | 400 | 주소 형식이 올바르지 않다 |\n| `UNSUPPORTED_HOST` | 400 | GitHub이 아닌 호스트다 |\n| `SUBMISSION_ROUND_NOT_ACCESSIBLE` | 404 | 이 교육생이 제출할 수 있는 회차가 아니다 |\n| `SUBMISSION_ROUND_NOT_OPEN` | 409 | 회차가 `OPEN`이 아니다 |\n| `SUBMISSION_DEADLINE_PASSED` | 409 | 마감이 지났다 |\n| `SUBMISSION_METHOD_NOT_ALLOWED` | 409 | 기관 정책이 GitHub 제출을 막았다 |\n| `IDEMPOTENCY_KEY_CONFLICT` | 409 | 같은 키를 다른 회차에 재사용했다 |\n| `AI_SERVER_UNAVAILABLE` | 503 | AI 프록시를 깨우지 못했다. **재시도하면 된다** |\n\nZIP 업로드는 같은 리소스를 만들지만 `POST /submissions/zip`으로 분리돼 있다.\n\n## 🔴 성공 몸이 세 가지다 — 셋 다 `201`이다\n\n| 상황 | `supersedesSubmissionId` | `submissionId` |\n|---|---|---|\n| 첫 제출 | `null` | 새 값 |\n| 재제출 | **직전 제출 ID** | 새 값 |\n| 멱등 재시도(같은 키·같은 내용) | 최초 결과 그대로 | **최초와 같은 값** |\n\n세 번째가 있어서 클라이언트는 **`201`을 \"새로 만들어졌다\"로 읽으면 안 된다.** 같은 멱등키로\n재시도하면 새 행을 만들지 않고 최초 결과를 그대로 돌려주므로, 화면이 제출 횟수를 세고 있다면\n응답의 `submissionId`로 중복을 걸러야 한다.\n\n`null`인 필드는 키가 빠지지 않고 `null`로 온다 — 세션 API와 직렬화 규칙이 다르다.",
        "operationId": "submitGithubUrl",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키(UUID, 필수). **제출 버튼을 누른 순간 하나 만들어** 그 제출이 끝날 때까지 보관한다.\n\n- 타임아웃·5xx·네트워크 오류로 **재시도할 때는 같은 값**을 그대로 다시 보낸다 → 서버가 최초 결과를 반환한다\n- 사용자가 입력을 고쳐 **다시 제출하면 새 값**을 만든다 (재제출은 별개의 제출이다)\n- 같은 키를 **다른 회차**에 재사용하면 `409 IDEMPOTENCY_KEY_CONFLICT`로 거절한다\n- 서버가 대신 만들어 주지 않는다. 생략하면 `400`이다 — 임의 값을 채우면 멱등 판정이\n  항상 실패하는데 그 사실이 클라이언트에게 보이지 않기 때문이다",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGithubSubmissionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "제출 접수됨. 첫 제출·재제출·멱등 재시도가 모두 이 상태다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                },
                "examples": {
                  "첫 제출": {
                    "description": "첫 제출",
                    "value": {
                      "submissionId": "7d3c8a15-6e29-4b70-9c81-2f5a4d0b6e37",
                      "method": "GITHUB_URL",
                      "status": "ACCEPTED",
                      "submittedAt": "2026-08-15T04:02:11Z",
                      "current": true,
                      "supersedesSubmissionId": null,
                      "repositoryVerificationId": null,
                      "artifactId": null
                    }
                  },
                  "재제출 (직전 제출을 supersede)": {
                    "description": "기존 행 수정이 아니라 새 행이다. 직전 제출은 current=false가 된다",
                    "value": {
                      "submissionId": "b1f4e2d9-30a7-4c68-85be-9d1c7a3f6042",
                      "method": "GITHUB_URL",
                      "status": "ACCEPTED",
                      "submittedAt": "2026-08-15T06:41:55Z",
                      "current": true,
                      "supersedesSubmissionId": "7d3c8a15-6e29-4b70-9c81-2f5a4d0b6e37",
                      "repositoryVerificationId": null,
                      "artifactId": null
                    }
                  },
                  "멱등 재시도 (같은 Idempotency-Key)": {
                    "description": "새 행을 만들지 않는다. submissionId와 submittedAt이 최초 제출 그대로다",
                    "value": {
                      "submissionId": "7d3c8a15-6e29-4b70-9c81-2f5a4d0b6e37",
                      "method": "GITHUB_URL",
                      "status": "ACCEPTED",
                      "submittedAt": "2026-08-15T04:02:11Z",
                      "current": true,
                      "supersedesSubmissionId": null,
                      "repositoryVerificationId": null,
                      "artifactId": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "IDEMPOTENCY_KEY_REQUIRED · IDEMPOTENCY_KEY_INVALID · INVALID_REPOSITORY_URL · UNSUPPORTED_HOST · VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "IDEMPOTENCY_KEY_REQUIRED": {
                    "summary": "IDEMPOTENCY_KEY_REQUIRED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "IDEMPOTENCY_KEY_REQUIRED",
                      "message": "Idempotency-Key 헤더가 필요합니다."
                    }
                  },
                  "IDEMPOTENCY_KEY_INVALID": {
                    "summary": "IDEMPOTENCY_KEY_INVALID",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "IDEMPOTENCY_KEY_INVALID",
                      "message": "Idempotency-Key는 UUID 형식이어야 합니다."
                    }
                  },
                  "INVALID_REPOSITORY_URL": {
                    "summary": "INVALID_REPOSITORY_URL",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "INVALID_REPOSITORY_URL",
                      "message": "저장소 주소 형식이 올바르지 않습니다."
                    }
                  },
                  "UNSUPPORTED_HOST": {
                    "summary": "UNSUPPORTED_HOST",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "UNSUPPORTED_HOST",
                      "message": "GitHub 저장소 주소만 제출할 수 있습니다."
                    }
                  },
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "VALIDATION_FAILED",
                      "message": "요청 값이 올바르지 않습니다.",
                      "fieldErrors": [
                        {
                          "code": "NOT_BLANK",
                          "message": "must not be blank",
                          "field": "answerText"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "SUBMISSION_ROUND_NOT_ACCESSIBLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "SUBMISSION_ROUND_NOT_ACCESSIBLE": {
                    "summary": "SUBMISSION_ROUND_NOT_ACCESSIBLE",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "SUBMISSION_ROUND_NOT_ACCESSIBLE",
                      "message": "제출할 수 있는 회차를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "SUBMISSION_ROUND_NOT_OPEN · SUBMISSION_DEADLINE_PASSED · SUBMISSION_METHOD_NOT_ALLOWED · IDEMPOTENCY_KEY_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "SUBMISSION_ROUND_NOT_OPEN": {
                    "summary": "SUBMISSION_ROUND_NOT_OPEN",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "SUBMISSION_ROUND_NOT_OPEN",
                      "message": "지금은 제출할 수 있는 회차가 아닙니다."
                    }
                  },
                  "SUBMISSION_DEADLINE_PASSED": {
                    "summary": "SUBMISSION_DEADLINE_PASSED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "SUBMISSION_DEADLINE_PASSED",
                      "message": "제출 마감이 지났습니다."
                    }
                  },
                  "SUBMISSION_METHOD_NOT_ALLOWED": {
                    "summary": "SUBMISSION_METHOD_NOT_ALLOWED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "SUBMISSION_METHOD_NOT_ALLOWED",
                      "message": "기관이 허용하지 않는 제출 수단입니다."
                    }
                  },
                  "IDEMPOTENCY_KEY_CONFLICT": {
                    "summary": "IDEMPOTENCY_KEY_CONFLICT",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "IDEMPOTENCY_KEY_CONFLICT",
                      "message": "이미 다른 요청에 사용된 Idempotency-Key입니다."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "AI_SERVER_UNAVAILABLE — **재시도하면 된다.** 같은 멱등키를 그대로 쓴다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_SERVER_UNAVAILABLE": {
                    "summary": "AI_SERVER_UNAVAILABLE",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 503,
                      "error": "SERVICE_UNAVAILABLE",
                      "code": "AI_SERVER_UNAVAILABLE",
                      "message": "AI 서버에 연결할 수 없어 지금은 제출할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/submissions/zip": {
      "post": {
        "tags": [
          "Submission"
        ],
        "summary": "ZIP 업로드 제출·재제출 | ✅ 사용 가능",
        "description": "GitHub URL 제출과 같은 리소스를 만드는 다른 표현이지만 **경로를 분리한다.** OpenAPI는\n경로·메서드당 operation이 하나뿐이라, 한 경로에 `consumes`만 다른 핸들러를 둘 두면 springdoc이\n둘을 한 operation으로 병합한다. 그러면 Swagger UI에서 `application/json`을 골라도 multipart\n입력 폼이 뜨고, ZIP 전용 쿼리 파라미터가 JSON 쪽에도 필수로 붙는다.\n\n**접수는 `ACCEPTED`로 끝난다.** 백엔드가 보는 것은 크기와 압축 형식뿐이고,\n`EMPTY_CODE`·`GIT_LOG_MISSING` 같은 내용 판정은 분석 단계에서 AI가 `failureCode`로\n돌려준다. 접수 즉시 분석이 트리거된다.\n\n## 요청 (헤더)\n\n| 헤더 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `Idempotency-Key` | 필수 | UUID | 재시도로 인한 중복 업로드를 막는다. 생략하면 `400` |\n\n## 요청 (쿼리 파라미터)\n\n| 파라미터 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `assessmentRoundId` | 필수 | UUID | 제출 대상 회차 |\n\n## 요청 (multipart/form-data)\n\n| 파트 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `file` | 필수 | binary | git log를 포함한 ZIP. **상한 50MB** |\n\n### 🔴 상한은 정확히 50MB = 52,428,800 바이트\n\n**화면 상한과 서버 상한이 같아야 한다** — 다르면 \"올린 뒤에 거절\"이 생긴다.\n서버 값은 `app.submission.max-zip-bytes`(기본 `52428800`)이고, 이 값을 넘으면\n`413 FILE_TOO_LARGE`다.\n\n그 앞에 톰캣 상한이 하나 더 있다(`spring.servlet.multipart.max-file-size`, 기본 `60MB`).\n**일부러 넉넉하게 잡아 둔 것**이라, 50~60MB 파일은 톰캣을 통과한 뒤 컨트롤러에서\n`413 FILE_TOO_LARGE`로 거절된다 — 톰캣이 먼저 끊으면 우리 에러 코드가 실리지 않아\n화면이 사유를 알 수 없기 때문이다.\n\n## 응답 (202)\n\n| 필드 | 타입 | 설명 |\n| --- | --- | --- |\n| `submissionId` | UUID | 제출 식별자. 이후 분석 조회에 쓴다 |\n| `method` | enum | `ZIP_WITH_GITLOG` |\n| `status` | enum | 접수 즉시 `ACCEPTED` |\n| `submittedAt` | datetime | 업로드 접수 시각 (ISO-8601 UTC) |\n| `current` | boolean | 팀·회차의 현재 제출인지 여부 |\n| `supersedesSubmissionId` | UUID? | 직전 제출. 첫 제출이면 `null` |\n| `repositoryVerificationId` | UUID? | GitHub 전용. ZIP 제출은 항상 `null` |\n| `artifactId` | UUID? | 저장된 아티팩트 식별자 |\n\n## 오류\n\n| 코드 | 상태 | 언제 |\n| --- | --- | --- |\n| `IDEMPOTENCY_KEY_REQUIRED` | 400 | 헤더를 보내지 않았다 |\n| `IDEMPOTENCY_KEY_INVALID` | 400 | 헤더가 UUID가 아니다 |\n| `ARCHIVE_INVALID` | 400 | 빈 파일이거나 ZIP으로 열리지 않는다 |\n| `SUBMISSION_ROUND_NOT_ACCESSIBLE` | 404 | 이 교육생이 제출할 수 있는 회차가 아니다 |\n| `SUBMISSION_ROUND_NOT_OPEN` | 409 | 회차가 `OPEN`이 아니다 |\n| `SUBMISSION_DEADLINE_PASSED` | 409 | 마감이 지났다 |\n| `SUBMISSION_METHOD_NOT_ALLOWED` | 409 | `organization_policy.allow_zip_submission=FALSE`다 |\n| `IDEMPOTENCY_KEY_CONFLICT` | 409 | 같은 키를 다른 회차에 재사용했다 |\n| `FILE_TOO_LARGE` | 413 | 허용 크기를 넘었다 |\n| `ARTIFACT_STORE_FAILED` | 500 | 파일 저장에 실패했다 |\n| `AI_SERVER_UNAVAILABLE` | 503 | AI 프록시를 깨우지 못했다. **재시도하면 된다** |\n\n> **2026-08-09 보류 해제.** 종전에는 \"AI 서버에 ZIP을 전달할 자리가 없다\"는 이유로 이\n> 경로를 막아 두었으나, `POST /api/v0/analyses`에 `multipart/form-data`(`payload` +\n> `file`) 경로가 생겨 근거가 사라졌다. S3 presigned URL이 아니라 **백엔드가 파일을 직접\n> 실어 보내는** 방식이라, GitHub 제출과 달리 AI 서버에 저장소 접근 권한이 없어도 된다.\n\n## 🔴 성공 몸이 세 가지다 — 셋 다 `202`다\n\n| 상황 | `supersedesSubmissionId` | `submissionId` |\n|---|---|---|\n| 첫 제출 | `null` | 새 값 |\n| 재제출 | **직전 제출 ID** | 새 값 |\n| 멱등 재시도(같은 키) | 최초 결과 그대로 | **최초와 같은 값** |\n\nGitHub 제출과 다른 점은 `artifactId`가 채워지고 `repositoryVerificationId`가 항상 `null`이라는\n것뿐이다. `202`를 \"새로 만들어졌다\"로 읽으면 안 되는 이유도 같다 — 멱등 재시도가 같은 상태로\n최초 결과를 돌려준다.",
        "operationId": "submitZip",
        "parameters": [
          {
            "name": "assessmentRoundId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키(UUID, 필수). **제출 버튼을 누른 순간 하나 만들어** 그 제출이 끝날 때까지 보관한다.\n\n- 타임아웃·5xx·네트워크 오류로 **재시도할 때는 같은 값**을 그대로 다시 보낸다 → 서버가 최초 결과를 반환한다\n- 사용자가 입력을 고쳐 **다시 제출하면 새 값**을 만든다 (재제출은 별개의 제출이다)\n- 같은 키를 **다른 회차**에 재사용하면 `409 IDEMPOTENCY_KEY_CONFLICT`로 거절한다\n- 서버가 대신 만들어 주지 않는다. 생략하면 `400`이다 — 임의 값을 채우면 멱등 판정이\n  항상 실패하는데 그 사실이 클라이언트에게 보이지 않기 때문이다",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "업로드 접수됨. 분석은 비동기로 이어진다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                },
                "examples": {
                  "첫 업로드": {
                    "description": "첫 업로드",
                    "value": {
                      "submissionId": "5a2b9c74-1de3-4f86-90a5-6c8e3b7d2f19",
                      "method": "ZIP_WITH_GITLOG",
                      "status": "ACCEPTED",
                      "submittedAt": "2026-08-15T04:02:11Z",
                      "current": true,
                      "supersedesSubmissionId": null,
                      "repositoryVerificationId": null,
                      "artifactId": "e8f1d0a6-4b57-4c29-83de-1a7b5c9f2064"
                    }
                  },
                  "재업로드 (직전 제출을 supersede)": {
                    "description": "재업로드 (직전 제출을 supersede)",
                    "value": {
                      "submissionId": "c7e0b342-95af-4d18-a26f-3b8d1e5c7049",
                      "method": "ZIP_WITH_GITLOG",
                      "status": "ACCEPTED",
                      "submittedAt": "2026-08-15T06:41:55Z",
                      "current": true,
                      "supersedesSubmissionId": "5a2b9c74-1de3-4f86-90a5-6c8e3b7d2f19",
                      "repositoryVerificationId": null,
                      "artifactId": "9b4c6e28-7d15-403a-b8f9-2e6a1c5d8703"
                    }
                  },
                  "멱등 재시도 (같은 Idempotency-Key)": {
                    "description": "새 아티팩트를 저장하지 않는다. 최초 결과 그대로다",
                    "value": {
                      "submissionId": "5a2b9c74-1de3-4f86-90a5-6c8e3b7d2f19",
                      "method": "ZIP_WITH_GITLOG",
                      "status": "ACCEPTED",
                      "submittedAt": "2026-08-15T04:02:11Z",
                      "current": true,
                      "supersedesSubmissionId": null,
                      "repositoryVerificationId": null,
                      "artifactId": "e8f1d0a6-4b57-4c29-83de-1a7b5c9f2064"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "IDEMPOTENCY_KEY_REQUIRED · IDEMPOTENCY_KEY_INVALID · ARCHIVE_INVALID · VALIDATION_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "IDEMPOTENCY_KEY_REQUIRED": {
                    "summary": "IDEMPOTENCY_KEY_REQUIRED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "IDEMPOTENCY_KEY_REQUIRED",
                      "message": "Idempotency-Key 헤더가 필요합니다."
                    }
                  },
                  "IDEMPOTENCY_KEY_INVALID": {
                    "summary": "IDEMPOTENCY_KEY_INVALID",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "IDEMPOTENCY_KEY_INVALID",
                      "message": "Idempotency-Key는 UUID 형식이어야 합니다."
                    }
                  },
                  "ARCHIVE_INVALID": {
                    "summary": "ARCHIVE_INVALID",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "ARCHIVE_INVALID",
                      "message": "ZIP 파일을 열 수 없습니다."
                    }
                  },
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "VALIDATION_FAILED",
                      "message": "요청 값이 올바르지 않습니다.",
                      "fieldErrors": [
                        {
                          "code": "NOT_BLANK",
                          "message": "must not be blank",
                          "field": "answerText"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "SUBMISSION_ROUND_NOT_ACCESSIBLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "SUBMISSION_ROUND_NOT_ACCESSIBLE": {
                    "summary": "SUBMISSION_ROUND_NOT_ACCESSIBLE",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 404,
                      "error": "NOT_FOUND",
                      "code": "SUBMISSION_ROUND_NOT_ACCESSIBLE",
                      "message": "제출할 수 있는 회차를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "SUBMISSION_ROUND_NOT_OPEN · SUBMISSION_DEADLINE_PASSED · SUBMISSION_METHOD_NOT_ALLOWED · IDEMPOTENCY_KEY_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "SUBMISSION_ROUND_NOT_OPEN": {
                    "summary": "SUBMISSION_ROUND_NOT_OPEN",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "SUBMISSION_ROUND_NOT_OPEN",
                      "message": "지금은 제출할 수 있는 회차가 아닙니다."
                    }
                  },
                  "SUBMISSION_DEADLINE_PASSED": {
                    "summary": "SUBMISSION_DEADLINE_PASSED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "SUBMISSION_DEADLINE_PASSED",
                      "message": "제출 마감이 지났습니다."
                    }
                  },
                  "SUBMISSION_METHOD_NOT_ALLOWED": {
                    "summary": "SUBMISSION_METHOD_NOT_ALLOWED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "SUBMISSION_METHOD_NOT_ALLOWED",
                      "message": "기관이 허용하지 않는 제출 수단입니다."
                    }
                  },
                  "IDEMPOTENCY_KEY_CONFLICT": {
                    "summary": "IDEMPOTENCY_KEY_CONFLICT",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 409,
                      "error": "CONFLICT",
                      "code": "IDEMPOTENCY_KEY_CONFLICT",
                      "message": "이미 다른 요청에 사용된 Idempotency-Key입니다."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "FILE_TOO_LARGE — 50MB(52,428,800 바이트) 초과",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "FILE_TOO_LARGE": {
                    "summary": "FILE_TOO_LARGE",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 413,
                      "error": "CONTENT_TOO_LARGE",
                      "code": "FILE_TOO_LARGE",
                      "message": "허용 크기를 넘는 파일입니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "ARTIFACT_STORE_FAILED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ARTIFACT_STORE_FAILED": {
                    "summary": "ARTIFACT_STORE_FAILED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 500,
                      "error": "INTERNAL_SERVER_ERROR",
                      "code": "ARTIFACT_STORE_FAILED",
                      "message": "제출 파일을 저장하지 못했습니다."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "AI_SERVER_UNAVAILABLE — **재시도하면 된다.** 같은 멱등키를 그대로 쓴다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_SERVER_UNAVAILABLE": {
                    "summary": "AI_SERVER_UNAVAILABLE",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 503,
                      "error": "SERVICE_UNAVAILABLE",
                      "code": "AI_SERVER_UNAVAILABLE",
                      "message": "AI 서버에 연결할 수 없어 지금은 제출할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/submissions/repository-checks": {
      "post": {
        "tags": [
          "Submission"
        ],
        "summary": "저장소 주소 사전 확인 | ✅ 사용 가능",
        "description": "**제출 버튼을 누르기 전에** 저장소 주소를 한 번 확인한다. 제출 시점의 형식·호스트 검사를\n그대로 미리 돌려 보는 것이라, 여기서 통과한 주소는 `POST /submissions`에서 같은 이유로\n거절되지 않는다.\n\n## 🔴 무엇을 확인하고 무엇을 확인하지 않는가\n\n| | 확인한다 | 통과 뒤에도 실패할 수 있는 것 |\n|---|---|---|\n| | 주소 형식(`scheme`·경로 깊이·허용 문자) | 저장소가 실제로 존재하는가 |\n| | 호스트가 `github.com`인가 | **비공개·조직 밖이라 접근이 막히는가** |\n| | `.git`·후행 슬래시·대소문자 정규화 | 브랜치가 있는가 |\n\n⚠️ **저장소 존재·접근 여부는 이 API가 답할 수 없다.** 백엔드에는 GitHub 경로가 없고\nclone·fetch 주체가 AI 서버로 확정돼 있기 때문이다(2026-08-06). 그 실패는 분석 단계에서\n`GET /submissions/{submissionId}/analysis`의 `failureCode`에 `REPO_NOT_FOUND`·\n`REPOSITORY_ACCESS_DENIED`로 나타난다.\n\n**그래서 \"비공개 저장소는 ZIP으로\" 안내는 이 응답이 아니라 분석 실패 응답에 붙어야 한다.**\n여기서 미리 막을 수 있는 것은 오타·잘못된 호스트·저장소가 아닌 주소까지다 — 실제로 가장\n흔한 부류이고, 이것만 걸러도 \"제출 뒤 분석 실패로 마감을 놓치는\" 경로 하나가 사라진다.\n\n## 요청\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `repoUrl` | string | 확인할 주소. `https://` 생략 가능 |\n\n**회차를 받지 않는다.** 주소 자체에 대한 판정이라 회차·팀·마감과 무관하고, 화면이\n제출 폼을 그리기 전에도 부를 수 있어야 한다.\n\n## 응답 (200)\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `ok` | boolean | 200에서는 **항상 `true`** |\n| `normalizedUrl` | string | 정규화 주소. 확인 문구에 그대로 쓰면 오타가 눈에 보인다 |\n| `ownerLogin` | string | 소유자(사용자·조직) |\n| `repositoryName` | string | 저장소 이름 |\n\n`ok: false`를 두지 않은 이유는 형식 불일치와 저장소 없음이 서로 다른 안내로 이어지기\n때문이다 — 전자는 입력을 고치면 되고 후자는 ZIP으로 갈아타야 한다. boolean 하나에 겹쳐\n담으면 화면이 두 사건을 같은 분기로 처리하게 된다.\n\n## 부수 효과가 없다\n\n행을 만들지 않고 멱등키도 쓰지 않는다. 입력 중에 여러 번 불러도 된다.\n\n## 오류\n\n| 코드 | 상태 | 언제 |\n|---|---|---|\n| `INVALID_REPOSITORY_URL` | 400 | 형식이 저장소 주소가 아니다(`/tree/main` 등 더 깊은 경로 포함) |\n| `UNSUPPORTED_HOST` | 400 | `github.com`이 아니다 |\n",
        "operationId": "checkRepository",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepositoryCheckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "INVALID_REPOSITORY_URL · UNSUPPORTED_HOST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_REPOSITORY_URL": {
                    "summary": "INVALID_REPOSITORY_URL",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "INVALID_REPOSITORY_URL",
                      "message": "저장소 주소 형식이 올바르지 않습니다."
                    }
                  },
                  "UNSUPPORTED_HOST": {
                    "summary": "UNSUPPORTED_HOST",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 400,
                      "error": "BAD_REQUEST",
                      "code": "UNSUPPORTED_HOST",
                      "message": "GitHub 저장소 주소만 제출할 수 있습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED — 토큰이 없거나 만료됐다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED — 이 역할로는 부를 수 없다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 403,
                      "error": "Access Denied",
                      "code": "ACCESS_DENIED",
                      "message": "접근 권한이 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/projects/{projectId}/teams": {
      "get": {
        "tags": [
          "Project Execution"
        ],
        "summary": "팀 목록 조회 | ✅ 사용 가능",
        "description": "프로젝트의 팀 편성 현황을 조회한다(MG-08 팀 탭).\n\n**요청**\n- projectId (경로): 대상 프로젝트 ID\n\n**응답 (200)**\n- teams[]: 팀 목록(teamId · **classId** · **className** · teamNumber · name ·\n  status · memberCount · **members[]**)\n- unassignedMembers[] / unassignedCount: 아직 어느 팀에도 속하지 않은 인원 —\n  화면의 \"팀에 들어가지 않은 사람이 n명 있어요\" 배너가 이 값을 쓴다\n\n## 🔴 30차 R3 — 담당 반만 온다\n\n**매니저의 담당 반에 속한 팀만** 내려간다. 제출 현황(`findProjectSubmissionStatus`)·\n반별 진행(`findClassProgress`)과 같은 모집단이다. 담당 반이 없으면 빈 배열이다.\n\n종전에는 기수 전체(48팀)가 나왔다. 이 조회는 매니저 전용이라 오퍼레이터 갈래가 없다.\n\n## 🔴 30차 R4 — 반 이름과 구성원\n\n`teamNumber`는 **반 안에서만** 유일하다. 반이 여덟이면 `1팀`이 여덟 번 나오므로\n`className` 없이는 목록에서 팀을 구분할 수 없다. 담당 반이 둘 이상인 매니저가 있어\n담당 반으로 좁힌 뒤에도 이 값이 필요하다.\n\n`members[]`는 `unassignedMembers[]`와 **같은 모양**(projectMembershipId · userId ·\nname)이다 — 편성 화면이 사람을 두 목록 사이로 끌어다 옮기는 자리라 한 컴포넌트로\n다룰 수 있어야 한다. `memberCount`는 이 배열의 길이다.\n\n⚠️ 팀 편성 화면의 5단계(편성 전·편성 중·전원 배정·확정·제출 시작)를 이 응답 하나로\n전부 판정할 수는 없다 — \"제출 시작됨\" 여부는 Submission 도메인(미착수)이 있어야\n알 수 있어 지금은 status(DRAFT/CONFIRMED)와 unassignedCount까지만 내려준다.\n",
        "operationId": "findTeams",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "프로젝트 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "팀 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamListResponse"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "timestamp": "2026-08-15T04:21:33.512Z",
                      "status": 401,
                      "error": "Unauthenticated",
                      "code": "UNAUTHENTICATED",
                      "message": "로그인이 필요합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
[...]
