{
  "openapi": "3.1.0",
  "info": {
    "title": "IZ-Get",
    "description": "IZ-Get API Specification",
    "version": "v0.1"
  },
  "servers": [
    {
      "url": "https://mmbvymzj5k.ap-northeast-1.awsapprunner.com",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Academic Operations",
      "description": "기수, 반, 교육생 소속 이력, 매니저 반 배정 API"
    },
    {
      "name": "Consent",
      "description": "가입 화면 동의 항목 조회 API"
    },
    {
      "name": "Submission",
      "description": "교육생 코드 제출과 코드 분석 상태 조회 API"
    },
    {
      "name": "Organization",
      "description": "기관 프로비저닝, 기관 상태, 계약, 기관별 운영 정책, 기관 삭제·복구 API (v2 IA: SA-01 기관 목록 / SA-02 기관 상세)"
    },
    {
      "name": "Project",
      "description": "프로젝트 진행 현황 조회"
    },
    {
      "name": "Platform Governance",
      "description": "플랫폼 전역 AI 모델 정책, 모델 티어, 단가, 보정 버전, 전역 설정 API (v2 IA: SA-03 플랫폼 설정 — 모델·단가 / 슈퍼어드민 계정)"
    },
    {
      "name": "Project Execution",
      "description": "프로젝트 구성·일정·요구사항 API"
    },
    {
      "name": "Analytics",
      "description": "기수 분석 격자 조회"
    },
    {
      "name": "Reporting",
      "description": "리포트 발행 이력·본문·문답 조회 API (v2 IA: TR-04 / OP-05)"
    },
    {
      "name": "Curriculum",
      "description": "교안 조회 API (MG-09/OP-06)"
    },
    {
      "name": "Notification",
      "description": "매니저 인박스와 독촉 발송"
    },
    {
      "name": "Member",
      "description": "사용자 계정, 역할, 초대, 활성화, 계정 상태, 약관 동의 API (매니저·교육생)"
    },
    {
      "name": "Assessment",
      "description": "교육생 이해도 확인 회차"
    },
    {
      "name": "Disclosure",
      "description": "리포트 공개 범위 조회·설정 API (v2 IA: TR-04 / MG-08)"
    },
    {
      "name": "Auth",
      "description": "로그인, Access/Refresh Token 재발급·세션 폐기, 비밀번호 재설정, 초대 계정 활성화 API"
    },
    {
      "name": "Usage Metering",
      "description": "AI 호출량·토큰·비용, 저장소 사용량, 기관 한도, 비용 집계 API (v2 IA: SA-02 ③④ / OP-06 ⑤)"
    }
  ],
  "paths": {
    "/api/v0/reports/{reportId}/disclosure": {
      "get": {
        "tags": [
          "Disclosure"
        ],
        "summary": "내 리포트 공개 상태 조회 | ✅ 사용 가능",
        "description": "TR-04에서 **본문이 안 열리는 이유**를 판별한다. `GET /reports`가 회차 상태까지\n같이 주므로 화면이 매번 부를 필요는 없고, `PENDING_VISIBILITY`처럼\n**공개 쪽 사정으로 잠긴 회차**를 눌렀을 때 확인용으로 쓴다.\n\n**교육생 본인 것만 나간다.** `traineeId`를 받지 않고 인증 주체로 결정한다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `reportId` | **필수** | UUID | 리포트 식별자. `assessmentRoundId`가 아니다 |\n\n## 응답\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `releaseStatus` | enum | **판별자.** `NOT_CONFIGURED` · `WITHHELD` · `RELEASED` |\n| `scope` | enum? | `PRIVATE` · `SUMMARY` · `FULL`. 미지정이면 **키가 빠진다** |\n| `publishedAt` | instant? | 발행 시각. 발행 전이면 키가 빠진다 |\n| `releasedAt` | instant? | 공개 처리 시각. `RELEASED`에서만 |\n| `bodyVisible` | boolean | 본문을 읽을 수 있는가 |\n| `visibleFields` | object | `{said, curriculumRef, qa}` — 범위가 여는 필드 |\n\n## 상태 3종이 화면에서 뜻하는 것\n\n| `releaseStatus` | 화면 |\n|---|---|\n| `NOT_CONFIGURED` | `공개 범위 미지정` — **결과는 나와 있고 매니저가 여는 시점만 남았다** |\n| `WITHHELD` | 회차는 목록에 보이되 본문이 잠긴다 |\n| `RELEASED` | `PUBLISHED` |\n\n⚠️ **셋 다 정상 상태라 오류를 던지지 않는다.** 본문 조회가 막히는 것과 다르다 —\n이 API는 \"왜 막혔나\"를 알려 주는 쪽이므로 200으로 상태를 싣는다.\n\n## visibleFields — 범위→필드 규칙을 서버가 계산한다\n\n| 범위 | `said` | `curriculumRef` | `qa` |\n|---|---|---|---|\n| `PRIVATE`·미지정 | ❌ | ❌ | ❌ |\n| `SUMMARY` | ⭕ | ⭕ | ❌ |\n| `FULL` | ⭕ | ⭕ | ⭕ |\n\n프론트가 이 표를 다시 구현하면 서버와 어긋날 때 **학생에게 안 보여야 할 문답이\n보이는 쪽**으로 틀릴 수 있다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 `REPORT_NOT_FOUND` | 없는 리포트 **또는 남의 리포트** |\n\n남의 리포트를 403이 아니라 404로 돌려준다 — 403이면 그 id가 존재한다는 사실이 샌다.\n",
        "operationId": "findMyDisclosure",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportDisclosureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "put": {
        "tags": [
          "Disclosure"
        ],
        "summary": "리포트 공개 범위 설정 | ✅ 사용 가능",
        "description": "담당 매니저가 회차 결과를 교육생에게 연다. TR-04의 `공개 범위 미지정`을\n푸는 유일한 경로다 — 이 호출이 없으면 리포트는 발행돼도 영원히 잠겨 있다.\n\n## 요청\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `scope` | **필수** | enum | `PRIVATE` · `SUMMARY` · `FULL` |\n\n`NOT_CONFIGURED`는 보낼 수 없다. 미지정은 아직 아무도 정하지 않은 초기 상태이지\n선택지가 아니며, 열었다 닫는 것은 `PRIVATE`이다.\n\n## scope가 상태 4컬럼을 결정한다\n\n| 보낸 값 | 결과 상태 | 시각·주체 |\n|---|---|---|\n| `PRIVATE` | `WITHHELD` | 비운다 |\n| `SUMMARY` · `FULL` | `RELEASED` | 지금 · 요청한 매니저 |\n\n클라이언트가 상태·시각·주체를 직접 보내지 않는 이유는 DB CHECK\n`ck_report_trainee_release_status_2`가 넷의 조합을 강제하기 때문이다 —\n따로 받으면 제약을 어기는 조합을 만들 수 있다.\n\n## 발행 전에도 정할 수 있다\n\n**발행(`publishedAt`)과 공개(`releaseStatus`)는 다른 사건**이라 순서를 강제하지 않는다.\n발행 전에 범위를 정해 두면 발행되는 순간 바로 열린다. 다만 `bodyVisible`은\n둘이 모두 갖춰져야 참이다.\n\n## 권한\n\n요청 매니저가 **지금 담당하는 반**의 교육생 리포트만 바꿀 수 있다.\n배정 이력이 해제된 반(`manager_assignment.unassigned_at`)과 이탈한 교육생\n(`cohort_member.left_at`)은 제외된다 — 지난 기수에 잠깐 담당했던 매니저가\n계속 공개 범위를 바꾸면 안 된다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 `REPORT_DISCLOSURE_SCOPE_INVALID` | 도메인이 막는 조합(공개인데 범위가 비공개) |\n| 404 `REPORT_NOT_FOUND` | 없는 리포트 · **담당하지 않는 교육생** · 기수 단위 리포트 |\n\n담당하지 않는 경우도 403이 아니라 404다 — 존재 여부를 흘리지 않기 위해\n조회 실패와 권한 실패를 같은 응답으로 합쳤다.\n",
        "operationId": "updateDisclosure",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReportDisclosureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportDisclosureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/projects/{projectId}/requirements": {
      "put": {
        "tags": [
          "Project Execution",
          "Project"
        ],
        "summary": "프로젝트 요구사항 전체 교체 | ✅ 사용 가능",
        "description": "요구사항 문구 목록을 전체 교체한다. 보낸 목록이 그대로 최종 상태가 된다 —\n기존에 있었는데 이번 목록에 없는 문구는 자동 폐기(retire)되고, 새 문구는 추가된다.\n\n**요청**\n- projectId (경로): 대상 프로젝트 ID\n- requirementTitles (필수): 요구사항 문구 목록. 완전히 같은 문구만 \"유지\"로 인식하고,\n  조금이라도 다르면 기존 것 폐기 + 새 문구 추가로 처리한다\n\n**응답 (200)**\n- 본문 없음\n",
        "operationId": "replaceRequirements",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "프로젝트 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceRequirementsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "요구사항 교체 성공"
          },
          "400": {
            "description": "VALIDATION_FAILED requirementTitles 키가 없음 — 전부 지우려면 빈 배열을 보낸다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "PROJECT_NOT_FOUND 프로젝트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PROJECT_NOT_FOUND": {
                    "summary": "PROJECT_NOT_FOUND",
                    "value": {
                      "code": "PROJECT_NOT_FOUND",
                      "message": "프로젝트를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/projects/{projectId}/concepts": {
      "put": {
        "tags": [
          "Project Execution",
          "Project"
        ],
        "summary": "검증개념 확정 | ✅ 사용 가능",
        "description": "선택한 매핑들을 이 프로젝트의 검증개념으로 확정한다. 기존 활성 세트는 자동으로 교체(supersede)되며,\n과거 세트는 지워지지 않고 이력으로 남는다.\n\n**요청**\n- projectId (경로): 대상 프로젝트 ID\n- mappingIds (필수): 확정할 매핑 ID 목록(검증개념 후보 조회 응답의 mappingId)\n\n**응답 (200)**\n- 본문 없음\n",
        "operationId": "confirmConcepts",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "프로젝트 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmConceptsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "검증개념 확정 성공"
          },
          "400": {
            "description": "CONCEPT_MAPPING_NOT_FOUND 존재하지 않는 매핑 ID가 포함됨(후보 목록이 낡았다 — 다시 읽는다) · VALIDATION_FAILED mappingIds가 비었음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CONCEPT_MAPPING_NOT_FOUND": {
                    "summary": "CONCEPT_MAPPING_NOT_FOUND",
                    "value": {
                      "code": "CONCEPT_MAPPING_NOT_FOUND",
                      "message": "존재하지 않는 매핑입니다."
                    }
                  },
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "PROJECT_NOT_FOUND 프로젝트를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PROJECT_NOT_FOUND": {
                    "summary": "PROJECT_NOT_FOUND",
                    "value": {
                      "code": "PROJECT_NOT_FOUND",
                      "message": "프로젝트를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/tier-models": {
      "put": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "티어 ↔ 모델 매핑 변경 | ✅ 사용 가능",
        "description": "SA-03 ① `코드 세션 · 정확도 우선 / 균형 / 비용 우선` 3티어 매핑을 바꾼다.\n**한 번에 한 티어씩** 바꾼다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `featureCode` | **필수** | enum | **`CODE_SESSION` 하나뿐이다**(v07 기준) |\n| `tierCode` | **필수** | enum | `ACCURACY_FIRST` · `BALANCED` · `COST_FIRST` |\n| `modelId` | **필수** | UUID | 그 (기능, 티어)가 실제로 호출할 모델 |\n| `changeReason` | 선택 | string | 변경 사유 |\n\n## 응답\n\n변경 후의 **모델·단가 설정 전체**(`GET /model-settings` 와 같은 구조).\n화면을 그대로 다시 그리면 된다.\n\n## 채점 모델 변경과 다르다\n\n| | 채점 모델 | 티어 매핑 |\n|---|---|---|\n| 재캘리브레이션 | **발생** | **없음** |\n| 확인 플래그 | 필수 | 불필요 |\n| 되돌리기 | 사실상 불가 | 다시 바꾸면 됨 |\n\n코드 세션은 점수가 아니라 **산출물**이라 버전 간 비교 문제가 없다.\n화면의 확인 모달은 \"정말 바꿀지\"만 묻는 가벼운 확인이면 된다.\n\n(기능, 티어) 조합별로 버전이 올라가고 이전 활성 버전은 `SUPERSEDED` 로 닫힌다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 필수 누락 · `featureCode` 가 `CODE_SESSION` 이 아님 |\n| 400 `AI_MODEL_NOT_AVAILABLE` | 없는 모델이거나 `INACTIVE` 상태 |\n",
        "operationId": "updateTierModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTierModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "변경 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformModelSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI_MODEL_NOT_AVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_MODEL_NOT_AVAILABLE": {
                    "summary": "AI_MODEL_NOT_AVAILABLE",
                    "value": {
                      "code": "AI_MODEL_NOT_AVAILABLE",
                      "message": "사용할 수 없는 AI 모델입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/models/{modelId}/pricing": {
      "put": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "모델 단가 수정 | ✅ 사용 가능",
        "description": "SA-03 ① `단가 · 모델별 입력·출력 토큰 단가` 행의 `입력`/`수정` 액션.\n\n## 요청\n\n**경로 변수** — `modelId` (**필수**, UUID). 조회 응답의 `modelPricings[].modelId`\n\n**JSON 본문** — 단가는 모두 **100만 토큰당** 값이다.\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `inputPricePerMillionTokens` | 조건부 | decimal | 입력 단가. 0 이상 |\n| `outputPricePerMillionTokens` | 조건부 | decimal | 출력 단가. 0 이상 |\n| `cachedInputPricePerMillionTokens` | 선택 | decimal | 캐시 입력 단가 |\n| `priceUnitTokenCount` | 선택 | int | 단가 기준 토큰 수. 기본 `1000000` |\n\n**입력·출력 단가는 함께 움직인다.**\n\n| 보내는 값 | 결과 |\n|---|---|\n| 입력·출력 **둘 다 값** | 단가 설정 |\n| 입력·출력 **둘 다 `null`** | **단가 미설정으로 되돌림** |\n| 한쪽만 값 | **400** — 쌍이 맞지 않음 |\n\n캐시 단가는 입력 단가가 있을 때만 설정할 수 있다(입력이 `null` 인데 캐시만 보내면 400).\n\n## ⚠️ 미설정과 0은 다르다\n\n단가를 지우려면 **`null`** 을 보내세요. **`0` 은 '무료'라는 뜻**이라 전혀 다릅니다.\n\n| | 사용량 집계에서 |\n|---|---|\n| `null`(미설정) | 비용 합계에서 **제외**하고 `unpricedCallCount` 로 따로 센다 |\n| `0` | 0원으로 **합산**된다 |\n\n목업 SA-03: *\"0으로 합산하면 청구액이 실제보다 작아 보인다.\"*\n\n## 응답\n\n변경 후의 **모델·단가 설정 전체**(`GET /model-settings` 와 같은 구조).\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 입력·출력 단가 쌍 불일치 · 캐시 단가만 지정 · 음수 |\n| 400 `AI_MODEL_NOT_AVAILABLE` | 없는 모델 |\n",
        "operationId": "updateModelPricing",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelPricingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformModelSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI_MODEL_NOT_AVAILABLE · 단가 쌍 불일치",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_MODEL_NOT_AVAILABLE": {
                    "summary": "AI_MODEL_NOT_AVAILABLE",
                    "value": {
                      "code": "AI_MODEL_NOT_AVAILABLE",
                      "message": "사용할 수 없는 AI 모델입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/grading-model": {
      "put": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "채점 모델 변경 (전 기관 재캘리브레이션 유발) | ✅ 사용 가능",
        "description": "SA-03 ① `채점 · 고정 · claude-x` 행의 변경 액션.\n\n## ⚠️ 되돌릴 수 없다\n\n목업: *\"채점 모델을 바꾸면 **전 기관 재캘리브레이션**이 필요하고, 버전이 다른 결과끼리는\n화면에서 비교를 막는다.\"*\n\n**반드시 확인 모달을 거쳐 호출하세요.** 서버도 `acknowledgeRecalibration=true` 를\n요구해 한 번 더 막는다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `modelId` | **필수** | UUID | 새 채점 모델. `GET /model-settings` 의 `modelPricings[].modelId` 에서 고른다 |\n| `calibrationVersionCode` | **필수** | string | 새로 만들 캘리브레이션 버전 코드 |\n| `acknowledgeRecalibration` | **필수** | boolean | **반드시 `true`.** false·누락이면 400 |\n| `changeReason` | 선택 | string | 변경 사유(감사·이력용) |\n\n**`calibrationVersionCode` 는 조회해서 고르는 값이 아니라 직접 짓는 이름이다.**\n\n- 형식: `^[A-Z][A-Z0-9_]*$` — 대문자로 시작, 대문자·숫자·밑줄만. 100자 이하\n- **전체 UNIQUE** — 이미 쓴 값이면 409\n- 예: `CAL_2026_08_V1`\n\n## 응답\n\n변경 후의 **모델·단가 설정 전체**(`GET /model-settings` 와 같은 구조).\n화면을 그대로 다시 그리면 된다. `gradingPolicy.runningCalibration` 에 방금 만든\n재캘리브레이션 버전이 담긴다.\n\n## 한 번 호출하면 벌어지는 일\n\n한 트랜잭션에서:\n\n1. 현재 활성 채점 정책을 `SUPERSEDED` 로 닫고 **새 버전 발급**\n2. 새 캘리브레이션 버전 생성(`PENDING`)\n3. **삭제되지 않은 전 기관**에 재캘리브레이션 대기 행 생성\n\n⚠️ **실제 재캘리브레이션 실행은 별도 배치 담당이고, 그 배치가 아직 없다.**\n따라서 상태가 `PENDING` 에서 넘어가지 않으며, **다시 바꾸려 하면 계속 409 가 난다.**\n테스트 중이라면 개발 DB 에서 해당 버전 상태를 직접 정리해야 한다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | `acknowledgeRecalibration` 이 true 가 아님 · 버전 코드 형식 오류 |\n| 400 `AI_MODEL_NOT_AVAILABLE` | 없는 모델이거나 `INACTIVE` 상태 |\n| 409 `CALIBRATION_VERSION_CODE_TAKEN` | 이미 쓴 버전 코드 |\n| 409 `CALIBRATION_IN_PROGRESS` | **재캘리브레이션이 이미 진행 중** — 두 버전이 동시에 돌면 어느 쪽이 비교 기준인지 알 수 없다 |\n",
        "operationId": "updateGradingModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGradingModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "변경 성공(재캘리브레이션 대기 생성 완료)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformModelSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI_MODEL_NOT_AVAILABLE · 확인 플래그 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_MODEL_NOT_AVAILABLE": {
                    "summary": "AI_MODEL_NOT_AVAILABLE",
                    "value": {
                      "code": "AI_MODEL_NOT_AVAILABLE",
                      "message": "사용할 수 없는 AI 모델입니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CALIBRATION_IN_PROGRESS · CALIBRATION_VERSION_CODE_TAKEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CALIBRATION_IN_PROGRESS": {
                    "summary": "CALIBRATION_IN_PROGRESS",
                    "value": {
                      "code": "CALIBRATION_IN_PROGRESS",
                      "message": "재캘리브레이션이 이미 진행 중입니다."
                    }
                  },
                  "CALIBRATION_VERSION_CODE_TAKEN": {
                    "summary": "CALIBRATION_VERSION_CODE_TAKEN",
                    "value": {
                      "code": "CALIBRATION_VERSION_CODE_TAKEN",
                      "message": "이미 사용 중인 캘리브레이션 버전 코드입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/members/organizations/{organizationId}/managers/{managerId}/classrooms": {
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "매니저 담당 반 전체 교체 | ✅ 사용 가능",
        "description": "매니저 **한 명**의 담당 반을 한 번에 저장한다(9차 Q3-①).\n보낸 목록이 그대로 최종 상태가 되며, **전부 반영되거나 전부 반영되지 않는다.**\n\n## 왜 이 방향이 따로 있나\n\n`PATCH /cohorts/{cohortId}/classrooms/{classroomId}/managers`는 **반 하나 = 매니저 여럿**이라,\n매니저 상세 모달에서 담당 반 셋을 체크하면 `PATCH`를 반 수만큼 나눠 불러야 한다 —\n담당을 뗀 반까지 세면 더 늘어나고, **중간에 하나가 실패하면 절반만 반영된 상태**로 남는다.\n되돌릴 방법이 없다.\n\n이 API는 한 트랜잭션이라 그 상태가 생기지 않는다.\n\n💡 **두 방향이 같은 사실을 두 곳에서 갱신하는 것이 아니다.** 갱신 대상은 `manager_assignment`\n한 테이블이고, 각자 **자기 축의 현재 상태를 통째로 다시 쓴다**(둘 다 전체 교체).\n반 기준 모달은 반 기준 API를, 매니저 기준 모달은 이 API를 쓰면 된다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | 기관 식별자. 호출자의 소속 기관과 다르면 403 |\n| `managerId` | **필수** | UUID | 목록 응답의 `managerId` |\n| `classroomIds` | **필수** | UUID[] | 최종 담당 반 목록. 중복은 서버가 제거한다. **빈 배열이면 전체 해제** |\n\n`classroomIds`에 `null`은 허용하지 않는다 — 빈 배열(전체 해제)과 구분되지 않기 때문이다.\n\n**반은 여러 기수에 걸쳐도 된다.** 이 경로는 기수를 받지 않으므로, 매니저가 두 기수의 반을\n동시에 담당하는 편성도 한 번에 저장된다.\n\n## 응답 (200)\n\n**변경 후의 그 매니저 한 행**(`GET /managers` 응답 `content[]`의 항목과 같은 구조).\n`classroomNames`·`assignedTraineeCount`가 갱신되어 오므로 그 행만 갈아 끼우면 된다.\n\n## 동작\n\n- 지금 담당 중인 배정을 **전부 해제**(사유 `MANUAL_UNASSIGN`)한 뒤 요청받은 반으로 새로 만든다.\n  계속 담당할 반도 일단 놓고 다시 만든다 — \"유지되는 것만 남긴다\"로 하면 유지 판정이 한 벌 더 생긴다\n- 해제된 배정은 지워지지 않고 이력으로 남는다\n- **넘어온 반이 하나라도 이 기관 것이 아니면 아무것도 바꾸지 않고 404**다.\n  일부만 배정하면 화면이 무엇이 반영됐는지 알 수 없다\n",
        "operationId": "replaceManagerClassrooms",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "기관 ID. 호출자인 오퍼레이터의 소속 기관만 허용됩니다.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "managerId",
            "in": "path",
            "description": "담당 반을 바꿀 매니저의 사용자 ID(목록 응답의 managerId)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceManagerClassroomsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "담당 반 교체 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagerRosterEntry"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED classroomIds가 누락됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰이 없거나 만료됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED 오퍼레이터 권한이 아님 · INVITE_CROSS_ORGANIZATION 다른 기관을 지정함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "INVITE_CROSS_ORGANIZATION": {
                    "summary": "INVITE_CROSS_ORGANIZATION",
                    "value": {
                      "code": "INVITE_CROSS_ORGANIZATION",
                      "message": "다른 기관에는 초대할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "MANAGER_NOT_FOUND 이 기관의 매니저가 아님 · CLASSROOM_NOT_FOUND 이 기관의 반이 아닌 ID가 포함됨(전체 거부)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "MANAGER_NOT_FOUND": {
                    "summary": "MANAGER_NOT_FOUND",
                    "value": {
                      "code": "MANAGER_NOT_FOUND",
                      "message": "이 기관의 매니저 계정을 찾을 수 없습니다."
                    }
                  },
                  "CLASSROOM_NOT_FOUND": {
                    "summary": "CLASSROOM_NOT_FOUND",
                    "value": {
                      "code": "CLASSROOM_NOT_FOUND",
                      "message": "반을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "ORGANIZATION_CONTEXT_MISSING 인증 정보에서 기관을 확인할 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORGANIZATION_CONTEXT_MISSING": {
                    "summary": "ORGANIZATION_CONTEXT_MISSING",
                    "value": {
                      "code": "ORGANIZATION_CONTEXT_MISSING",
                      "message": "기관 컨텍스트를 확인할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/members/me/commit-email": {
      "get": {
        "tags": [
          "Member"
        ],
        "summary": "내 커밋 이메일 조회 | ✅ 사용 가능",
        "description": "**상태**: ✅ 사용 가능\n\n인증 주체 본인의 커밋 이메일 등록·검증 상태를 조회합니다. 경로에 사용자 식별자가 없으며\n스코프는 액세스 토큰에서 도출합니다.\n\n**요청**: 파라미터 없음\n\n**응답 (200)**\n- registered: 등록 여부. `commitEmail` 존재 여부에서 파생하는 값이며 DB 컬럼이 아닙니다\n- commitEmail / status / verificationMethod / verifiedAt / updatedAt\n\n**미등록이면 `registered=false`이고 나머지는 모두 null입니다.** DB CHECK\n(`ck_app_user_commit_email_updated_at`)가 커밋 이메일 컬럼을 all-or-nothing으로 묶어\n\"주소는 있는데 상태가 없는\" 부분 등록 상태가 존재할 수 없기 때문입니다.\n\n**화면 상단 배너 노출 조건**은 `registered === false || status !== \"VERIFIED\"`입니다.\n",
        "operationId": "getMyCommitEmail",
        "responses": {
          "200": {
            "description": "조회 성공. 미등록이면 registered=false이고 나머지 필드는 null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitEmailResponse"
                },
                "examples": {
                  "등록됨 (검증 대기)": {
                    "description": "등록됨 (검증 대기)",
                    "value": {
                      "registered": true,
                      "commitEmail": "gildong@example.com",
                      "status": "PENDING",
                      "verificationMethod": null,
                      "verifiedAt": null,
                      "updatedAt": "2026-08-06T09:14:02Z"
                    }
                  },
                  "미등록": {
                    "description": "미등록",
                    "value": {
                      "registered": false,
                      "commitEmail": null,
                      "status": null,
                      "verificationMethod": null,
                      "verifiedAt": null,
                      "updatedAt": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰이 없거나 인증 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "호출자가 교육생(TRAINEE)이 아님",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`MEMBER_NOT_FOUND` — 인증은 통과했으나 계정이 삭제되어 조회되지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "MEMBER_NOT_FOUND": {
                    "summary": "MEMBER_NOT_FOUND",
                    "value": {
                      "code": "MEMBER_NOT_FOUND",
                      "message": "인증 사용자를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "put": {
        "tags": [
          "Member"
        ],
        "summary": "내 커밋 이메일 등록·변경 | ✅ 사용 가능",
        "description": "**상태**: ✅ 사용 가능\n\n인증 주체 본인의 커밋 이메일을 등록하거나 변경합니다. 사용자당 0..1개의 단일 값이고\n등록과 변경이 같은 동작이며 같은 값을 두 번 보내도 결과가 같으므로 **멱등한 PUT**입니다.\n성공 시 201이 아니라 **200**을 반환합니다.\n\n**요청** (application/json)\n- commitEmail (필수, 최대 320자): 커밋에 사용하는 이메일\n\n**응답 (200)**: 조회 API와 같은 형태이며 `status`는 항상 `PENDING`입니다.\n\n⚠️ **이 API는 `PENDING` 등록까지만 담당합니다.** `commit_email_verification_method`가\n`OAUTH` / `MANAGER_CONFIRMED` 두 가지뿐이라 **교육생 자가 입력만으로는 `VERIFIED`가 될 수 없습니다.**\n검증 완료 경로는 별건입니다.\n\n**이미 `VERIFIED`인 상태에서 주소를 바꾸면 검증이 초기화됩니다** — `status`가 `PENDING`으로\n내려가고 `verificationMethod`·`verifiedAt`이 함께 null이 됩니다.\n",
        "operationId": "updateMyCommitEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommitEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "등록·변경 성공. 멱등 동작이므로 최초 등록도 201이 아닌 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommitEmailResponse"
                },
                "examples": {
                  "등록 직후": {
                    "description": "등록 직후",
                    "value": {
                      "registered": true,
                      "commitEmail": "gildong@example.com",
                      "status": "PENDING",
                      "verificationMethod": null,
                      "verifiedAt": null,
                      "updatedAt": "2026-08-06T09:14:02Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`INVALID_EMAIL_FORMAT` — 이메일 형식이 올바르지 않거나 비어 있거나 320자를 초과함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVALID_EMAIL_FORMAT": {
                    "summary": "INVALID_EMAIL_FORMAT",
                    "value": {
                      "code": "INVALID_EMAIL_FORMAT",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰이 없거나 인증 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "호출자가 교육생(TRAINEE)이 아님",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "`MEMBER_NOT_FOUND` — 인증은 통과했으나 계정이 삭제되어 갱신 대상이 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "MEMBER_NOT_FOUND": {
                    "summary": "MEMBER_NOT_FOUND",
                    "value": {
                      "code": "MEMBER_NOT_FOUND",
                      "message": "인증 사용자를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "`COMMIT_EMAIL_ALREADY_USED` — 같은 기관의 다른 **활성** 계정이 이미 쓰는 커밋 이메일 (`uq_app_user_commit_email_active` 위반). 탈퇴한 계정이 쓰던 값은 재사용할 수 있습니다.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COMMIT_EMAIL_ALREADY_USED": {
                    "summary": "COMMIT_EMAIL_ALREADY_USED",
                    "value": {
                      "code": "COMMIT_EMAIL_ALREADY_USED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/submissions": {
      "post": {
        "tags": [
          "Submission"
        ],
        "summary": "GitHub 저장소 URL 제출·재제출 | ⚠️ 사용 불가",
        "description": "🔴 **실제 AI 배포 서버와 연동할 수 없다.** 제출 접수 자체(`201 CREATED`까지)는 정상 동작하지만,\n접수 직후 트리거되는 코드 분석이 배포된 AI 서버에 닿지 못해 **그 뒤 흐름이 끝까지 가지 않는다.**\nGitHub 저장소를 clone·분석하는 주체가 AI 서버이고 백엔드에는 그 경로가 없기 때문이다.\n분석이 없으면 문제·질문·힌트가 만들어지지 않으므로 이해도 검증 세션도 열리지 않는다.\n동작을 끝까지 확인하려면 ZIP 업로드(`POST /submissions/zip`)를 쓴다 — 그쪽은 백엔드가 파일을\n직접 실어 보낸다.\n\n**제출 시점에 백엔드는 GitHub에 접근하지 않는다.** 검사하는 것은 URL 형식과 호스트뿐이고,\n저장소가 실제로 존재하는지·접근 가능한지는 분석 단계에서 판정된다. 따라서 형식만 맞으면 즉시\n`ACCEPTED`로 접수되며, `REPO_NOT_FOUND` 같은 사유는 이 API가 아니라\n`GET /submissions/{submissionId}/analysis`의 `failureCode`로 드러난다.\n\n제출은 **팀 단위**다. 팀원 누구나 제출할 수 있고, 마감 전이라면 다른 팀원이 재제출할 수도 있다.\n재제출은 기존 행 수정이 아니라 새 행 생성이며 직전 제출을 `supersedesSubmissionId`로 가리킨다.\n\n## 요청 (헤더)\n\n| 헤더 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `Idempotency-Key` | 필수 | UUID | 재시도로 인한 중복 제출을 막는다. 생략하면 `400`. 상세는 아래 참고 |\n\n동기 처리가 짧아도 네트워크 재시도로 중복 제출이 생길 수 있다. `uq_submission_current`는\n이를 막지 못하므로(두 번째 제출이 첫 번째를 supersede할 뿐이다) 이 헤더가 필수다.\n\n## 요청 (본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `assessmentRoundId` | 필수 | UUID | 제출 대상 회차 |\n| `repositoryUrl` | 필수 | string | 저장소 주소 원문. 최대 2000자. GitHub 호스트만 허용 |\n| `branch` | 선택 | string | 분석할 브랜치. 최대 255자. 비우면 AI가 기본 브랜치를 골라 `resolvedBranch`로 회신 |\n\n## 응답 (201)\n\n| 필드 | 타입 | 설명 |\n| --- | --- | --- |\n| `submissionId` | UUID | 제출 식별자. 이후 분석 조회에 쓴다 |\n| `method` | enum | `GITHUB_URL` |\n| `status` | enum | 접수 즉시 `ACCEPTED`. 내용 판정은 분석 단계의 사건이다 |\n| `submittedAt` | datetime | 마감 판정의 기준 시각 (ISO-8601 UTC) |\n| `current` | boolean | 팀·회차의 현재 제출인지 여부 |\n| `supersedesSubmissionId` | UUID? | 직전 제출. 첫 제출이면 `null` |\n| `repositoryVerificationId` | UUID? | 저장소 확인 실행. 분석 시점에 생기므로 접수 시점에는 `null` |\n| `artifactId` | UUID? | ZIP 전용. GitHub 제출은 항상 `null` |\n\n## 오류\n\n| 코드 | 상태 | 언제 |\n| --- | --- | --- |\n| `IDEMPOTENCY_KEY_REQUIRED` | 400 | 헤더를 보내지 않았다 |\n| `IDEMPOTENCY_KEY_INVALID` | 400 | 헤더가 UUID가 아니다 |\n| `INVALID_REPOSITORY_URL` | 400 | 주소 형식이 올바르지 않다 |\n| `UNSUPPORTED_HOST` | 400 | GitHub이 아닌 호스트다 |\n| `SUBMISSION_ROUND_NOT_ACCESSIBLE` | 404 | 이 교육생이 제출할 수 있는 회차가 아니다 |\n| `SUBMISSION_ROUND_NOT_OPEN` | 409 | 회차가 `OPEN`이 아니다 |\n| `SUBMISSION_DEADLINE_PASSED` | 409 | 마감이 지났다 |\n| `SUBMISSION_METHOD_NOT_ALLOWED` | 409 | 기관 정책이 GitHub 제출을 막았다 |\n| `IDEMPOTENCY_KEY_CONFLICT` | 409 | 같은 키를 다른 회차에 재사용했다 |\n\nZIP 업로드는 같은 리소스를 만들지만 `POST /submissions/zip`으로 분리돼 있다.",
        "operationId": "submitGithubUrl",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키(UUID, 필수). **제출 버튼을 누른 순간 하나 만들어** 그 제출이 끝날 때까지 보관한다.\n\n- 타임아웃·5xx·네트워크 오류로 **재시도할 때는 같은 값**을 그대로 다시 보낸다 → 서버가 최초 결과를 반환한다\n- 사용자가 입력을 고쳐 **다시 제출하면 새 값**을 만든다 (재제출은 별개의 제출이다)\n- 같은 키를 **다른 회차**에 재사용하면 `409 IDEMPOTENCY_KEY_CONFLICT`로 거절한다\n- 서버가 대신 만들어 주지 않는다. 생략하면 `400`이다 — 임의 값을 채우면 멱등 판정이\n  항상 실패하는데 그 사실이 클라이언트에게 보이지 않기 때문이다",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGithubSubmissionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "unavailable"
      }
    },
    "/api/v0/submissions/zip": {
      "post": {
        "tags": [
          "Submission"
        ],
        "summary": "ZIP 업로드 제출·재제출 | ✅ 사용 가능",
        "description": "GitHub URL 제출과 같은 리소스를 만드는 다른 표현이지만 **경로를 분리한다.** OpenAPI는\n경로·메서드당 operation이 하나뿐이라, 한 경로에 `consumes`만 다른 핸들러를 둘 두면 springdoc이\n둘을 한 operation으로 병합한다. 그러면 Swagger UI에서 `application/json`을 골라도 multipart\n입력 폼이 뜨고, ZIP 전용 쿼리 파라미터가 JSON 쪽에도 필수로 붙는다.\n\n**접수는 `ACCEPTED`로 끝난다.** 백엔드가 보는 것은 크기와 압축 형식뿐이고,\n`EMPTY_CODE`·`GIT_LOG_MISSING` 같은 내용 판정은 분석 단계에서 AI가 `failureCode`로\n돌려준다. 접수 즉시 분석이 트리거된다.\n\n## 요청 (헤더)\n\n| 헤더 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `Idempotency-Key` | 필수 | UUID | 재시도로 인한 중복 업로드를 막는다. 생략하면 `400` |\n\n## 요청 (쿼리 파라미터)\n\n| 파라미터 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `assessmentRoundId` | 필수 | UUID | 제출 대상 회차 |\n\n## 요청 (multipart/form-data)\n\n| 파트 | 필수 | 타입 | 설명 |\n| --- | --- | --- | --- |\n| `file` | 필수 | binary | git log를 포함한 ZIP. **상한 50MB** |\n\n### 🔴 상한은 정확히 50MB = 52,428,800 바이트\n\n**화면 상한과 서버 상한이 같아야 한다** — 다르면 \"올린 뒤에 거절\"이 생긴다.\n서버 값은 `app.submission.max-zip-bytes`(기본 `52428800`)이고, 이 값을 넘으면\n`413 FILE_TOO_LARGE`다.\n\n그 앞에 톰캣 상한이 하나 더 있다(`spring.servlet.multipart.max-file-size`, 기본 `60MB`).\n**일부러 넉넉하게 잡아 둔 것**이라, 50~60MB 파일은 톰캣을 통과한 뒤 컨트롤러에서\n`413 FILE_TOO_LARGE`로 거절된다 — 톰캣이 먼저 끊으면 우리 에러 코드가 실리지 않아\n화면이 사유를 알 수 없기 때문이다.\n\n## 응답 (202)\n\n| 필드 | 타입 | 설명 |\n| --- | --- | --- |\n| `submissionId` | UUID | 제출 식별자. 이후 분석 조회에 쓴다 |\n| `method` | enum | `ZIP_WITH_GITLOG` |\n| `status` | enum | 접수 즉시 `ACCEPTED` |\n| `submittedAt` | datetime | 업로드 접수 시각 (ISO-8601 UTC) |\n| `current` | boolean | 팀·회차의 현재 제출인지 여부 |\n| `supersedesSubmissionId` | UUID? | 직전 제출. 첫 제출이면 `null` |\n| `repositoryVerificationId` | UUID? | GitHub 전용. ZIP 제출은 항상 `null` |\n| `artifactId` | UUID? | 저장된 아티팩트 식별자 |\n\n## 오류\n\n| 코드 | 상태 | 언제 |\n| --- | --- | --- |\n| `IDEMPOTENCY_KEY_REQUIRED` | 400 | 헤더를 보내지 않았다 |\n| `IDEMPOTENCY_KEY_INVALID` | 400 | 헤더가 UUID가 아니다 |\n| `ARCHIVE_INVALID` | 400 | 빈 파일이거나 ZIP으로 열리지 않는다 |\n| `SUBMISSION_ROUND_NOT_ACCESSIBLE` | 404 | 이 교육생이 제출할 수 있는 회차가 아니다 |\n| `SUBMISSION_ROUND_NOT_OPEN` | 409 | 회차가 `OPEN`이 아니다 |\n| `SUBMISSION_DEADLINE_PASSED` | 409 | 마감이 지났다 |\n| `SUBMISSION_METHOD_NOT_ALLOWED` | 409 | `organization_policy.allow_zip_submission=FALSE`다 |\n| `IDEMPOTENCY_KEY_CONFLICT` | 409 | 같은 키를 다른 회차에 재사용했다 |\n| `FILE_TOO_LARGE` | 413 | 허용 크기를 넘었다 |\n| `ARTIFACT_STORE_FAILED` | 500 | 파일 저장에 실패했다 |\n\n> **2026-08-09 보류 해제.** 종전에는 \"AI 서버에 ZIP을 전달할 자리가 없다\"는 이유로 이\n> 경로를 막아 두었으나, `POST /api/v0/analyses`에 `multipart/form-data`(`payload` +\n> `file`) 경로가 생겨 근거가 사라졌다. S3 presigned URL이 아니라 **백엔드가 파일을 직접\n> 실어 보내는** 방식이라, GitHub 제출과 달리 AI 서버에 저장소 접근 권한이 없어도 된다.",
        "operationId": "submitZip",
        "parameters": [
          {
            "name": "assessmentRoundId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "멱등키(UUID, 필수). **제출 버튼을 누른 순간 하나 만들어** 그 제출이 끝날 때까지 보관한다.\n\n- 타임아웃·5xx·네트워크 오류로 **재시도할 때는 같은 값**을 그대로 다시 보낸다 → 서버가 최초 결과를 반환한다\n- 사용자가 입력을 고쳐 **다시 제출하면 새 값**을 만든다 (재제출은 별개의 제출이다)\n- 같은 키를 **다른 회차**에 재사용하면 `409 IDEMPOTENCY_KEY_CONFLICT`로 거절한다\n- 서버가 대신 만들어 주지 않는다. 생략하면 `400`이다 — 임의 값을 채우면 멱등 판정이\n  항상 실패하는데 그 사실이 클라이언트에게 보이지 않기 때문이다",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/submissions/repository-checks": {
      "post": {
        "tags": [
          "Submission"
        ],
        "summary": "저장소 주소 사전 확인 | ✅ 사용 가능",
        "description": "**제출 버튼을 누르기 전에** 저장소 주소를 한 번 확인한다. 제출 시점의 형식·호스트 검사를\n그대로 미리 돌려 보는 것이라, 여기서 통과한 주소는 `POST /submissions`에서 같은 이유로\n거절되지 않는다.\n\n## 🔴 무엇을 확인하고 무엇을 확인하지 않는가\n\n| | 확인한다 | 통과 뒤에도 실패할 수 있는 것 |\n|---|---|---|\n| | 주소 형식(`scheme`·경로 깊이·허용 문자) | 저장소가 실제로 존재하는가 |\n| | 호스트가 `github.com`인가 | **비공개·조직 밖이라 접근이 막히는가** |\n| | `.git`·후행 슬래시·대소문자 정규화 | 브랜치가 있는가 |\n\n⚠️ **저장소 존재·접근 여부는 이 API가 답할 수 없다.** 백엔드에는 GitHub 경로가 없고\nclone·fetch 주체가 AI 서버로 확정돼 있기 때문이다(2026-08-06). 그 실패는 분석 단계에서\n`GET /submissions/{submissionId}/analysis`의 `failureCode`에 `REPO_NOT_FOUND`·\n`REPOSITORY_ACCESS_DENIED`로 나타난다.\n\n**그래서 \"비공개 저장소는 ZIP으로\" 안내는 이 응답이 아니라 분석 실패 응답에 붙어야 한다.**\n여기서 미리 막을 수 있는 것은 오타·잘못된 호스트·저장소가 아닌 주소까지다 — 실제로 가장\n흔한 부류이고, 이것만 걸러도 \"제출 뒤 분석 실패로 마감을 놓치는\" 경로 하나가 사라진다.\n\n## 요청\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `repoUrl` | string | 확인할 주소. `https://` 생략 가능 |\n\n**회차를 받지 않는다.** 주소 자체에 대한 판정이라 회차·팀·마감과 무관하고, 화면이\n제출 폼을 그리기 전에도 부를 수 있어야 한다.\n\n## 응답 (200)\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `ok` | boolean | 200에서는 **항상 `true`** |\n| `normalizedUrl` | string | 정규화 주소. 확인 문구에 그대로 쓰면 오타가 눈에 보인다 |\n| `ownerLogin` | string | 소유자(사용자·조직) |\n| `repositoryName` | string | 저장소 이름 |\n\n`ok: false`를 두지 않은 이유는 형식 불일치와 저장소 없음이 서로 다른 안내로 이어지기\n때문이다 — 전자는 입력을 고치면 되고 후자는 ZIP으로 갈아타야 한다. boolean 하나에 겹쳐\n담으면 화면이 두 사건을 같은 분기로 처리하게 된다.\n\n## 부수 효과가 없다\n\n행을 만들지 않고 멱등키도 쓰지 않는다. 입력 중에 여러 번 불러도 된다.\n\n## 오류\n\n| 코드 | 상태 | 언제 |\n|---|---|---|\n| `INVALID_REPOSITORY_URL` | 400 | 형식이 저장소 주소가 아니다(`/tree/main` 등 더 깊은 경로 포함) |\n| `UNSUPPORTED_HOST` | 400 | `github.com`이 아니다 |\n",
        "operationId": "checkRepository",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepositoryCheckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepositoryCheckResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/projects/{projectId}/curricula": {
      "post": {
        "tags": [
          "Project Execution",
          "Project"
        ],
        "summary": "프로젝트 교안 연결 | ✅ 사용 가능",
        "description": "미니프로젝트에 교안 버전을 연결한다. project_curriculum DDL 제약을 그대로 따른다 —\n대상 버전은 성공한 분석과 승인된(ACTIVE) 개념 매핑을 최소 1건 가지고 있어야 한다.\n\n**요청**\n- projectId (경로): 대상 프로젝트 ID(MINI_PROJECT만 가능, BIG_PROJECT는 400)\n- curriculumVersionId (필수): 연결할 교안 버전 ID\n\n**응답 (201)**\n- projectCurriculumId: 연결 ID\n- projectId / curriculumVersionId: 연결 대상\n- sequenceNo: 프로젝트 내 표시 순서(기존 최대값+1로 자동 채번)\n- linkedAt: 연결 시각\n",
        "operationId": "linkCurriculum",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "프로젝트 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkCurriculumRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "교안 연결 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkCurriculumResponse"
                }
              }
            }
          },
          "400": {
            "description": "CURRICULUM_NOT_APPLICABLE_TO_BIG_PROJECT 빅프로젝트다(연결 UI를 감춘다) · CURRICULUM_ANALYSIS_NOT_SUCCEEDED 성공한 분석이 없다(재분석 안내) · CURRICULUM_MAPPING_NOT_APPROVED 승인된 개념 매핑이 없다(개념 승인 화면으로) · VALIDATION_FAILED curriculumVersionId 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CURRICULUM_NOT_APPLICABLE_TO_BIG_PROJECT": {
                    "summary": "CURRICULUM_NOT_APPLICABLE_TO_BIG_PROJECT",
                    "value": {
                      "code": "CURRICULUM_NOT_APPLICABLE_TO_BIG_PROJECT",
                      "message": "빅프로젝트에는 교안을 연결할 수 없습니다."
                    }
                  },
                  "CURRICULUM_ANALYSIS_NOT_SUCCEEDED": {
                    "summary": "CURRICULUM_ANALYSIS_NOT_SUCCEEDED",
                    "value": {
                      "code": "CURRICULUM_ANALYSIS_NOT_SUCCEEDED",
                      "message": "성공한 분석이 없는 교안 버전입니다."
                    }
                  },
                  "CURRICULUM_MAPPING_NOT_APPROVED": {
                    "summary": "CURRICULUM_MAPPING_NOT_APPROVED",
                    "value": {
                      "code": "CURRICULUM_MAPPING_NOT_APPROVED",
                      "message": "승인된 개념 매핑이 없는 교안 버전입니다."
                    }
                  },
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "PROJECT_NOT_FOUND 프로젝트가 없음 · CURRICULUM_VERSION_NOT_FOUND 교안 버전이 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "PROJECT_NOT_FOUND": {
                    "summary": "PROJECT_NOT_FOUND",
                    "value": {
                      "code": "PROJECT_NOT_FOUND",
                      "message": "프로젝트를 찾을 수 없습니다."
                    }
                  },
                  "CURRICULUM_VERSION_NOT_FOUND": {
                    "summary": "CURRICULUM_VERSION_NOT_FOUND",
                    "value": {
                      "code": "CURRICULUM_VERSION_NOT_FOUND",
                      "message": "등록되지 않은 교안입니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CURRICULUM_ALREADY_LINKED 이미 연결된 교안 버전 — 새로고침이 아니라 그 항목을 비활성화한다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CURRICULUM_ALREADY_LINKED": {
                    "summary": "CURRICULUM_ALREADY_LINKED",
                    "value": {
                      "code": "CURRICULUM_ALREADY_LINKED",
                      "message": "이미 연결된 교안 버전입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/super-admins/invitations": {
      "post": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "슈퍼어드민 초대 | ✅ 사용 가능",
        "description": "SA-03 ② `+ 계정 초대`. 계정 자리를 만들고 초대 메일을 보낸다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `email` | **필수** | string | 초대할 이메일. **이 API 의 유일한 입력이다** |\n\n**헤더 (선택)** — `X-Request-Id: {문자열}` 추적용. 생략하면 서버가 만든다.\n\n역할을 고르는 칸이 없다 — 이 화면에서 보내는 초대는 슈퍼어드민 하나뿐이라\n**초대하는 화면이 곧 역할**이다. 기관·기수·반도 없다 — 슈퍼어드민은 어느 기관에도\n속하지 않는다(`app_user.org_id IS NULL`).\n\n**이메일 도메인 제한이 없다.** 플랫폼 도메인을 저장하는 곳이 없고, 오퍼레이터 초대와\n같은 이유(초대 시점에는 그 도메인 메일함을 아직 가질 수 없다)가 적용된다.\n\n## 응답 — `201 Created`\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `memberId` | UUID | 생성된 계정 자리 |\n| `email` | string | 초대 메일 수신 주소 |\n| `status` | enum | 항상 `PENDING`(목업 `초대됨`) |\n| `invitedAt` | datetime | 초대 원장·최초 토큰 생성 시각 |\n| `accounts` | object | **초대 반영 후의 슈퍼어드민 목록 전체** |\n\n`accounts` 는 `GET /super-admins` 와 같은 구조(`content[]` · `activeCount`)다.\n**목록을 따로 재조회할 필요 없이 표를 그대로 다시 그리면 된다.**\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 이메일 형식 오류 |\n| 403 | 슈퍼어드민이 아닌 호출자 |\n| 409 `ALREADY_INVITED` | 이미 등록되었거나 초대가 진행 중인 이메일 |\n| 502 `INVITE_MAIL_FAILED` | 메일 발송 실패 |\n\n502 여도 **계정 자리와 초대 기록은 남는다.** 목록에 `PENDING` 으로 계속 보이므로\n같은 주소로 다시 초대하면 그 자리를 되살려 재발송된다.\n\n> 오퍼레이터 초대와 달리 **취소·재발송 전용 API 가 없다.** 목업 SA-03 ② 표에\n> 그 액션이 없기 때문이다. 필요해지면 오퍼레이터 쪽과 같은 방식으로 추가할 수 있다\n> (member 도메인의 재발송 엔진이 이미 슈퍼어드민 목적을 처리한다).\n",
        "operationId": "inviteSuperAdmin",
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "초대 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "invite-sa-001"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteSuperAdminRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "슈퍼어드민 계정 자리 생성 및 초대 발송 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteSuperAdminResponse"
                }
              }
            }
          },
          "400": {
            "description": "이메일 형식이 올바르지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "BAD_REQUEST": {
                    "summary": "BAD_REQUEST",
                    "value": {
                      "code": "BAD_REQUEST",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "슈퍼어드민만 슈퍼어드민을 초대할 수 있음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "ALREADY_INVITED · 이미 등록되었거나 초대된 이메일",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ALREADY_INVITED": {
                    "summary": "ALREADY_INVITED",
                    "value": {
                      "code": "ALREADY_INVITED",
                      "message": "이미 등록되었거나 초대된 이메일입니다."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "INVITE_MAIL_FAILED · 초대 메일 발송 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_MAIL_FAILED": {
                    "summary": "INVITE_MAIL_FAILED",
                    "value": {
                      "code": "INVITE_MAIL_FAILED",
                      "message": "초대 메일을 보내지 못했습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/organizations": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "기관 목록 조회 | ✅ 사용 가능",
        "description": "SA-01 기관 목록 표를 채운다. 이름 검색·상태 필터·정렬을 **모두 서버가 처리**하므로\n화면은 파라미터만 넘기면 된다(클라이언트에서 다시 거르지 않는다).\n\n## 요청 (쿼리 파라미터)\n\n| 파라미터 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `query` | 선택 | string | 기관명 부분검색. 대소문자 구분 없음. 비우면 전체 |\n| `status` | 선택 | enum | `ACTIVE` · `SUSPENDED` · `DELETION_PENDING` · `DELETED`. **비우면 전체**(화면의 `상태 · 전체`) |\n| `sort` | 선택 | enum | `CREATED_AT_DESC`(기본) · `CREATED_AT_ASC` · `NAME_ASC` · `NAME_DESC` |\n| `page` | 선택 | int | 0부터 시작. 기본 `0` |\n| `size` | 선택 | int | 페이지당 개수. 기본 `20`, 최대 `100` |\n\n⚠️ 기수 수·교육생 수·비용은 **정렬 대상이 아니다.** 별도 배치 집계라 페이지를 자른 뒤에\n채워지므로 전역 정렬이 성립하지 않는다.\n\n## 응답\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `content[]` | array | 기관 목록. 각 항목 구조는 아래 |\n| `page` | int | 현재 페이지(0부터) |\n| `size` | int | 페이지당 개수 |\n| `totalElements` | long | 조건에 맞는 전체 건수 |\n| `totalPages` | int | 전체 페이지 수 |\n\n**content[] 각 항목**\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `organizationId` | UUID | 기관 식별자. 상세 이동에 쓴다 |\n| `name` | string | 기관명 |\n| `slug` | string? | URL용 짧은 식별값. 미지정이면 `null` |\n| `displayCode` | string? | 화면 표시용 코드. 미지정이면 `null` |\n| `emailDomain` | string? | 초대 허용 도메인. `null`이면 제한 없음 |\n| `status` | enum | `ACTIVE` · `SUSPENDED` · `DELETION_PENDING` · `DELETED` |\n| `operatorUnassigned` | boolean | `true`면 `오퍼레이터 미배정` 배지. operators가 비었을 때 |\n| `budgetExceeded` | boolean | `true`면 `예산 초과` 배지. 예산이 0이면 항상 false |\n| `operators[]` | array | `{ memberId, name, email }`. 목록의 `박지현 외 1` 렌더링용 |\n| `cohorts` | object | `{ total, running, closed }` — 목업 `기수 3 (진행 2 · 종료 1)` |\n| `traineeCount` | int | 활성 교육생 수(기수를 나간 인원 제외) |\n| `activeSessionCount` | int | 진행 중 세션 수(`IN_PROGRESS`·`PAUSED`) |\n| `currentMonthAiCost` | decimal | 이번 달(UTC) AI 비용 |\n| `monthlyAiBudget` | decimal | 월 예산. 정책이 없으면 `0` |\n| `budgetUsageRate` | decimal? | 소진율(0~1). 예산이 0이면 `null` |\n| `currencyCode` | string? | 통화. 플랫폼 공통 `USD`. 정책이 없으면 `null` |\n| `dataRetentionDays` | int | 보존기간(일). 정책이 없으면 `0` |\n| `defaultDisclosureScope` | enum? | 기본 공개범위. 정책이 없으면 `null` |\n| `createdAt` | datetime | 생성 시각 (ISO-8601 UTC) |\n| `deletedAt` | datetime? | 삭제 시각. 살아 있으면 `null` |\n",
        "operationId": "findOrganizations",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrganizationStatus"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrganizationSort"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "기관 생성 및 기본 운영 정책 초기화 | ✅ 사용 가능",
        "description": "SA-01 `기관 생성 (테넌트 프로비저닝)` 모달. 기관과 **최초 운영 정책(버전 1)을 함께** 만든다.\n정책 기본값은 월 예산 0 · 통화 USD · 공개범위 SUMMARY 다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `name` | **필수** | string | 기관명. 전체에서 유일해야 한다 |\n| `dataRetentionDays` | **필수** | int | 보존기간. **`90` · `180` · `365` 중 하나만** |\n| `emailDomain` | 선택 | string | 기관 대표 도메인(예: `codebase.ac.kr`). 생략하거나 `null` |\n| `slug` | 선택 | string | URL용 짧은 식별값. 소문자·숫자·하이픈, 64자 이하, 전체 UNIQUE |\n| `displayCode` | 선택 | string | 화면 표시용 코드. 대문자로 시작, 대문자·숫자·밑줄, 32자 이하 |\n\n⚠️ **선택 필드에 빈 문자열(`\"\"`)을 보내면 400 이다.** 안 쓸 거면 필드를 아예 생략하거나\n`null` 로 보내세요.\n\n⚠️ `emailDomain` 은 저장만 되고 **초대를 제한하지 않는다.** 오퍼레이터는 기관의 첫 계정이라\n초대 시점에 그 기관 메일함이 없기 때문이다.\n\n**헤더 (선택)** — `Idempotency-Key: {UUID}`\n같은 키 + 같은 내용으로 재요청하면 최초 생성 결과를 그대로 돌려준다(기관이 두 개 생기지 않는다).\n같은 키로 **다른 내용**을 보내면 409 `ORG_IDEMPOTENCY_CONFLICT`. 생략하면 멱등 처리를 하지 않으므로\n네트워크 재시도 시 기관이 중복 생성될 수 있다.\n\n## 응답 — `201 Created`\n\n목록 조회의 `content[]` 항목과 **같은 구조**다. 주요 필드만 적는다.\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `organizationId` | UUID | **이후 모든 API 호출에 쓰는 식별자** |\n| `status` | enum | 항상 `ACTIVE` |\n| `operatorUnassigned` | boolean | 항상 `true` — 오퍼레이터가 아직 없다 |\n| `dataRetentionDays` | int | 요청값 그대로 |\n| `currencyCode` | string | `USD` |\n| `monthlyAiBudget` | decimal | `0` |\n| 나머지 | | 목록 조회 응답과 동일 |\n\n**생성 직후 화면 처리** — 목록으로 돌아가면 `GET /organizations` 와\n`GET /organizations/summary` 를 **둘 다** 다시 불러야 카드 숫자가 맞는다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 필수 누락 · 형식 오류 · `dataRetentionDays` 가 90/180/365 밖 |\n| 409 `ORG_NAME_TAKEN` | 이미 사용 중인 기관명(삭제된 기관 이름 포함) |\n| 409 `ORG_IDEMPOTENCY_CONFLICT` | 같은 멱등키로 다른 내용을 보냄 |\n",
        "operationId": "createOrganization",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "재시도 안전을 위한 멱등성 키(UUID). 생략 가능.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "409": {
            "description": "ORG_NAME_TAKEN · ORG_IDEMPOTENCY_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORG_NAME_TAKEN": {
                    "summary": "ORG_NAME_TAKEN",
                    "value": {
                      "code": "ORG_NAME_TAKEN",
                      "message": "이미 있는 기관명입니다."
                    }
                  },
                  "ORG_IDEMPOTENCY_CONFLICT": {
                    "summary": "ORG_IDEMPOTENCY_CONFLICT",
                    "value": {
                      "code": "ORG_IDEMPOTENCY_CONFLICT",
                      "message": "같은 요청 키로 다른 내용이 이미 처리되었습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/organizations/{organizationId}/restore": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "기관 복구 | ✅ 사용 가능",
        "description": "soft-delete 된 기관을 되살린다. 목업 case 7: *\"보존기간이 지난 뒤 파기됩니다.\n**그전까지는 복구할 수 있습니다.**\"*\n\n**삭제 상태를 되돌리는 유일한 방법이다.** 운영 설정으로 `status` 를 `ACTIVE` 로 바꾸는 것은\n막혀 있다 — 삭제 흔적(`deleted_at` 등)이 남은 채 활성이 되면 DB 제약을 위반한다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | 삭제된 기관의 식별자 |\n\n본문 없음.\n\n## 응답\n\n복구된 기관 정보. **목록 조회 `content[]` 항목과 같은 구조**다.\n\n`status` 는 **항상 `ACTIVE`** 로 돌아온다. 삭제 전 상태를 보관하는 컬럼이 없고,\n복구의 의도는 \"다시 쓰겠다\" 이기 때문이다. 정지 상태로 두고 싶다면 복구 후\n설정에서 `SUSPENDED` 로 바꾸세요.\n\n함께 정리되는 값 — `deletedAt` · `retentionUntil` · `suspendedAt` 이 비워지고\n파기 예약(`purgeStatus`)도 취소된다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 `ORG_NOT_FOUND` | 없는 기관 |\n| 409 `ORG_NOT_DELETED` | 삭제되지 않은 기관 |\n| 409 `ORG_ALREADY_DELETED` | **보존기간이 이미 지나 파기 대상** — 복구 불가 |\n| 409 `ORG_NAME_TAKEN` | 삭제된 사이 같은 이름의 기관이 새로 생김 |\n",
        "operationId": "restoreOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "복구 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "404": {
            "description": "ORG_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORG_NOT_FOUND": {
                    "summary": "ORG_NOT_FOUND",
                    "value": {
                      "code": "ORG_NOT_FOUND",
                      "message": "기관을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "ORG_NOT_DELETED · ORG_ALREADY_DELETED · ORG_NAME_TAKEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORG_NOT_DELETED": {
                    "summary": "ORG_NOT_DELETED",
                    "value": {
                      "code": "ORG_NOT_DELETED",
                      "message": "삭제되지 않은 기관입니다."
                    }
                  },
                  "ORG_ALREADY_DELETED": {
                    "summary": "ORG_ALREADY_DELETED",
                    "value": {
                      "code": "ORG_ALREADY_DELETED",
                      "message": "이미 삭제된 기관입니다."
                    }
                  },
                  "ORG_NAME_TAKEN": {
                    "summary": "ORG_NAME_TAKEN",
                    "value": {
                      "code": "ORG_NAME_TAKEN",
                      "message": "이미 있는 기관명입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/organizations/{organizationId}/purge": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "기관 파기 요청 | ⚠️ 사용 불가",
        "description": "**요청은 접수되지만 데이터가 실제로 지워지지 않는다.** 보존기간 검증과\n`purge_status = IN_PROGRESS` 전이까지만 구현돼 있고, 응답은 항상 `purged=false`다.\n\n`organization(org_id)`를 참조하는 FK가 52개이고 전부 `ON DELETE RESTRICT`라\n52개 테이블을 위상 정렬 역순으로 지워야 하는데, 한 트랜잭션에 담을 수 없어\n별도 배치가 필요하다. 그 배치가 아직 없다.\n\n⚠️ 한 번 호출하면 `purge_status`가 `IN_PROGRESS`로 바뀌고 **복구가 막힌다**\n(`POST /{organizationId}/restore`가 보존기간 경과를 이유로 거절한다).\n되돌리려면 DB를 직접 손봐야 하므로 **버려도 되는 기관에만 호출한다.**\n\n---\n\n보존기간이 지난 기관의 데이터 파기를 요청한다. 목업 case 8 — **화면이 없고**\n운영자가 API 로 직접 호출하는 경로다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | soft-delete 된 기관의 식별자 |\n\n본문 없음.\n\n## 응답\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `organizationId` | UUID | 대상 기관 |\n| `deletedAt` | datetime | soft-delete 시각 |\n| `retentionUntil` | datetime | 보존기간 종료 시각 |\n| `requestedAt` | datetime | 파기 요청 접수 시각 |\n| `purged` | boolean | **항상 `false`** — 실제 파기는 아직 수행되지 않는다 |\n| `message` | string | 운영자에게 보여줄 안내 문구 |\n\n⚠️ **화면에서 `purged` 를 반드시 확인하세요.** 200 이 왔다고 \"파기 완료\" 로 그리면 안 된다.\n`false` 이므로 **\"파기 접수됨\"** 으로 표시해야 한다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 `ORG_NOT_FOUND` | 없는 기관 |\n| 409 `ORG_NOT_DELETED` | soft-delete 되지 않은 기관. 먼저 `DELETE /{organizationId}` |\n| 409 `RETENTION_NOT_MET` | 보존기간이 남음. 응답 메시지에 파기 가능 시각이 담긴다 |\n\n즉시 물리 삭제 경로는 두지 않는다 — 실수로 지우면 되돌릴 방법이 없다.\n",
        "operationId": "purgeOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "파기 요청 접수(보존기간 충족)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurgeOrganizationResponse"
                }
              }
            }
          },
          "404": {
            "description": "ORG_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORG_NOT_FOUND": {
                    "summary": "ORG_NOT_FOUND",
                    "value": {
                      "code": "ORG_NOT_FOUND",
                      "message": "기관을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "RETENTION_NOT_MET · ORG_NOT_DELETED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "RETENTION_NOT_MET": {
                    "summary": "RETENTION_NOT_MET",
                    "value": {
                      "code": "RETENTION_NOT_MET",
                      "message": "보존기간이 남아 파기할 수 없습니다."
                    }
                  },
                  "ORG_NOT_DELETED": {
                    "summary": "ORG_NOT_DELETED",
                    "value": {
                      "code": "ORG_NOT_DELETED",
                      "message": "삭제되지 않은 기관입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "unavailable"
      }
    },
    "/api/v0/organizations/{organizationId}/operators/invitations": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "오퍼레이터 초대 | ✅ 사용 가능",
        "description": "SA-02 ② `오퍼레이터 초대` 모달. 계정 자리를 만들고 초대 메일을 보낸다.\n\n## 요청\n\n**경로 변수** — `organizationId` (**필수**, UUID)\n\n**JSON 본문**\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `email` | **필수** | string | 초대할 이메일. **이 API 의 유일한 입력이다** |\n\n**헤더 (선택)** — `X-Request-Id: {문자열}` 초대·토큰 발급 추적용. 생략하면 서버가 만든다.\n\n권한·기수를 고르는 칸이 없는 건 의도한 설계다 — 목업: *\"이 화면에서 보내는 초대는\n오퍼레이터 하나뿐이라 초대하는 화면이 곧 역할이다. 기수 배정도 없다 —\n오퍼레이터는 기관 전체를 본다.\"*\n\n**이메일 도메인 제한이 없다.** 기관에 `emailDomain` 이 설정돼 있어도 **아무 주소로나**\n(개인 메일 포함) 초대할 수 있다. 오퍼레이터는 기관의 첫 계정이라 초대받는 시점에\n그 기관 메일함을 가질 수 없기 때문이다.\n\n## 응답 — `201 Created`\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `organizationId` | UUID | 기관 식별자 |\n| `memberId` | UUID | 생성된 계정 자리 |\n| `email` | string | 초대 메일 수신 주소 |\n| `status` | enum | 항상 `PENDING`(목업 `초대됨`) |\n| `invitedAt` | datetime | 초대 원장·최초 토큰 생성 시각 |\n\n받는 사람은 메일 링크로 AU-02 에서 **이름·비밀번호만 정하면** 활성화된다.\n\n**초대 직후 목록을 다시 불러야** 새 행이 표에 나타난다. 응답에 목록이 함께 오지 않는다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 | 활성 기관이 아님(삭제·미존재) |\n| 409 `ALREADY_INVITED` | 이미 등록되었거나 초대가 진행 중인 이메일 |\n| 502 `INVITE_MAIL_FAILED` | 메일 발송 실패 — **아래 참고** |\n\n### 502 여도 계정 자리는 남는다\n\n목업 case 4·5 *\"자리는 남기고 링크만 실패\"* 대로 동작한다.\n목록을 다시 부르면 그 계정이 `invitationDeliveryFailed=true` 로 나오므로,\n화면은 **그 행에** `초대 메일이 나가지 않았습니다` 안내와 [재발송] 버튼을 붙이면 된다.\n\n자리를 지우지 않는 이유 — 지우면 같은 주소로 다시 초대했을 때\n**중복 초대인지 재시도인지 구분할 수 없다.**\n",
        "operationId": "inviteOperator",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "초대 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "invite-op-001"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteOperatorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "오퍼레이터 계정 생성 및 초대 발송 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteOperatorResponse"
                }
              }
            }
          },
          "404": {
            "description": "활성 기관을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "NOT_FOUND",
                    "value": {
                      "code": "NOT_FOUND",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "ALREADY_INVITED · 이미 등록되었거나 초대된 이메일",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ALREADY_INVITED": {
                    "summary": "ALREADY_INVITED",
                    "value": {
                      "code": "ALREADY_INVITED",
                      "message": "이미 등록되었거나 초대된 이메일입니다."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "INVITE_MAIL_FAILED · 초대 메일 발송 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_MAIL_FAILED": {
                    "summary": "INVITE_MAIL_FAILED",
                    "value": {
                      "code": "INVITE_MAIL_FAILED",
                      "message": "초대 메일을 보내지 못했습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/organizations/{organizationId}/operators/invitations/{tokenId}/resend": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "오퍼레이터 초대 재발송 | ✅ 사용 가능",
        "description": "SA-02 ② case 4·5 의 [재발송] 액션. 초대 메일을 다시 보낸다.\n\n## 언제 쓰나\n\n| 상황 | 목록에서의 신호 |\n|---|---|\n| 메일이 나가지 않음 | `invitationDeliveryFailed === true` |\n| 링크가 만료됨 | 상태로는 구분되지 않는다. 사용자가 요청하면 호출 |\n\n**만료된 초대도 대상이다** — 만료야말로 재발송이 필요한 주된 상황이다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | 기관 식별자 |\n| `tokenId` | **필수** | UUID | 목록 응답의 **`pendingInvitationTokenId`** |\n\n**헤더 (선택)** — `X-Request-Id: {문자열}` 추적용. 생략하면 서버가 만든다.\n\n본문 없음.\n\n## 응답\n\n**재발송 후의 오퍼레이터 목록 전체**(`GET .../operators` 와 같은 구조).\n\n해당 계정은 이렇게 바뀐다.\n\n| 필드 | 재발송 후 |\n|---|---|\n| `invitationDeliveryFailed` | `false` 로 내려감 |\n| `pendingInvitationTokenId` | **새 토큰 값으로 교체** |\n| `status` | `PENDING` 유지 |\n\n## 동작\n\n- **이전 토큰을 무효화하고 새로 발급한다** — 재발송 뒤에도 옛 링크가 살아 있으면\n  유효한 가입 링크가 둘이 된다\n- **초대 원장은 새로 만들지 않는다** — 재발송인지 새 초대인지 구분되고\n  재발송 횟수(`resend_count`)가 정확히 쌓인다\n\n**쿨다운·횟수 제한은 없다.** 필요하면 화면에서 버튼을 잠시 비활성화하세요.\n\n## 취소된 초대에는 쓸 수 없다\n\n취소하면 토큰이 무효화되고 `pendingInvitationTokenId` 가 `null` 이 되어 넘길 값이 없다.\n그 경우는 **재초대**(`POST .../operators/invitations`)를 쓴다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 `OPERATOR_INVITATION_NOT_FOUND` | 이미 수락·취소된 초대이거나 다른 기관의 토큰 |\n| 502 `INVITE_MAIL_FAILED` | 재발송도 실패. 자리와 기록은 남으므로 다시 시도할 수 있다 |\n",
        "operationId": "resendOperatorInvitation",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "재발송 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "resend-op-001"
          }
        ],
        "responses": {
          "200": {
            "description": "재발송 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorListResponse"
                }
              }
            }
          },
          "404": {
            "description": "OPERATOR_INVITATION_NOT_FOUND · 이미 수락·취소된 초대",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OPERATOR_INVITATION_NOT_FOUND": {
                    "summary": "OPERATOR_INVITATION_NOT_FOUND",
                    "value": {
                      "code": "OPERATOR_INVITATION_NOT_FOUND",
                      "message": "취소할 수 있는 오퍼레이터 초대를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "INVITE_MAIL_FAILED · 재발송도 실패(자리와 기록은 남는다)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_MAIL_FAILED": {
                    "summary": "INVITE_MAIL_FAILED",
                    "value": {
                      "code": "INVITE_MAIL_FAILED",
                      "message": "초대 메일을 보내지 못했습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/members/organizations/{organizationId}/manager-invitations": {
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "매니저 초대 | ✅ 사용 가능",
        "description": "오퍼레이터가 자기 기관의 **매니저**를 초대합니다(OP-06). 이 경로가 만드는 계정은 항상 MANAGER이며, 다른 역할은 만들 수 없습니다.\n\n**초대 권한 체계**: 슈퍼어드민 → 오퍼레이터 초대는 `POST /organizations/{organizationId}/operators/invitations`(SA-02 ②)가 전담하고, 오퍼레이터 → 매니저 초대는 이 API가 전담합니다.\n\n**요청**\n- organizationId (경로): 초대 대상 기관. 호출자의 소속 기관과 다르면 403\n- email (필수, 최대 320자): 초대받을 이메일\n- cohortId (필수): 담당할 기수 ID. 그 기관의 기수가 아니면 400\n- X-Request-Id (헤더, 선택): 초대 추적용 식별자. 생략하면 서버가 만든다\n\n**반 배정은 초대 시점에 하지 않습니다** — 요청에 반 필드가 없으며, 담당 반은 가입 이후\n`PATCH /cohorts/{cohortId}/classrooms/{classroomId}/managers`로 따로 정합니다.\n\n**응답 (201)**\n- memberId: 생성된 계정 자리 ID\n- email / role(항상 MANAGER) / status(항상 INVITED) / invitedAt\n\n**메일이 나갔다고 계정이 활성화된 것은 아닙니다.** 초대받은 매니저가\n`POST /auth/manager-signup`에서 이름·비밀번호를 정해야 활성 계정이 됩니다.\n\n⚠️ 메일 발송에 실패하면(502) 계정 자리도 **함께 롤백**되어 아무것도 남지 않습니다.\n",
        "operationId": "inviteManager",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "초대 대상 기관 ID. 호출자인 오퍼레이터의 소속 기관만 허용됩니다.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "초대 생성·토큰 발급 추적용 요청 ID이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "invite-request-001"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteManagerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "초대 원장·현재 토큰 생성 및 메일 발송 성공; 계정 활성화 완료를 의미하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteManagerResponse"
                }
              }
            }
          },
          "400": {
            "description": "EMAIL_FORMAT_INVALID 이메일 형식 오류 · MANAGER_COHORT_REQUIRED 담당 기수 미지정 · COHORT_NOT_IN_ORGANIZATION 기관에 속하지 않은 기수",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "EMAIL_FORMAT_INVALID": {
                    "summary": "EMAIL_FORMAT_INVALID",
                    "value": {
                      "code": "EMAIL_FORMAT_INVALID",
                      "message": "이메일 형식이 올바르지 않습니다."
                    }
                  },
                  "MANAGER_COHORT_REQUIRED": {
                    "summary": "MANAGER_COHORT_REQUIRED",
                    "value": {
                      "code": "MANAGER_COHORT_REQUIRED",
                      "message": "일반 매니저는 하나의 기수를 반드시 지정해야 합니다."
                    }
                  },
                  "COHORT_NOT_IN_ORGANIZATION": {
                    "summary": "COHORT_NOT_IN_ORGANIZATION",
                    "value": {
                      "code": "COHORT_NOT_IN_ORGANIZATION",
                      "message": "기관에 속하지 않은 기수입니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰 없음 · INVITER_NOT_FOUND 인증 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITER_NOT_FOUND": {
                    "summary": "INVITER_NOT_FOUND",
                    "value": {
                      "code": "INVITER_NOT_FOUND",
                      "message": "인증 사용자를 찾을 수 없습니다."
                    }
                  },
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "INVITE_ROLE_NOT_ALLOWED 이 역할을 초대할 권한이 없음 · INVITE_CROSS_ORGANIZATION 다른 기관 지정 · INVITER_NOT_ACTIVE 호출자가 활성 계정이 아님",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_ROLE_NOT_ALLOWED": {
                    "summary": "INVITE_ROLE_NOT_ALLOWED",
                    "value": {
                      "code": "INVITE_ROLE_NOT_ALLOWED",
                      "message": "이 역할을 초대할 권한이 없습니다."
                    }
                  },
                  "INVITE_CROSS_ORGANIZATION": {
                    "summary": "INVITE_CROSS_ORGANIZATION",
                    "value": {
                      "code": "INVITE_CROSS_ORGANIZATION",
                      "message": "다른 기관에는 초대할 수 없습니다."
                    }
                  },
                  "INVITER_NOT_ACTIVE": {
                    "summary": "INVITER_NOT_ACTIVE",
                    "value": {
                      "code": "INVITER_NOT_ACTIVE",
                      "message": "활성 사용자만 초대할 수 있습니다."
                    }
                  },
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "ORGANIZATION_NOT_FOUND 초대 대상 기관을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORGANIZATION_NOT_FOUND": {
                    "summary": "ORGANIZATION_NOT_FOUND",
                    "value": {
                      "code": "ORGANIZATION_NOT_FOUND",
                      "message": "활성 기관을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "ALREADY_INVITED 이미 등록된 계정 또는 동일 대상의 미완료 초대가 존재함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ALREADY_INVITED": {
                    "summary": "ALREADY_INVITED",
                    "value": {
                      "code": "ALREADY_INVITED",
                      "message": "이미 등록되었거나 초대된 이메일입니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INVITATION_SAVE_FAILED 이메일 중복이 아닌 DB 제약 위반 등으로 초대 정보를 저장하지 못함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITATION_SAVE_FAILED": {
                    "summary": "INVITATION_SAVE_FAILED",
                    "value": {
                      "code": "INVITATION_SAVE_FAILED",
                      "message": "초대 정보를 저장할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "INVITE_MAIL_FAILED 초대 메일 발송 실패로 초대 트랜잭션을 완료하지 못함. 계정은 만들어지지 않았다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_MAIL_FAILED": {
                    "summary": "INVITE_MAIL_FAILED",
                    "value": {
                      "code": "INVITE_MAIL_FAILED",
                      "message": "초대 메일을 보내지 못했습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/members/organizations/{organizationId}/manager-invitations/{tokenId}/resend": {
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "매니저 초대 재발송 | ✅ 사용 가능",
        "description": "OP-06 `매니저` 탭의 `재발송` 액션. 초대 메일을 다시 보낸다.\n\n## 언제 쓰나\n\n메일이 도착하지 않았거나 링크가 만료됐을 때다. **만료된 초대도 대상이다** —\n만료야말로 재발송이 필요한 주된 상황이다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | 기관 식별자 |\n| `tokenId` | **필수** | UUID | 목록 응답의 **`pendingInvitationTokenId`** |\n\n**헤더 (선택)** — `X-Request-Id: {문자열}` 추적용. 생략하면 서버가 만든다. 본문 없음.\n\n`pendingInvitationTokenId`가 `null`인 행은 **재발송 버튼을 노출하지 않는다** —\n이미 수락됐거나 취소된 초대라 넘길 토큰이 없다.\n\n## 동작\n\n- **이전 토큰을 무효화하고 새로 발급한다** — 재발송 뒤에도 옛 링크가 살아 있으면\n  유효한 가입 링크가 둘이 된다\n- **초대 원장은 새로 만들지 않는다** — 재발송 횟수(`resend_count`)가 정확히 쌓인다\n\n**쿨다운·횟수 제한은 없다.** 필요하면 화면에서 버튼을 잠시 비활성화하세요.\n\n## 응답 (200)\n\n**재발송 후의 그 매니저 한 행.** `pendingInvitationTokenId`가 **새 토큰 값으로 교체**되고\n`status`는 `INVITED`로 유지된다.\n\n## 교육생용 `POST /auth/invitations/resend`와 다르다\n\n그쪽은 **받는 사람용**이라 인증 없이 부르고 계정 존재 여부를 숨기려 항상 같은 202를 준다 —\n오퍼레이터가 눌러도 나갔는지 알 수 없다. 이 API는 **운영자용**이라 토큰을 지목하고\n실패하면 실패로 답한다.\n",
        "operationId": "resendManagerInvitation",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "기관 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "tokenId",
            "in": "path",
            "description": "목록 응답의 pendingInvitationTokenId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "재발송 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "resend-mgr-001"
          }
        ],
        "responses": {
          "200": {
            "description": "재발송 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagerRosterEntry"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰이 없거나 만료됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "ACCESS_DENIED 오퍼레이터 권한이 아님 · INVITE_CROSS_ORGANIZATION 다른 기관의 초대",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "INVITE_CROSS_ORGANIZATION": {
                    "summary": "INVITE_CROSS_ORGANIZATION",
                    "value": {
                      "code": "INVITE_CROSS_ORGANIZATION",
                      "message": "다른 기관에는 초대할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "MANAGER_INVITATION_NOT_FOUND 이미 수락·취소된 초대이거나 다른 기관·다른 역할의 토큰",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "MANAGER_INVITATION_NOT_FOUND": {
                    "summary": "MANAGER_INVITATION_NOT_FOUND",
                    "value": {
                      "code": "MANAGER_INVITATION_NOT_FOUND",
                      "message": "취소할 수 있는 매니저 초대를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "ORGANIZATION_CONTEXT_MISSING 인증 정보에서 기관을 확인할 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORGANIZATION_CONTEXT_MISSING": {
                    "summary": "ORGANIZATION_CONTEXT_MISSING",
                    "value": {
                      "code": "ORGANIZATION_CONTEXT_MISSING",
                      "message": "기관 컨텍스트를 확인할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "INVITE_MAIL_FAILED 재발송도 실패(자리와 기록은 남으므로 다시 시도할 수 있다)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_MAIL_FAILED": {
                    "summary": "INVITE_MAIL_FAILED",
                    "value": {
                      "code": "INVITE_MAIL_FAILED",
                      "message": "초대 메일을 보내지 못했습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/curricula": {
      "post": {
        "tags": [
          "Curriculum"
        ],
        "summary": "교안 등록 | ✅ 사용 가능",
        "description": "PDF 파일을 업로드해 새 교안(material)과 첫 버전(version)을 만든다.\n⚠ 파일은 현재 로컬 디스크에 저장된다(uploads/curricula/) — 나중에 S3 등으로 교체 예정.\n⚠ 등록 직후엔 분석이 안 된 상태다. 섹션·검증개념을 쓰려면 별도로\n`POST /curricula/{materialId}/analyses`를 호출해야 한다.\n\n**요청 (multipart/form-data)**\n- file (필수): PDF 파일\n- title (필수): 교안 제목\n- topic (선택): 주제\n\n**응답 (201)**\n- 생성된 교안 버전 정보(응답 필드는 \"기수 연결 교안 목록\"과 동일)\n",
        "operationId": "registerCurriculum",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "교안 제목",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "topic",
            "in": "query",
            "description": "주제(선택)",
            "required": false,
[...]
