{
  "openapi": "3.1.0",
  "info": {
    "title": "IZ-Get",
    "description": "IZ-Get API Specification",
    "version": "v0.1"
  },
  "servers": [
    {
      "url": "https://mmbvymzj5k.ap-northeast-1.awsapprunner.com",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Academic Operations",
      "description": "기수, 반, 교육생 소속 이력, 매니저 반 배정 API"
    },
    {
      "name": "Consent",
      "description": "가입 화면 동의 항목 조회 API"
    },
    {
      "name": "Organization",
      "description": "기관 프로비저닝, 기관 상태, 계약, 기관별 운영 정책, 기관 삭제·복구 API (v2 IA: SA-01 기관 목록 / SA-02 기관 상세)"
    },
    {
      "name": "Member",
      "description": "사용자 계정, 역할, 초대, 활성화, 계정 상태, 약관 동의 API (매니저·교육생)"
    },
    {
      "name": "Platform Governance",
      "description": "플랫폼 전역 AI 모델 정책, 모델 티어, 단가, 보정 버전, 전역 설정 API (v2 IA: SA-03 플랫폼 설정 — 모델·단가 / 슈퍼어드민 계정)"
    },
    {
      "name": "Disclosure",
      "description": "리포트 공개 범위 조회·설정 API (v2 IA: TR-04 / MG-08)"
    },
    {
      "name": "Reporting",
      "description": "리포트 발행 이력·본문·문답 조회 API (v2 IA: TR-04 / OP-05)"
    },
    {
      "name": "Auth",
      "description": "로그인, Access/Refresh Token 재발급·세션 폐기, 비밀번호 재설정, 초대 계정 활성화 API"
    },
    {
      "name": "Usage Metering",
      "description": "AI 호출량·토큰·비용, 저장소 사용량, 기관 한도, 비용 집계 API (v2 IA: SA-02 ③④ / OP-06 ⑤)"
    }
  ],
  "paths": {
    "/api/v0/reports/{reportId}/disclosure": {
      "get": {
        "tags": [
          "Disclosure"
        ],
        "summary": "내 리포트 공개 상태 조회 | ⚠️ 사용 불가",
        "description": "TR-04에서 **본문이 안 열리는 이유**를 판별한다. `GET /reports`가 회차 상태까지\n같이 주므로 화면이 매번 부를 필요는 없고, `PENDING_VISIBILITY`처럼\n**공개 쪽 사정으로 잠긴 회차**를 눌렀을 때 확인용으로 쓴다.\n\n**교육생 본인 것만 나간다.** `traineeId`를 받지 않고 인증 주체로 결정한다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `reportId` | **필수** | UUID | 리포트 식별자. `assessmentRoundId`가 아니다 |\n\n## 응답\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `releaseStatus` | enum | **판별자.** `NOT_CONFIGURED` · `WITHHELD` · `RELEASED` |\n| `scope` | enum? | `PRIVATE` · `SUMMARY` · `FULL`. 미지정이면 **키가 빠진다** |\n| `publishedAt` | instant? | 발행 시각. 발행 전이면 키가 빠진다 |\n| `releasedAt` | instant? | 공개 처리 시각. `RELEASED`에서만 |\n| `bodyVisible` | boolean | 본문을 읽을 수 있는가 |\n| `visibleFields` | object | `{said, curriculumRef, qa}` — 범위가 여는 필드 |\n\n## 상태 3종이 화면에서 뜻하는 것\n\n| `releaseStatus` | 화면 |\n|---|---|\n| `NOT_CONFIGURED` | `공개 범위 미지정` — **결과는 나와 있고 매니저가 여는 시점만 남았다** |\n| `WITHHELD` | 회차는 목록에 보이되 본문이 잠긴다 |\n| `RELEASED` | `PUBLISHED` |\n\n⚠️ **셋 다 정상 상태라 오류를 던지지 않는다.** 본문 조회가 막히는 것과 다르다 —\n이 API는 \"왜 막혔나\"를 알려 주는 쪽이므로 200으로 상태를 싣는다.\n\n## visibleFields — 범위→필드 규칙을 서버가 계산한다\n\n| 범위 | `said` | `curriculumRef` | `qa` |\n|---|---|---|---|\n| `PRIVATE`·미지정 | ❌ | ❌ | ❌ |\n| `SUMMARY` | ⭕ | ⭕ | ❌ |\n| `FULL` | ⭕ | ⭕ | ⭕ |\n\n프론트가 이 표를 다시 구현하면 서버와 어긋날 때 **학생에게 안 보여야 할 문답이\n보이는 쪽**으로 틀릴 수 있다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 `REPORT_NOT_FOUND` | 없는 리포트 **또는 남의 리포트** |\n\n남의 리포트를 403이 아니라 404로 돌려준다 — 403이면 그 id가 존재한다는 사실이 샌다.\n",
        "operationId": "findMyDisclosure",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportDisclosureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "unavailable"
      },
      "put": {
        "tags": [
          "Disclosure"
        ],
        "summary": "리포트 공개 범위 설정 | ⚠️ 사용 불가",
        "description": "담당 매니저가 회차 결과를 교육생에게 연다. TR-04의 `공개 범위 미지정`을\n푸는 유일한 경로다 — 이 호출이 없으면 리포트는 발행돼도 영원히 잠겨 있다.\n\n## 요청\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `scope` | **필수** | enum | `PRIVATE` · `SUMMARY` · `FULL` |\n\n`NOT_CONFIGURED`는 보낼 수 없다. 미지정은 아직 아무도 정하지 않은 초기 상태이지\n선택지가 아니며, 열었다 닫는 것은 `PRIVATE`이다.\n\n## scope가 상태 4컬럼을 결정한다\n\n| 보낸 값 | 결과 상태 | 시각·주체 |\n|---|---|---|\n| `PRIVATE` | `WITHHELD` | 비운다 |\n| `SUMMARY` · `FULL` | `RELEASED` | 지금 · 요청한 매니저 |\n\n클라이언트가 상태·시각·주체를 직접 보내지 않는 이유는 DB CHECK\n`ck_report_trainee_release_status_2`가 넷의 조합을 강제하기 때문이다 —\n따로 받으면 제약을 어기는 조합을 만들 수 있다.\n\n## 발행 전에도 정할 수 있다\n\n**발행(`publishedAt`)과 공개(`releaseStatus`)는 다른 사건**이라 순서를 강제하지 않는다.\n발행 전에 범위를 정해 두면 발행되는 순간 바로 열린다. 다만 `bodyVisible`은\n둘이 모두 갖춰져야 참이다.\n\n## 권한\n\n요청 매니저가 **지금 담당하는 반**의 교육생 리포트만 바꿀 수 있다.\n배정 이력이 해제된 반(`manager_assignment.unassigned_at`)과 이탈한 교육생\n(`cohort_member.left_at`)은 제외된다 — 지난 기수에 잠깐 담당했던 매니저가\n계속 공개 범위를 바꾸면 안 된다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 `REPORT_DISCLOSURE_SCOPE_INVALID` | 도메인이 막는 조합(공개인데 범위가 비공개) |\n| 404 `REPORT_NOT_FOUND` | 없는 리포트 · **담당하지 않는 교육생** · 기수 단위 리포트 |\n\n담당하지 않는 경우도 403이 아니라 404다 — 존재 여부를 흘리지 않기 위해\n조회 실패와 권한 실패를 같은 응답으로 합쳤다.\n",
        "operationId": "updateDisclosure",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReportDisclosureRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportDisclosureResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "unavailable"
      }
    },
    "/api/v0/platform/operations/tier-models": {
      "put": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "티어 ↔ 모델 매핑 변경 | ✅ 사용 가능",
        "description": "SA-03 ① `코드 세션 · 정확도 우선 / 균형 / 비용 우선` 3티어 매핑을 바꾼다.\n**한 번에 한 티어씩** 바꾼다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `featureCode` | **필수** | enum | **`CODE_SESSION` 하나뿐이다**(v07 기준) |\n| `tierCode` | **필수** | enum | `ACCURACY_FIRST` · `BALANCED` · `COST_FIRST` |\n| `modelId` | **필수** | UUID | 그 (기능, 티어)가 실제로 호출할 모델 |\n| `changeReason` | 선택 | string | 변경 사유 |\n\n## 응답\n\n변경 후의 **모델·단가 설정 전체**(`GET /model-settings` 와 같은 구조).\n화면을 그대로 다시 그리면 된다.\n\n## 채점 모델 변경과 다르다\n\n| | 채점 모델 | 티어 매핑 |\n|---|---|---|\n| 재캘리브레이션 | **발생** | **없음** |\n| 확인 플래그 | 필수 | 불필요 |\n| 되돌리기 | 사실상 불가 | 다시 바꾸면 됨 |\n\n코드 세션은 점수가 아니라 **산출물**이라 버전 간 비교 문제가 없다.\n화면의 확인 모달은 \"정말 바꿀지\"만 묻는 가벼운 확인이면 된다.\n\n(기능, 티어) 조합별로 버전이 올라가고 이전 활성 버전은 `SUPERSEDED` 로 닫힌다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 필수 누락 · `featureCode` 가 `CODE_SESSION` 이 아님 |\n| 400 `AI_MODEL_NOT_AVAILABLE` | 없는 모델이거나 `INACTIVE` 상태 |\n",
        "operationId": "updateTierModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTierModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "변경 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformModelSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI_MODEL_NOT_AVAILABLE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_MODEL_NOT_AVAILABLE": {
                    "summary": "AI_MODEL_NOT_AVAILABLE",
                    "value": {
                      "code": "AI_MODEL_NOT_AVAILABLE",
                      "message": "사용할 수 없는 AI 모델입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/models/{modelId}/pricing": {
      "put": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "모델 단가 수정 | ✅ 사용 가능",
        "description": "SA-03 ① `단가 · 모델별 입력·출력 토큰 단가` 행의 `입력`/`수정` 액션.\n\n## 요청\n\n**경로 변수** — `modelId` (**필수**, UUID). 조회 응답의 `modelPricings[].modelId`\n\n**JSON 본문** — 단가는 모두 **100만 토큰당** 값이다.\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `inputPricePerMillionTokens` | 조건부 | decimal | 입력 단가. 0 이상 |\n| `outputPricePerMillionTokens` | 조건부 | decimal | 출력 단가. 0 이상 |\n| `cachedInputPricePerMillionTokens` | 선택 | decimal | 캐시 입력 단가 |\n| `priceUnitTokenCount` | 선택 | int | 단가 기준 토큰 수. 기본 `1000000` |\n\n**입력·출력 단가는 함께 움직인다.**\n\n| 보내는 값 | 결과 |\n|---|---|\n| 입력·출력 **둘 다 값** | 단가 설정 |\n| 입력·출력 **둘 다 `null`** | **단가 미설정으로 되돌림** |\n| 한쪽만 값 | **400** — 쌍이 맞지 않음 |\n\n캐시 단가는 입력 단가가 있을 때만 설정할 수 있다(입력이 `null` 인데 캐시만 보내면 400).\n\n## ⚠️ 미설정과 0은 다르다\n\n단가를 지우려면 **`null`** 을 보내세요. **`0` 은 '무료'라는 뜻**이라 전혀 다릅니다.\n\n| | 사용량 집계에서 |\n|---|---|\n| `null`(미설정) | 비용 합계에서 **제외**하고 `unpricedCallCount` 로 따로 센다 |\n| `0` | 0원으로 **합산**된다 |\n\n목업 SA-03: *\"0으로 합산하면 청구액이 실제보다 작아 보인다.\"*\n\n## 응답\n\n변경 후의 **모델·단가 설정 전체**(`GET /model-settings` 와 같은 구조).\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 입력·출력 단가 쌍 불일치 · 캐시 단가만 지정 · 음수 |\n| 400 `AI_MODEL_NOT_AVAILABLE` | 없는 모델 |\n",
        "operationId": "updateModelPricing",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelPricingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformModelSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI_MODEL_NOT_AVAILABLE · 단가 쌍 불일치",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_MODEL_NOT_AVAILABLE": {
                    "summary": "AI_MODEL_NOT_AVAILABLE",
                    "value": {
                      "code": "AI_MODEL_NOT_AVAILABLE",
                      "message": "사용할 수 없는 AI 모델입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/grading-model": {
      "put": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "채점 모델 변경 (전 기관 재캘리브레이션 유발) | ✅ 사용 가능",
        "description": "SA-03 ① `채점 · 고정 · claude-x` 행의 변경 액션.\n\n## ⚠️ 되돌릴 수 없다\n\n목업: *\"채점 모델을 바꾸면 **전 기관 재캘리브레이션**이 필요하고, 버전이 다른 결과끼리는\n화면에서 비교를 막는다.\"*\n\n**반드시 확인 모달을 거쳐 호출하세요.** 서버도 `acknowledgeRecalibration=true` 를\n요구해 한 번 더 막는다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `modelId` | **필수** | UUID | 새 채점 모델. `GET /model-settings` 의 `modelPricings[].modelId` 에서 고른다 |\n| `calibrationVersionCode` | **필수** | string | 새로 만들 캘리브레이션 버전 코드 |\n| `acknowledgeRecalibration` | **필수** | boolean | **반드시 `true`.** false·누락이면 400 |\n| `changeReason` | 선택 | string | 변경 사유(감사·이력용) |\n\n**`calibrationVersionCode` 는 조회해서 고르는 값이 아니라 직접 짓는 이름이다.**\n\n- 형식: `^[A-Z][A-Z0-9_]*$` — 대문자로 시작, 대문자·숫자·밑줄만. 100자 이하\n- **전체 UNIQUE** — 이미 쓴 값이면 409\n- 예: `CAL_2026_08_V1`\n\n## 응답\n\n변경 후의 **모델·단가 설정 전체**(`GET /model-settings` 와 같은 구조).\n화면을 그대로 다시 그리면 된다. `gradingPolicy.runningCalibration` 에 방금 만든\n재캘리브레이션 버전이 담긴다.\n\n## 한 번 호출하면 벌어지는 일\n\n한 트랜잭션에서:\n\n1. 현재 활성 채점 정책을 `SUPERSEDED` 로 닫고 **새 버전 발급**\n2. 새 캘리브레이션 버전 생성(`PENDING`)\n3. **삭제되지 않은 전 기관**에 재캘리브레이션 대기 행 생성\n\n⚠️ **실제 재캘리브레이션 실행은 별도 배치 담당이고, 그 배치가 아직 없다.**\n따라서 상태가 `PENDING` 에서 넘어가지 않으며, **다시 바꾸려 하면 계속 409 가 난다.**\n테스트 중이라면 개발 DB 에서 해당 버전 상태를 직접 정리해야 한다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | `acknowledgeRecalibration` 이 true 가 아님 · 버전 코드 형식 오류 |\n| 400 `AI_MODEL_NOT_AVAILABLE` | 없는 모델이거나 `INACTIVE` 상태 |\n| 409 `CALIBRATION_VERSION_CODE_TAKEN` | 이미 쓴 버전 코드 |\n| 409 `CALIBRATION_IN_PROGRESS` | **재캘리브레이션이 이미 진행 중** — 두 버전이 동시에 돌면 어느 쪽이 비교 기준인지 알 수 없다 |\n",
        "operationId": "updateGradingModel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGradingModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "변경 성공(재캘리브레이션 대기 생성 완료)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformModelSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "AI_MODEL_NOT_AVAILABLE · 확인 플래그 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "AI_MODEL_NOT_AVAILABLE": {
                    "summary": "AI_MODEL_NOT_AVAILABLE",
                    "value": {
                      "code": "AI_MODEL_NOT_AVAILABLE",
                      "message": "사용할 수 없는 AI 모델입니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "CALIBRATION_IN_PROGRESS · CALIBRATION_VERSION_CODE_TAKEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CALIBRATION_IN_PROGRESS": {
                    "summary": "CALIBRATION_IN_PROGRESS",
                    "value": {
                      "code": "CALIBRATION_IN_PROGRESS",
                      "message": "재캘리브레이션이 이미 진행 중입니다."
                    }
                  },
                  "CALIBRATION_VERSION_CODE_TAKEN": {
                    "summary": "CALIBRATION_VERSION_CODE_TAKEN",
                    "value": {
                      "code": "CALIBRATION_VERSION_CODE_TAKEN",
                      "message": "이미 사용 중인 캘리브레이션 버전 코드입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/organizations/{organizationId}/operations/settings": {
      "get": {
        "tags": [
          "Usage Metering"
        ],
        "summary": "기관 운영 설정 조회 | ✅ 사용 가능",
        "description": "SA-02 ④ 설정 탭을 채운다. 현재 **활성(ACTIVE) 정책 버전**의 값이다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | 기관 식별자 |\n\n본문 없음.\n\n## 응답\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `organizationId` | UUID | 기관 식별자 |\n| `organizationStatus` | enum | `ACTIVE` · `SUSPENDED` · `DELETION_PENDING` · `DELETED` |\n| `monthlyAiBudget` | decimal | 월 AI 예산 상한. `0` 은 무제한이 아니라 **예산 0** |\n| `currencyCode` | string | 통화. 플랫폼 공통 `USD` 고정, 변경 불가 |\n| `monthlyTokenLimit` | long? | 월 토큰 상한. **`null` 이면 무제한** |\n| `storageLimitBytes` | long? | 저장량 상한(바이트). **`null` 이면 무제한** |\n| `dataRetentionDays` | int | 보존기간. `90` · `180` · `365` 중 하나 |\n| `defaultDisclosureScope` | enum | 신규 기수 공개범위 기본값. `SUMMARY` · `PRIVATE` · `FULL` |\n| `codeSessionTierCode` | enum | 코드 세션 모델 티어. `ACCURACY_FIRST` · `BALANCED` · `COST_FIRST` |\n| `allowManagerInvite` | boolean | 신규 매니저 초대·재발송 허용 |\n| `allowDataExport` | boolean | 신규 데이터 export 생성 허용 |\n| `allowZipSubmission` | boolean | ZIP 코드 제출 허용. 끄면 GitHub 연동만 남는다 |\n| `allowGithubIntegration` | boolean | GitHub 조직 연동 허용(**정책**이며 실제 연결은 별도 흐름) |\n| `enableBigProjectContributionAnalysis` | boolean | 빅프로젝트 기여도 분석 허용 |\n| `policyVersion` | int | 현재 정책 버전. 변경할 때마다 올라간다 |\n\n⚠️ **변경 API 가 전체 치환이므로 이 응답을 그대로 폼 초기값으로 쓰세요.**\n사용자가 바꾼 필드만 덮어쓰고 나머지는 여기서 받은 값을 그대로 다시 보내야 합니다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 `ORG_NOT_FOUND` | 없는 기관 |\n| 409 `ORG_POLICY_NOT_FOUND` | 활성 정책이 없음(API 를 거치지 않고 만들어진 데이터) |\n",
        "operationId": "findOrganizationOperationSettings",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationSettingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "put": {
        "tags": [
          "Usage Metering"
        ],
        "summary": "기관 운영 설정 변경 | ✅ 사용 가능",
        "description": "SA-02 ④ 설정 탭의 저장 액션. **슈퍼어드민 전용**이다(오퍼레이터는 사용량 조회만 가능).\n\n## ⚠️ 부분 수정(PATCH)이 아니라 전체 치환(PUT)이다\n\n**보내지 않은 필드는 유지되는 게 아니라 검증 오류(400)가 난다.**\n`GET .../settings` 응답을 폼 초기값으로 받아 두고, 사용자가 바꾼 것만 덮어써서\n**전체를 다시 보내세요.**\n\n`organization_policy` 는 append-only 이력 테이블이라 기존 행을 고치지 않는다.\n활성 버전을 `SUPERSEDED` 로 닫고 **새 버전을 발급**하므로 `policyVersion` 이 1 올라간다.\n\n## 요청\n\n**경로 변수** — `organizationId` (**필수**, UUID)\n\n**JSON 본문**\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationStatus` | **필수** | enum | `ACTIVE` 또는 `SUSPENDED` 만. 그 외 값은 400 |\n| `monthlyAiBudget` | **필수** | decimal | 0 이상. `0` 은 무제한이 아니라 **예산 0** |\n| `dataRetentionDays` | **필수** | int | **`90` · `180` · `365` 중 하나만** |\n| `defaultDisclosureScope` | **필수** | enum | `SUMMARY` · `PRIVATE` · `FULL` |\n| `codeSessionTierCode` | **필수** | enum | `ACCURACY_FIRST` · `BALANCED` · `COST_FIRST` |\n| `allowManagerInvite` | **필수** | boolean | 신규 매니저 초대·재발송 허용 |\n| `allowDataExport` | **필수** | boolean | 신규 데이터 export 생성 허용 |\n| `allowZipSubmission` | **필수** | boolean | ZIP 코드 제출 허용 |\n| `allowGithubIntegration` | **필수** | boolean | GitHub 조직 연동 허용(정책이며 실제 연결은 별도 흐름) |\n| `enableBigProjectContributionAnalysis` | **필수** | boolean | 빅프로젝트 기여도 분석 허용 |\n| `monthlyTokenLimit` | 선택 | long | 월 토큰 상한. **`null` 이면 무제한**. 보낼 경우 0 초과 |\n| `storageLimitBytes` | 선택 | long | 저장량 상한(바이트). **`null` 이면 무제한**. 0 이상 |\n\n통화(`currencyCode`)는 **요청 항목이 아니다.** 플랫폼 공통 USD 고정이며 DB CHECK 로도 강제된다.\n\n## 응답\n\n새 버전 기준의 운영 설정. **`GET .../settings` 와 완전히 같은 구조**다.\n`policyVersion` 이 올라간 것을 확인하면 저장이 반영된 것이다.\n\n## 이 API 로 기관 상태도 바뀐다\n\n`organizationStatus` 가 함께 저장되므로 설정 탭의 `기관 상태` 행이 여기서 처리된다.\n다만 **삭제(`DELETED`)된 기관은 이 API 로 되살릴 수 없다** —\n`POST /organizations/{organizationId}/restore` 를 쓰세요.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 필수 누락 · `dataRetentionDays` 가 90/180/365 밖 · `organizationStatus` 가 ACTIVE/SUSPENDED 밖 |\n| 404 `ORG_NOT_FOUND` | 없는 기관 |\n| 409 `ORG_ALREADY_DELETED` | 삭제된 기관 |\n| 409 `ORG_POLICY_NOT_FOUND` | 활성 정책이 없음 |\n",
        "operationId": "updateOrganizationOperationSettings",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOperationSettingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationSettingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/platform/operations/super-admins/invitations": {
      "post": {
        "tags": [
          "Platform Governance"
        ],
        "summary": "슈퍼어드민 초대 | ✅ 사용 가능",
        "description": "SA-03 ② `+ 계정 초대`. 계정 자리를 만들고 초대 메일을 보낸다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `email` | **필수** | string | 초대할 이메일. **이 API 의 유일한 입력이다** |\n\n**헤더 (선택)** — `X-Request-Id: {문자열}` 추적용. 생략하면 서버가 만든다.\n\n역할을 고르는 칸이 없다 — 이 화면에서 보내는 초대는 슈퍼어드민 하나뿐이라\n**초대하는 화면이 곧 역할**이다. 기관·기수·반도 없다 — 슈퍼어드민은 어느 기관에도\n속하지 않는다(`app_user.org_id IS NULL`).\n\n**이메일 도메인 제한이 없다.** 플랫폼 도메인을 저장하는 곳이 없고, 오퍼레이터 초대와\n같은 이유(초대 시점에는 그 도메인 메일함을 아직 가질 수 없다)가 적용된다.\n\n## 응답 — `201 Created`\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `memberId` | UUID | 생성된 계정 자리 |\n| `email` | string | 초대 메일 수신 주소 |\n| `status` | enum | 항상 `PENDING`(목업 `초대됨`) |\n| `invitedAt` | datetime | 초대 원장·최초 토큰 생성 시각 |\n| `accounts` | object | **초대 반영 후의 슈퍼어드민 목록 전체** |\n\n`accounts` 는 `GET /super-admins` 와 같은 구조(`content[]` · `activeCount`)다.\n**목록을 따로 재조회할 필요 없이 표를 그대로 다시 그리면 된다.**\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 이메일 형식 오류 |\n| 403 | 슈퍼어드민이 아닌 호출자 |\n| 409 `ALREADY_INVITED` | 이미 등록되었거나 초대가 진행 중인 이메일 |\n| 502 `INVITE_MAIL_FAILED` | 메일 발송 실패 |\n\n502 여도 **계정 자리와 초대 기록은 남는다.** 목록에 `PENDING` 으로 계속 보이므로\n같은 주소로 다시 초대하면 그 자리를 되살려 재발송된다.\n\n> 오퍼레이터 초대와 달리 **취소·재발송 전용 API 가 없다.** 목업 SA-03 ② 표에\n> 그 액션이 없기 때문이다. 필요해지면 오퍼레이터 쪽과 같은 방식으로 추가할 수 있다\n> (member 도메인의 재발송 엔진이 이미 슈퍼어드민 목적을 처리한다).\n",
        "operationId": "inviteSuperAdmin",
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "초대 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "invite-sa-001"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteSuperAdminRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "슈퍼어드민 계정 자리 생성 및 초대 발송 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteSuperAdminResponse"
                }
              }
            }
          },
          "400": {
            "description": "이메일 형식이 올바르지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "BAD_REQUEST": {
                    "summary": "BAD_REQUEST",
                    "value": {
                      "code": "BAD_REQUEST",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "슈퍼어드민만 슈퍼어드민을 초대할 수 있음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "ALREADY_INVITED · 이미 등록되었거나 초대된 이메일",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ALREADY_INVITED": {
                    "summary": "ALREADY_INVITED",
                    "value": {
                      "code": "ALREADY_INVITED",
                      "message": "이미 등록되었거나 초대된 이메일입니다."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "INVITE_MAIL_FAILED · 초대 메일 발송 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_MAIL_FAILED": {
                    "summary": "INVITE_MAIL_FAILED",
                    "value": {
                      "code": "INVITE_MAIL_FAILED",
                      "message": "초대 메일을 보내지 못했습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/organizations": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "기관 목록 조회 | ✅ 사용 가능",
        "description": "SA-01 기관 목록 표를 채운다. 이름 검색·상태 필터·정렬을 **모두 서버가 처리**하므로\n화면은 파라미터만 넘기면 된다(클라이언트에서 다시 거르지 않는다).\n\n## 요청 (쿼리 파라미터)\n\n| 파라미터 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `query` | 선택 | string | 기관명 부분검색. 대소문자 구분 없음. 비우면 전체 |\n| `status` | 선택 | enum | `ACTIVE` · `SUSPENDED` · `DELETION_PENDING` · `DELETED`. **비우면 전체**(화면의 `상태 · 전체`) |\n| `sort` | 선택 | enum | `CREATED_AT_DESC`(기본) · `CREATED_AT_ASC` · `NAME_ASC` · `NAME_DESC` |\n| `page` | 선택 | int | 0부터 시작. 기본 `0` |\n| `size` | 선택 | int | 페이지당 개수. 기본 `20`, 최대 `100` |\n\n⚠️ 기수 수·교육생 수·비용은 **정렬 대상이 아니다.** 별도 배치 집계라 페이지를 자른 뒤에\n채워지므로 전역 정렬이 성립하지 않는다.\n\n## 응답\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `content[]` | array | 기관 목록. 각 항목 구조는 아래 |\n| `page` | int | 현재 페이지(0부터) |\n| `size` | int | 페이지당 개수 |\n| `totalElements` | long | 조건에 맞는 전체 건수 |\n| `totalPages` | int | 전체 페이지 수 |\n\n**content[] 각 항목**\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `organizationId` | UUID | 기관 식별자. 상세 이동에 쓴다 |\n| `name` | string | 기관명 |\n| `slug` | string? | URL용 짧은 식별값. 미지정이면 `null` |\n| `displayCode` | string? | 화면 표시용 코드. 미지정이면 `null` |\n| `emailDomain` | string? | 초대 허용 도메인. `null`이면 제한 없음 |\n| `status` | enum | `ACTIVE` · `SUSPENDED` · `DELETION_PENDING` · `DELETED` |\n| `operatorUnassigned` | boolean | `true`면 `오퍼레이터 미배정` 배지. operators가 비었을 때 |\n| `budgetExceeded` | boolean | `true`면 `예산 초과` 배지. 예산이 0이면 항상 false |\n| `operators[]` | array | `{ memberId, name, email }`. 목록의 `박지현 외 1` 렌더링용 |\n| `cohorts` | object | `{ total, running, closed }` — 목업 `기수 3 (진행 2 · 종료 1)` |\n| `traineeCount` | int | 활성 교육생 수(기수를 나간 인원 제외) |\n| `activeSessionCount` | int | 진행 중 세션 수(`IN_PROGRESS`·`PAUSED`) |\n| `currentMonthAiCost` | decimal | 이번 달(UTC) AI 비용 |\n| `monthlyAiBudget` | decimal | 월 예산. 정책이 없으면 `0` |\n| `budgetUsageRate` | decimal? | 소진율(0~1). 예산이 0이면 `null` |\n| `currencyCode` | string? | 통화. 플랫폼 공통 `USD`. 정책이 없으면 `null` |\n| `dataRetentionDays` | int | 보존기간(일). 정책이 없으면 `0` |\n| `defaultDisclosureScope` | enum? | 기본 공개범위. 정책이 없으면 `null` |\n| `createdAt` | datetime | 생성 시각 (ISO-8601 UTC) |\n| `deletedAt` | datetime? | 삭제 시각. 살아 있으면 `null` |\n",
        "operationId": "findOrganizations",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrganizationStatus"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrganizationSort"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "기관 생성 및 기본 운영 정책 초기화 | ✅ 사용 가능",
        "description": "SA-01 `기관 생성 (테넌트 프로비저닝)` 모달. 기관과 **최초 운영 정책(버전 1)을 함께** 만든다.\n정책 기본값은 월 예산 0 · 통화 USD · 공개범위 SUMMARY 다.\n\n## 요청 (JSON 본문)\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `name` | **필수** | string | 기관명. 전체에서 유일해야 한다 |\n| `dataRetentionDays` | **필수** | int | 보존기간. **`90` · `180` · `365` 중 하나만** |\n| `emailDomain` | 선택 | string | 기관 대표 도메인(예: `codebase.ac.kr`). 생략하거나 `null` |\n| `slug` | 선택 | string | URL용 짧은 식별값. 소문자·숫자·하이픈, 64자 이하, 전체 UNIQUE |\n| `displayCode` | 선택 | string | 화면 표시용 코드. 대문자로 시작, 대문자·숫자·밑줄, 32자 이하 |\n\n⚠️ **선택 필드에 빈 문자열(`\"\"`)을 보내면 400 이다.** 안 쓸 거면 필드를 아예 생략하거나\n`null` 로 보내세요.\n\n⚠️ `emailDomain` 은 저장만 되고 **초대를 제한하지 않는다.** 오퍼레이터는 기관의 첫 계정이라\n초대 시점에 그 기관 메일함이 없기 때문이다.\n\n**헤더 (선택)** — `Idempotency-Key: {UUID}`\n같은 키 + 같은 내용으로 재요청하면 최초 생성 결과를 그대로 돌려준다(기관이 두 개 생기지 않는다).\n같은 키로 **다른 내용**을 보내면 409 `ORG_IDEMPOTENCY_CONFLICT`. 생략하면 멱등 처리를 하지 않으므로\n네트워크 재시도 시 기관이 중복 생성될 수 있다.\n\n## 응답 — `201 Created`\n\n목록 조회의 `content[]` 항목과 **같은 구조**다. 주요 필드만 적는다.\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `organizationId` | UUID | **이후 모든 API 호출에 쓰는 식별자** |\n| `status` | enum | 항상 `ACTIVE` |\n| `operatorUnassigned` | boolean | 항상 `true` — 오퍼레이터가 아직 없다 |\n| `dataRetentionDays` | int | 요청값 그대로 |\n| `currencyCode` | string | `USD` |\n| `monthlyAiBudget` | decimal | `0` |\n| 나머지 | | 목록 조회 응답과 동일 |\n\n**생성 직후 화면 처리** — 목록으로 돌아가면 `GET /organizations` 와\n`GET /organizations/summary` 를 **둘 다** 다시 불러야 카드 숫자가 맞는다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 400 | 필수 누락 · 형식 오류 · `dataRetentionDays` 가 90/180/365 밖 |\n| 409 `ORG_NAME_TAKEN` | 이미 사용 중인 기관명(삭제된 기관 이름 포함) |\n| 409 `ORG_IDEMPOTENCY_CONFLICT` | 같은 멱등키로 다른 내용을 보냄 |\n",
        "operationId": "createOrganization",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "재시도 안전을 위한 멱등성 키(UUID). 생략 가능.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "409": {
            "description": "ORG_NAME_TAKEN · ORG_IDEMPOTENCY_CONFLICT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORG_NAME_TAKEN": {
                    "summary": "ORG_NAME_TAKEN",
                    "value": {
                      "code": "ORG_NAME_TAKEN",
                      "message": "이미 있는 기관명입니다."
                    }
                  },
                  "ORG_IDEMPOTENCY_CONFLICT": {
                    "summary": "ORG_IDEMPOTENCY_CONFLICT",
                    "value": {
                      "code": "ORG_IDEMPOTENCY_CONFLICT",
                      "message": "같은 요청 키로 다른 내용이 이미 처리되었습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/organizations/{organizationId}/restore": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "기관 복구 | ✅ 사용 가능",
        "description": "soft-delete 된 기관을 되살린다. 목업 case 7: *\"보존기간이 지난 뒤 파기됩니다.\n**그전까지는 복구할 수 있습니다.**\"*\n\n**삭제 상태를 되돌리는 유일한 방법이다.** 운영 설정으로 `status` 를 `ACTIVE` 로 바꾸는 것은\n막혀 있다 — 삭제 흔적(`deleted_at` 등)이 남은 채 활성이 되면 DB 제약을 위반한다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | 삭제된 기관의 식별자 |\n\n본문 없음.\n\n## 응답\n\n복구된 기관 정보. **목록 조회 `content[]` 항목과 같은 구조**다.\n\n`status` 는 **항상 `ACTIVE`** 로 돌아온다. 삭제 전 상태를 보관하는 컬럼이 없고,\n복구의 의도는 \"다시 쓰겠다\" 이기 때문이다. 정지 상태로 두고 싶다면 복구 후\n설정에서 `SUSPENDED` 로 바꾸세요.\n\n함께 정리되는 값 — `deletedAt` · `retentionUntil` · `suspendedAt` 이 비워지고\n파기 예약(`purgeStatus`)도 취소된다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 `ORG_NOT_FOUND` | 없는 기관 |\n| 409 `ORG_NOT_DELETED` | 삭제되지 않은 기관 |\n| 409 `ORG_ALREADY_DELETED` | **보존기간이 이미 지나 파기 대상** — 복구 불가 |\n| 409 `ORG_NAME_TAKEN` | 삭제된 사이 같은 이름의 기관이 새로 생김 |\n",
        "operationId": "restoreOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "복구 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "404": {
            "description": "ORG_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORG_NOT_FOUND": {
                    "summary": "ORG_NOT_FOUND",
                    "value": {
                      "code": "ORG_NOT_FOUND",
                      "message": "기관을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "ORG_NOT_DELETED · ORG_ALREADY_DELETED · ORG_NAME_TAKEN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORG_NOT_DELETED": {
                    "summary": "ORG_NOT_DELETED",
                    "value": {
                      "code": "ORG_NOT_DELETED",
                      "message": "삭제되지 않은 기관입니다."
                    }
                  },
                  "ORG_ALREADY_DELETED": {
                    "summary": "ORG_ALREADY_DELETED",
                    "value": {
                      "code": "ORG_ALREADY_DELETED",
                      "message": "이미 삭제된 기관입니다."
                    }
                  },
                  "ORG_NAME_TAKEN": {
                    "summary": "ORG_NAME_TAKEN",
                    "value": {
                      "code": "ORG_NAME_TAKEN",
                      "message": "이미 있는 기관명입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/organizations/{organizationId}/purge": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "기관 파기 요청 | ⚠️ 사용 불가",
        "description": "**요청은 접수되지만 데이터가 실제로 지워지지 않는다.** 보존기간 검증과\n`purge_status = IN_PROGRESS` 전이까지만 구현돼 있고, 응답은 항상 `purged=false`다.\n\n`organization(org_id)`를 참조하는 FK가 52개이고 전부 `ON DELETE RESTRICT`라\n52개 테이블을 위상 정렬 역순으로 지워야 하는데, 한 트랜잭션에 담을 수 없어\n별도 배치가 필요하다. 그 배치가 아직 없다.\n\n⚠️ 한 번 호출하면 `purge_status`가 `IN_PROGRESS`로 바뀌고 **복구가 막힌다**\n(`POST /{organizationId}/restore`가 보존기간 경과를 이유로 거절한다).\n되돌리려면 DB를 직접 손봐야 하므로 **버려도 되는 기관에만 호출한다.**\n\n---\n\n보존기간이 지난 기관의 데이터 파기를 요청한다. 목업 case 8 — **화면이 없고**\n운영자가 API 로 직접 호출하는 경로다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | soft-delete 된 기관의 식별자 |\n\n본문 없음.\n\n## 응답\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `organizationId` | UUID | 대상 기관 |\n| `deletedAt` | datetime | soft-delete 시각 |\n| `retentionUntil` | datetime | 보존기간 종료 시각 |\n| `requestedAt` | datetime | 파기 요청 접수 시각 |\n| `purged` | boolean | **항상 `false`** — 실제 파기는 아직 수행되지 않는다 |\n| `message` | string | 운영자에게 보여줄 안내 문구 |\n\n⚠️ **화면에서 `purged` 를 반드시 확인하세요.** 200 이 왔다고 \"파기 완료\" 로 그리면 안 된다.\n`false` 이므로 **\"파기 접수됨\"** 으로 표시해야 한다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 `ORG_NOT_FOUND` | 없는 기관 |\n| 409 `ORG_NOT_DELETED` | soft-delete 되지 않은 기관. 먼저 `DELETE /{organizationId}` |\n| 409 `RETENTION_NOT_MET` | 보존기간이 남음. 응답 메시지에 파기 가능 시각이 담긴다 |\n\n즉시 물리 삭제 경로는 두지 않는다 — 실수로 지우면 되돌릴 방법이 없다.\n",
        "operationId": "purgeOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "파기 요청 접수(보존기간 충족)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurgeOrganizationResponse"
                }
              }
            }
          },
          "404": {
            "description": "ORG_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORG_NOT_FOUND": {
                    "summary": "ORG_NOT_FOUND",
                    "value": {
                      "code": "ORG_NOT_FOUND",
                      "message": "기관을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "RETENTION_NOT_MET · ORG_NOT_DELETED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "RETENTION_NOT_MET": {
                    "summary": "RETENTION_NOT_MET",
                    "value": {
                      "code": "RETENTION_NOT_MET",
                      "message": "보존기간이 남아 파기할 수 없습니다."
                    }
                  },
                  "ORG_NOT_DELETED": {
                    "summary": "ORG_NOT_DELETED",
                    "value": {
                      "code": "ORG_NOT_DELETED",
                      "message": "삭제되지 않은 기관입니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "unavailable"
      }
    },
    "/api/v0/organizations/{organizationId}/operators/invitations": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "오퍼레이터 초대 | ⚠️ 사용 보류",
        "description": "SA-02 ② `오퍼레이터 초대` 모달. 계정 자리를 만들고 초대 메일을 보낸다.\n\n## 요청\n\n**경로 변수** — `organizationId` (**필수**, UUID)\n\n**JSON 본문**\n\n| 필드 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `email` | **필수** | string | 초대할 이메일. **이 API 의 유일한 입력이다** |\n\n**헤더 (선택)** — `X-Request-Id: {문자열}` 초대·토큰 발급 추적용. 생략하면 서버가 만든다.\n\n권한·기수를 고르는 칸이 없는 건 의도한 설계다 — 목업: *\"이 화면에서 보내는 초대는\n오퍼레이터 하나뿐이라 초대하는 화면이 곧 역할이다. 기수 배정도 없다 —\n오퍼레이터는 기관 전체를 본다.\"*\n\n**이메일 도메인 제한이 없다.** 기관에 `emailDomain` 이 설정돼 있어도 **아무 주소로나**\n(개인 메일 포함) 초대할 수 있다. 오퍼레이터는 기관의 첫 계정이라 초대받는 시점에\n그 기관 메일함을 가질 수 없기 때문이다.\n\n## 응답 — `201 Created`\n\n| 필드 | 타입 | 설명 |\n|---|---|---|\n| `organizationId` | UUID | 기관 식별자 |\n| `memberId` | UUID | 생성된 계정 자리 |\n| `email` | string | 초대 메일 수신 주소 |\n| `status` | enum | 항상 `PENDING`(목업 `초대됨`) |\n| `invitedAt` | datetime | 초대 원장·최초 토큰 생성 시각 |\n\n받는 사람은 메일 링크로 AU-02 에서 **이름·비밀번호만 정하면** 활성화된다.\n\n**초대 직후 목록을 다시 불러야** 새 행이 표에 나타난다. 응답에 목록이 함께 오지 않는다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 | 활성 기관이 아님(삭제·미존재) |\n| 409 `ALREADY_INVITED` | 이미 등록되었거나 초대가 진행 중인 이메일 |\n| 502 `INVITE_MAIL_FAILED` | 메일 발송 실패 — **아래 참고** |\n\n### 502 여도 계정 자리는 남는다\n\n목업 case 4·5 *\"자리는 남기고 링크만 실패\"* 대로 동작한다.\n목록을 다시 부르면 그 계정이 `invitationDeliveryFailed=true` 로 나오므로,\n화면은 **그 행에** `초대 메일이 나가지 않았습니다` 안내와 [재발송] 버튼을 붙이면 된다.\n\n자리를 지우지 않는 이유 — 지우면 같은 주소로 다시 초대했을 때\n**중복 초대인지 재시도인지 구분할 수 없다.**\n",
        "operationId": "inviteOperator",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "초대 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "invite-op-001"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteOperatorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "오퍼레이터 계정 생성 및 초대 발송 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteOperatorResponse"
                }
              }
            }
          },
          "404": {
            "description": "활성 기관을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NOT_FOUND": {
                    "summary": "NOT_FOUND",
                    "value": {
                      "code": "NOT_FOUND",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "ALREADY_INVITED · 이미 등록되었거나 초대된 이메일",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ALREADY_INVITED": {
                    "summary": "ALREADY_INVITED",
                    "value": {
                      "code": "ALREADY_INVITED",
                      "message": "이미 등록되었거나 초대된 이메일입니다."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "INVITE_MAIL_FAILED · 초대 메일 발송 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_MAIL_FAILED": {
                    "summary": "INVITE_MAIL_FAILED",
                    "value": {
                      "code": "INVITE_MAIL_FAILED",
                      "message": "초대 메일을 보내지 못했습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "hold"
      }
    },
    "/api/v0/organizations/{organizationId}/operators/invitations/{tokenId}/resend": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "오퍼레이터 초대 재발송 | ⚠️ 사용 보류",
        "description": "SA-02 ② case 4·5 의 [재발송] 액션. 초대 메일을 다시 보낸다.\n\n## 언제 쓰나\n\n| 상황 | 목록에서의 신호 |\n|---|---|\n| 메일이 나가지 않음 | `invitationDeliveryFailed === true` |\n| 링크가 만료됨 | 상태로는 구분되지 않는다. 사용자가 요청하면 호출 |\n\n**만료된 초대도 대상이다** — 만료야말로 재발송이 필요한 주된 상황이다.\n\n## 요청\n\n| 변수 | 필수 | 타입 | 설명 |\n|---|---|---|---|\n| `organizationId` | **필수** | UUID | 기관 식별자 |\n| `tokenId` | **필수** | UUID | 목록 응답의 **`pendingInvitationTokenId`** |\n\n**헤더 (선택)** — `X-Request-Id: {문자열}` 추적용. 생략하면 서버가 만든다.\n\n본문 없음.\n\n## 응답\n\n**재발송 후의 오퍼레이터 목록 전체**(`GET .../operators` 와 같은 구조).\n\n해당 계정은 이렇게 바뀐다.\n\n| 필드 | 재발송 후 |\n|---|---|\n| `invitationDeliveryFailed` | `false` 로 내려감 |\n| `pendingInvitationTokenId` | **새 토큰 값으로 교체** |\n| `status` | `PENDING` 유지 |\n\n## 동작\n\n- **이전 토큰을 무효화하고 새로 발급한다** — 재발송 뒤에도 옛 링크가 살아 있으면\n  유효한 가입 링크가 둘이 된다\n- **초대 원장은 새로 만들지 않는다** — 재발송인지 새 초대인지 구분되고\n  재발송 횟수(`resend_count`)가 정확히 쌓인다\n\n**쿨다운·횟수 제한은 없다.** 필요하면 화면에서 버튼을 잠시 비활성화하세요.\n\n## 취소된 초대에는 쓸 수 없다\n\n취소하면 토큰이 무효화되고 `pendingInvitationTokenId` 가 `null` 이 되어 넘길 값이 없다.\n그 경우는 **재초대**(`POST .../operators/invitations`)를 쓴다.\n\n## 오류\n\n| 코드 | 상황 |\n|---|---|\n| 404 `OPERATOR_INVITATION_NOT_FOUND` | 이미 수락·취소된 초대이거나 다른 기관의 토큰 |\n| 502 `INVITE_MAIL_FAILED` | 재발송도 실패. 자리와 기록은 남으므로 다시 시도할 수 있다 |\n",
        "operationId": "resendOperatorInvitation",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "재발송 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "resend-op-001"
          }
        ],
        "responses": {
          "200": {
            "description": "재발송 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorListResponse"
                }
              }
            }
          },
          "404": {
            "description": "OPERATOR_INVITATION_NOT_FOUND · 이미 수락·취소된 초대",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "OPERATOR_INVITATION_NOT_FOUND": {
                    "summary": "OPERATOR_INVITATION_NOT_FOUND",
                    "value": {
                      "code": "OPERATOR_INVITATION_NOT_FOUND",
                      "message": "취소할 수 있는 오퍼레이터 초대를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "INVITE_MAIL_FAILED · 재발송도 실패(자리와 기록은 남는다)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_MAIL_FAILED": {
                    "summary": "INVITE_MAIL_FAILED",
                    "value": {
                      "code": "INVITE_MAIL_FAILED",
                      "message": "초대 메일을 보내지 못했습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "hold"
      }
    },
    "/api/v0/members/organizations/{organizationId}/manager-invitations": {
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "매니저 초대 | ✅ 사용 가능",
        "description": "오퍼레이터가 자기 기관의 **매니저**를 초대합니다(OP-06). 이 경로가 만드는 계정은 항상 MANAGER이며, 다른 역할은 만들 수 없습니다.\n\n**초대 권한 체계**: 슈퍼어드민 → 오퍼레이터 초대는 `POST /organizations/{organizationId}/operators/invitations`(SA-02 ②)가 전담하고, 오퍼레이터 → 매니저 초대는 이 API가 전담합니다.\n\n**요청**\n- organizationId (경로): 초대 대상 기관. 호출자의 소속 기관과 다르면 403\n- email (필수, 최대 320자): 초대받을 이메일\n- cohortId (필수): 담당할 기수 ID. 그 기관의 기수가 아니면 400\n- X-Request-Id (헤더, 선택): 초대 추적용 식별자. 생략하면 서버가 만든다\n\n**반 배정은 초대 시점에 하지 않습니다** — 요청에 반 필드가 없으며, 담당 반은 가입 이후\n`PATCH /cohorts/{cohortId}/classrooms/{classroomId}/managers`로 따로 정합니다.\n\n**응답 (201)**\n- memberId: 생성된 계정 자리 ID\n- email / role(항상 MANAGER) / status(항상 INVITED) / invitedAt\n\n**메일이 나갔다고 계정이 활성화된 것은 아닙니다.** 초대받은 매니저가\n`POST /auth/manager-signup`에서 이름·비밀번호를 정해야 활성 계정이 됩니다.\n\n⚠️ 메일 발송에 실패하면(502) 계정 자리도 **함께 롤백**되어 아무것도 남지 않습니다.\n",
        "operationId": "inviteManager",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "초대 대상 기관 ID. 호출자인 오퍼레이터의 소속 기관만 허용됩니다.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "초대 생성·토큰 발급 추적용 요청 ID이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "invite-request-001"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteManagerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "초대 원장·현재 토큰 생성 및 메일 발송 성공; 계정 활성화 완료를 의미하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteManagerResponse"
                }
              }
            }
          },
          "400": {
            "description": "EMAIL_FORMAT_INVALID 이메일 형식 오류 · MANAGER_COHORT_REQUIRED 담당 기수 미지정 · COHORT_NOT_IN_ORGANIZATION 기관에 속하지 않은 기수",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "EMAIL_FORMAT_INVALID": {
                    "summary": "EMAIL_FORMAT_INVALID",
                    "value": {
                      "code": "EMAIL_FORMAT_INVALID",
                      "message": "이메일 형식이 올바르지 않습니다."
                    }
                  },
                  "MANAGER_COHORT_REQUIRED": {
                    "summary": "MANAGER_COHORT_REQUIRED",
                    "value": {
                      "code": "MANAGER_COHORT_REQUIRED",
                      "message": "일반 매니저는 하나의 기수를 반드시 지정해야 합니다."
                    }
                  },
                  "COHORT_NOT_IN_ORGANIZATION": {
                    "summary": "COHORT_NOT_IN_ORGANIZATION",
                    "value": {
                      "code": "COHORT_NOT_IN_ORGANIZATION",
                      "message": "기관에 속하지 않은 기수입니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰 없음 · INVITER_NOT_FOUND 인증 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITER_NOT_FOUND": {
                    "summary": "INVITER_NOT_FOUND",
                    "value": {
                      "code": "INVITER_NOT_FOUND",
                      "message": "인증 사용자를 찾을 수 없습니다."
                    }
                  },
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "INVITE_ROLE_NOT_ALLOWED 이 역할을 초대할 권한이 없음 · INVITE_CROSS_ORGANIZATION 다른 기관 지정 · INVITER_NOT_ACTIVE 호출자가 활성 계정이 아님",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_ROLE_NOT_ALLOWED": {
                    "summary": "INVITE_ROLE_NOT_ALLOWED",
                    "value": {
                      "code": "INVITE_ROLE_NOT_ALLOWED",
                      "message": "이 역할을 초대할 권한이 없습니다."
                    }
                  },
                  "INVITE_CROSS_ORGANIZATION": {
                    "summary": "INVITE_CROSS_ORGANIZATION",
                    "value": {
                      "code": "INVITE_CROSS_ORGANIZATION",
                      "message": "다른 기관에는 초대할 수 없습니다."
                    }
                  },
                  "INVITER_NOT_ACTIVE": {
                    "summary": "INVITER_NOT_ACTIVE",
                    "value": {
                      "code": "INVITER_NOT_ACTIVE",
                      "message": "활성 사용자만 초대할 수 있습니다."
                    }
                  },
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "ORGANIZATION_NOT_FOUND 초대 대상 기관을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORGANIZATION_NOT_FOUND": {
                    "summary": "ORGANIZATION_NOT_FOUND",
                    "value": {
                      "code": "ORGANIZATION_NOT_FOUND",
                      "message": "활성 기관을 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "ALREADY_INVITED 이미 등록된 계정 또는 동일 대상의 미완료 초대가 존재함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ALREADY_INVITED": {
                    "summary": "ALREADY_INVITED",
                    "value": {
                      "code": "ALREADY_INVITED",
                      "message": "이미 등록되었거나 초대된 이메일입니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INVITATION_SAVE_FAILED 이메일 중복이 아닌 DB 제약 위반 등으로 초대 정보를 저장하지 못함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITATION_SAVE_FAILED": {
                    "summary": "INVITATION_SAVE_FAILED",
                    "value": {
                      "code": "INVITATION_SAVE_FAILED",
                      "message": "초대 정보를 저장할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "INVITE_MAIL_FAILED 초대 메일 발송 실패로 초대 트랜잭션을 완료하지 못함. 계정은 만들어지지 않았다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_MAIL_FAILED": {
                    "summary": "INVITE_MAIL_FAILED",
                    "value": {
                      "code": "INVITE_MAIL_FAILED",
                      "message": "초대 메일을 보내지 못했습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/cohorts": {
      "get": {
        "tags": [
          "Academic Operations"
        ],
        "summary": "기관 기수 목록 조회 | ✅ 사용 가능",
        "description": "로그인한 사용자의 소속 기관에 개설된 기수를 상태 필터·이름 검색으로 페이지네이션 조회한다.\n조회 범위인 기관은 요청 파라미터가 아니라 액세스 토큰에서 가져온다 — 다른 기관의 기수는 조회할 수 없다.\n\n**요청**\n- status (쿼리, 선택): 기수 상태 필터. PLANNED/RUNNING/CLOSED. 생략하면 전체\n- query (쿼리, 선택): 기수명 부분검색\n- page (쿼리, 선택, 기본 0): 0부터 시작하는 페이지 번호\n- size (쿼리, 선택, 기본 20, 최대 100): 페이지당 개수\n\n**응답 (200)**\n- content[]: 기수 목록(필드는 아래 \"기수 상세 조회\" 응답과 동일)\n- page / size: 요청한 페이지 정보 그대로\n- totalElements: 조건에 맞는 전체 기수 수\n- totalPages: 전체 페이지 수\n\n**아직 채워지지 않는 값** — content[].traineeCount는 항상 0, content[].managers는 항상 빈 배열이다.\n교육생 수와 담당 매니저는 member·classroom 도메인 조인이 필요해 아직 연결되지 않았다.\n반 목록·담당 매니저가 필요하면 `GET /cohorts/{cohortId}/classrooms`를 함께 호출한다.\n",
        "operationId": "findCohorts",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "기수 상태 필터. 생략하면 전체",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CohortStatus"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "기수명 부분검색",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "7기"
          },
          {
            "name": "page",
            "in": "query",
            "description": "0부터 시작하는 페이지 번호",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            },
            "example": 0
          },
          {
            "name": "size",
            "in": "query",
            "description": "페이지당 개수(최대 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            },
            "example": 20
          }
        ],
        "responses": {
          "200": {
            "description": "기수 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortListResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED page·size 범위가 올바르지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "ORGANIZATION_CONTEXT_MISSING 인증 정보에서 organizationId를 확인할 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORGANIZATION_CONTEXT_MISSING": {
                    "summary": "ORGANIZATION_CONTEXT_MISSING",
                    "value": {
                      "code": "ORGANIZATION_CONTEXT_MISSING",
                      "message": "기관 컨텍스트를 확인할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "post": {
        "tags": [
          "Academic Operations"
        ],
        "summary": "기수 생성 | ✅ 사용 가능",
        "description": "오퍼레이터가 자기 기관에 새 기수를 개설한다. 개설 시 기관의 활성 운영 정책에서\n기본 공개범위(defaultDisclosureScope)를 복사해 기수에 고정한다 — 이후 기관 정책이 바뀌어도\n이미 만들어진 기수의 공개범위는 따라 바뀌지 않는다.\n\n**요청**\n- organizationId (필수): 기수를 개설할 기관 ID. 액세스 토큰의 기관과 다르면 403\n- name (필수): 기수명. 같은 기관 안에서 중복되면 409\n- startDate (필수) / endDate (필수): 기수 기간. endDate가 startDate보다 빠르면 400\n\n**응답 (201)**\n- 생성된 기수 정보(응답 필드는 \"기수 상세 조회\"와 동일). status는 PLANNED로 시작한다\n\n⚠️ `initialTrainees`를 요청에 넣어도 저장되지 않는다. 스키마에는 남아 있지만 서버가 사용하지 않으며,\n교육생 등록은 `POST /cohorts/{cohortId}/trainees`(CSV) 또는 `.../trainees/invitations`(직접 입력)로 한다.\n",
        "operationId": "createCohort",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCohortRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "기수 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CohortResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED 필수값 누락 · COHORT_PERIOD_INVALID 종료일이 시작일보다 빠름",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "COHORT_PERIOD_INVALID": {
                    "summary": "COHORT_PERIOD_INVALID",
                    "value": {
                      "code": "COHORT_PERIOD_INVALID",
                      "message": "시작일은 종료일보다 늦을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "오퍼레이터가 아니거나 다른 기관의 organizationId를 지정함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "COHORT_NAME_TAKEN 같은 기관에 이미 존재하는 기수명 · ORG_POLICY_NOT_FOUND 기관에 활성 운영 정책이 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COHORT_NAME_TAKEN": {
                    "summary": "COHORT_NAME_TAKEN",
                    "value": {
                      "code": "COHORT_NAME_TAKEN",
                      "message": "이미 있는 기수명입니다."
                    }
                  },
                  "ORG_POLICY_NOT_FOUND": {
                    "summary": "ORG_POLICY_NOT_FOUND",
                    "value": {
                      "code": "ORG_POLICY_NOT_FOUND",
                      "message": "기관에 활성 운영 정책이 없습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "ORGANIZATION_CONTEXT_MISSING 인증 정보에서 organizationId를 확인할 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORGANIZATION_CONTEXT_MISSING": {
                    "summary": "ORGANIZATION_CONTEXT_MISSING",
                    "value": {
                      "code": "ORGANIZATION_CONTEXT_MISSING",
                      "message": "기관 컨텍스트를 확인할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/cohorts/{cohortId}/trainees": {
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "CSV 교육생 명단 등록 및 초대 | ✅ 사용 가능",
        "description": "오퍼레이터가 CSV 파일을 올려 기수 교육생을 한 번에 등록하고 초대 메일을 보낸다.\n\n**요청** (multipart/form-data)\n- cohortId (경로): 교육생을 등록할 기수 ID\n- file (필수): UTF-8 CSV. **첫 행은 `이름,이메일` 헤더**이며 최대 1MB·1,000행\n- X-Request-Id (헤더, 선택): 일괄 등록 추적용 식별자. 생략하면 서버가 만든다\n\n**응답 (201)**\n- requestedCount: 받은 전체 행 수\n- registeredCount: 계정·명단·초대 원장 생성에 성공한 수\n- invitationSentCount: 초대 메일 발송까지 끝난 수\n- failures[]: 실패한 행만 담긴 목록\n  - row: **헤더를 포함한 실제 CSV 행 번호**(첫 데이터 행이 2)\n  - email: 그 행에 적힌 이메일\n  - status: 1=이메일 형식 오류, 2=요청 안에서 중복, 3=기관에 이미 있는 교육생 이메일\n\n**행별 부분 성공을 허용한다.** 한 행이 실패해도 나머지는 등록되므로, 화면은 201을 성공으로 처리하되\n`failures`가 비어 있는지 반드시 확인해야 한다 — 실패가 있어도 상태코드는 201이다.\n\n**메일이 나갔다고 계정이 활성화된 것은 아니다.** 교육생은 PENDING 상태로 만들어지고,\n본인이 초대 링크에서 `POST /auth/trainee-activation`을 마쳐야 활성 계정이 된다.\n",
        "operationId": "registerTraineesFromCsv",
        "parameters": [
          {
            "name": "cohortId",
            "in": "path",
            "description": "교육생을 등록할 기수 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "일괄 등록 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "trainee-batch-001"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "첫 행이 '이름,이메일'인 UTF-8 CSV 파일"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "CSV 행별 등록·초대 처리 완료; 성공·실패 건수와 실패 행을 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterTraineesResponse"
                }
              }
            }
          },
          "400": {
            "description": "CSV_FORMAT_INVALID CSV 파일·헤더·인코딩·열 구성 오류. 어느 행이 왜 틀렸는지는 message에 있다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CSV_FORMAT_INVALID": {
                    "summary": "CSV_FORMAT_INVALID",
                    "value": {
                      "code": "CSV_FORMAT_INVALID",
                      "message": "CSV 파일을 읽을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰 없음 · INVITER_NOT_FOUND 인증 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITER_NOT_FOUND": {
                    "summary": "INVITER_NOT_FOUND",
                    "value": {
                      "code": "INVITER_NOT_FOUND",
                      "message": "인증 사용자를 찾을 수 없습니다."
                    }
                  },
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "INVITE_ROLE_NOT_ALLOWED 오퍼레이터만 교육생을 초대할 수 있음 · INVITER_NOT_ACTIVE 활성 계정이 아님 · INVITE_CROSS_ORGANIZATION 다른 기관의 기수",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_ROLE_NOT_ALLOWED": {
                    "summary": "INVITE_ROLE_NOT_ALLOWED",
                    "value": {
                      "code": "INVITE_ROLE_NOT_ALLOWED",
                      "message": "이 역할을 초대할 권한이 없습니다."
                    }
                  },
                  "INVITER_NOT_ACTIVE": {
                    "summary": "INVITER_NOT_ACTIVE",
                    "value": {
                      "code": "INVITER_NOT_ACTIVE",
                      "message": "활성 사용자만 초대할 수 있습니다."
                    }
                  },
                  "INVITE_CROSS_ORGANIZATION": {
                    "summary": "INVITE_CROSS_ORGANIZATION",
                    "value": {
                      "code": "INVITE_CROSS_ORGANIZATION",
                      "message": "다른 기관에는 초대할 수 없습니다."
                    }
                  },
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "COHORT_NOT_INVITABLE 등록 가능한 기수를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COHORT_NOT_INVITABLE": {
                    "summary": "COHORT_NOT_INVITABLE",
                    "value": {
                      "code": "COHORT_NOT_INVITABLE",
                      "message": "초대 가능한 기수를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/cohorts/{cohortId}/trainees/invitations": {
      "post": {
        "tags": [
          "Member"
        ],
        "summary": "직접 입력 교육생 등록 및 초대 | ✅ 사용 가능",
        "description": "CSV 업로드 대신 화면에서 이름·이메일을 직접 입력해 교육생을 등록한다.\n처리 규칙과 응답 형식은 CSV 등록(`POST /cohorts/{cohortId}/trainees`)과 완전히 같다.\n\n**요청** (application/json)\n- cohortId (경로): 교육생을 등록할 기수 ID\n- trainees (필수, 1건 이상): 등록할 교육생 목록\n  - name (필수, 최대 200자)\n  - email (필수): 형식·요청 내 중복·기존 계정을 행별로 검증한다\n- X-Request-Id (헤더, 선택): 일괄 등록 추적용 식별자\n\n**응답 (201)**\n- requestedCount / registeredCount / invitationSentCount\n- failures[]: row는 **1부터 시작하는 배열 순번**(CSV와 달리 헤더가 없다),\n  email, status(1=형식 오류, 2=요청 내 중복, 3=기관에 이미 있는 교육생 이메일)\n\n**행별 부분 성공을 허용한다.** 실패가 있어도 상태코드는 201이므로 `failures`를 확인해야 한다.\n\n**이름이 비어 있으면 행 단위 실패가 아니라 요청 전체가 400이다.** 이메일 오류는 failures로\n돌려주지만 이름 누락은 입력 화면에서 먼저 걸러야 할 값으로 보기 때문이다.\n\n등록된 교육생은 PENDING이며 `POST /auth/trainee-activation`을 거쳐야 활성화된다.\n",
        "operationId": "registerTrainees",
        "parameters": [
          {
            "name": "cohortId",
            "in": "path",
            "description": "교육생을 등록할 기수 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "일괄 등록 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "trainee-direct-001"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterTraineesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "직접 입력 행별 등록·초대 처리 완료; 성공·실패 건수와 실패 행을 응답",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterTraineesResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED 교육생 목록이 비었음 · TRAINEE_NAME_INVALID 이름이 비었거나 200자 초과 · EMAIL_FORMAT_INVALID 이메일 형식 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  },
                  "TRAINEE_NAME_INVALID": {
                    "summary": "TRAINEE_NAME_INVALID",
                    "value": {
                      "code": "TRAINEE_NAME_INVALID",
                      "message": "교육생 이름이 올바르지 않습니다."
                    }
                  },
                  "EMAIL_FORMAT_INVALID": {
                    "summary": "EMAIL_FORMAT_INVALID",
                    "value": {
                      "code": "EMAIL_FORMAT_INVALID",
                      "message": "이메일 형식이 올바르지 않습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHENTICATED 액세스 토큰 없음 · INVITER_NOT_FOUND 인증 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITER_NOT_FOUND": {
                    "summary": "INVITER_NOT_FOUND",
                    "value": {
                      "code": "INVITER_NOT_FOUND",
                      "message": "인증 사용자를 찾을 수 없습니다."
                    }
                  },
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "INVITE_ROLE_NOT_ALLOWED 오퍼레이터만 교육생을 초대할 수 있음 · INVITER_NOT_ACTIVE 활성 계정이 아님 · INVITE_CROSS_ORGANIZATION 다른 기관의 기수",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITE_ROLE_NOT_ALLOWED": {
                    "summary": "INVITE_ROLE_NOT_ALLOWED",
                    "value": {
                      "code": "INVITE_ROLE_NOT_ALLOWED",
                      "message": "이 역할을 초대할 권한이 없습니다."
                    }
                  },
                  "INVITER_NOT_ACTIVE": {
                    "summary": "INVITER_NOT_ACTIVE",
                    "value": {
                      "code": "INVITER_NOT_ACTIVE",
                      "message": "활성 사용자만 초대할 수 있습니다."
                    }
                  },
                  "INVITE_CROSS_ORGANIZATION": {
                    "summary": "INVITE_CROSS_ORGANIZATION",
                    "value": {
                      "code": "INVITE_CROSS_ORGANIZATION",
                      "message": "다른 기관에는 초대할 수 없습니다."
                    }
                  },
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "COHORT_NOT_INVITABLE 등록 가능한 기수를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COHORT_NOT_INVITABLE": {
                    "summary": "COHORT_NOT_INVITABLE",
                    "value": {
                      "code": "COHORT_NOT_INVITABLE",
                      "message": "초대 가능한 기수를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/cohorts/{cohortId}/classrooms": {
      "get": {
        "tags": [
          "Academic Operations"
        ],
        "summary": "기수 반 목록 조회 | ✅ 사용 가능",
        "description": "기수에 편성된 반 전체를 조회한다. 조회 범위인 기관은 액세스 토큰에서 가져온다.\n\n**요청**\n- cohortId (경로): 반을 조회할 기수 ID\n\n**응답 (200)**\n- classrooms[].classroomId: 반 ID\n- classrooms[].cohortId: 소속 기수 ID\n- classrooms[].name: 반 이름\n- classrooms[].managers[]: 담당 매니저 목록(memberId, name)\n- classrooms[].traineeCount: 현재 그 반에 소속된 교육생 수\n- classrooms[].managerAssignmentRequired: 담당 매니저가 없으면 true — 화면의 `매니저 미배정` 표시 근거\n\n**아직 채워지지 않는 값** — managers[].name은 항상 빈 문자열이다.\n매니저 이름은 app_user 조인이 필요해 member 도메인 의존이 생기므로 memberId만 내려준다.\n",
        "operationId": "findClassrooms",
        "parameters": [
          {
            "name": "cohortId",
            "in": "path",
            "description": "반을 조회할 기수 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "200": {
            "description": "반 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomListResponse"
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "COHORT_NOT_FOUND 기수를 찾을 수 없음(다른 기관의 기수 포함)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COHORT_NOT_FOUND": {
                    "summary": "COHORT_NOT_FOUND",
                    "value": {
                      "code": "COHORT_NOT_FOUND",
                      "message": "기수를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "ORGANIZATION_CONTEXT_MISSING 인증 정보에서 organizationId를 확인할 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ORGANIZATION_CONTEXT_MISSING": {
                    "summary": "ORGANIZATION_CONTEXT_MISSING",
                    "value": {
                      "code": "ORGANIZATION_CONTEXT_MISSING",
                      "message": "기관 컨텍스트를 확인할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      },
      "post": {
        "tags": [
          "Academic Operations"
        ],
        "summary": "반 생성 | ✅ 사용 가능",
        "description": "오퍼레이터가 기수 안에 반을 만든다.\n\n**요청**\n- cohortId (경로): 반을 만들 기수 ID\n- name (필수): 반 이름. 같은 기수 안에서 중복되면 409\n- capacity (필수, 1 이상): 정원\n- managerIds (선택): ⚠ 요청에 넣어도 적용되지 않는다(아래 참고)\n\n**응답 (201)**\n- 생성된 반 정보(응답 필드는 \"기수 반 목록 조회\"의 classrooms[] 항목과 동일).\n  갓 만든 반이므로 traineeCount=0, managers=[], managerAssignmentRequired=true로 내려온다\n\n⚠️ `managerIds`를 요청에 넣어도 적용되지 않는다. 스키마에는 남아 있지만 서버가 사용하지 않으며,\n담당 매니저 지정은 `PATCH /cohorts/{cohortId}/classrooms/{classroomId}/managers`로 따로 호출해야 한다.\n",
        "operationId": "createClassroom",
        "parameters": [
          {
            "name": "cohortId",
            "in": "path",
            "description": "반을 만들 기수 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClassroomRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "반 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassroomResponse"
                }
              }
            }
          },
          "400": {
            "description": "VALIDATION_FAILED 반 이름이 비었거나 정원이 1 미만임",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "VALIDATION_FAILED": {
                    "summary": "VALIDATION_FAILED",
                    "value": {
                      "code": "VALIDATION_FAILED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "액세스 토큰이 없거나 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UNAUTHENTICATED": {
                    "summary": "UNAUTHENTICATED",
                    "value": {
                      "code": "UNAUTHENTICATED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "오퍼레이터 권한이 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACCESS_DENIED": {
                    "summary": "ACCESS_DENIED",
                    "value": {
                      "code": "ACCESS_DENIED",
                      "message": "요청을 처리할 수 없습니다."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "COHORT_NOT_FOUND 기수를 찾을 수 없음(다른 기관의 기수 포함)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "COHORT_NOT_FOUND": {
                    "summary": "COHORT_NOT_FOUND",
                    "value": {
                      "code": "COHORT_NOT_FOUND",
                      "message": "기수를 찾을 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-readiness": "available"
      }
    },
    "/api/v0/auth/trainee-activation": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "초대받은 교육생 계정 활성화 | ✅ 사용 가능",
        "description": "초대받은 교육생이 비밀번호를 정해 계정을 활성화한다. 인증 없이 호출하며,\n신원은 초대 토큰이 증명한다.\n\n**요청**\n- user_id (필수): 초대 토큰 해석 응답의 사용자 ID\n- invitationToken (필수, 최대 512자): 초대 링크의 원문 토큰\n- password (필수, 8~64자): 영문·숫자·특수문자를 각각 하나 이상 포함해야 한다\n- passwordConfirmation (필수): password와 같아야 한다\n- serviceTermsAgreed (필수, true): 서비스 이용약관\n- privacyCollectionAgreed (필수, true): 개인정보 수집\n- aiAnalysisAgreed (필수, true): AI 분석\n- organizationSharingAgreed (필수, true): 기관 공유\n- anonymousImprovementAgreed (선택): 익명 데이터 서비스 개선. **유일하게 false를 허용**한다\n\n**이름을 받지 않는다.** 교육생 이름은 오퍼레이터가 명단(CSV·직접 입력)으로 등록할 때 이미 정해져 있다.\n매니저 가입(`/auth/manager-signup`)과 다른 점이니 화면에 이름 입력칸을 두지 않는다.\n\n필수 동의 4개는 false로 보내면 400이다. AI 분석·기관 공유가 필수인 것은 서비스가 그 데이터를\n전제로 동작하기 때문이고, 익명 개선 동의만 거부해도 서비스를 쓸 수 있다.\n\n**응답**\n- user_id / email / name / role (TRAINEE) / activated\n\n계정 활성화와 **기수 소속(cohort_member) 활성화**가 함께 확정된다 — 초대 상태로 남아 있던\n명단 항목이 이 시점에 실제 수강생이 된다. 409는 동시 제출로 상태가 먼저 바뀐 경우다.\n",
        "operationId": "activateTrainee",
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "description": "활성화 요청 추적용 식별자이며 생략 시 서버가 생성합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "activation-request-001"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TraineeActivationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "TRAINEE 계정·기수 소속 활성화와 초대 ACCEPTED 전환 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "INVITATION_INVALID 교육생 초대 토큰·명단 범위가 유효하지 않음 · PASSWORD_CONFIRMATION_MISMATCH 비밀번호 확인 불일치 · REQUIRED_CONSENT_MISSING 필수 동의 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "INVITATION_INVALID": {
                    "summary": "INVITATION_INVALID",
                    "value": {
                      "code": "INVITATION_INVALID",
                      "message": "유효하지 않은 초대 링크입니다."
                    }
                  },
                  "PASSWORD_CONFIRMATION_MISMATCH": {
                    "summary": "PASSWORD_CONFIRMATION_MISMATCH",
                    "value": {
                      "code": "PASSWORD_CONFIRMATION_MISMATCH",
                      "message": "비밀번호 확인이 일치하지 않습니다."
                    }
                  },
                  "REQUIRED_CONSENT_MISSING": {
                    "summary": "REQUIRED_CONSENT_MISSING",
                    "value": {
                      "code": "REQUIRED_CONSENT_MISSING",
                      "message": "필수 동의 항목에 모두 동의해야 합니다."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "ACTIVATION_STATE_CHANGED 동시 요청으로 계정·기수 소속·초대·토큰 상태가 먼저 변경됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ACTIVATION_STATE_CHANGED": {
                    "summary": "ACTIVATION_STATE_CHANGED",
                    "value": {
                      "code": "ACTIVATION_STATE_CHANGED",
                      "message": "계정 활성화 상태가 변경되었습니다. 다시 시도해 주세요."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "WEAK_PASSWORD 비밀번호 정책 미충족",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "WEAK_PASSWORD": {
                    "summary": "WEAK_PASSWORD",
                    "value": {
                      "code": "WEAK_PASSWORD",
                      "message": "비밀번호는 8~64자이며 영문, 숫자, 특수문자를 포함해야 합니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-readiness": "available"
      }
    },
    "/api/v0/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "액세스 토큰 재발급 | ✅ 사용 가능",
        "description": "액세스 토큰이 만료됐을 때 새로 발급받는다. 만료된 액세스 토큰을 보낼 필요는 없다 —\n인증은 **리프레시 토큰 쿠키로만** 한다.\n\n**요청**\n- refresh_token (쿠키, 필수): 로그인 시 발급된 HttpOnly 쿠키. 브라우저가 자동으로 실어 보내므로\n  클라이언트가 직접 다룰 필요가 없다(`credentials: 'include'`만 켜면 된다).\n  쿠키는 `SameSite=None; Secure`이므로 프론트가 백엔드와 다른 사이트여도 실린다\n- X-Swagger-Client-Origin (헤더, 선택): Swagger UI 테스트 전용\n\n**응답**\n- accessToken\n- accessTokenExpiresIn: 만료까지 남은 시간 — **단위는 밀리초다**(1시간이면 `3600000`)\n\n**역할·이름은 주지 않는다.** 새로고침 후 세션을 복원할 때는 이 호출 뒤에\n`GET /members/me`를 부른다 — 역할을 브라우저 저장소에 남기지 않아도 되고,\n정지·역할 변경이 즉시 반영된다.\n\n**401을 받으면 재시도하지 말고 로그인 화면으로 보내야 한다.** 쿠키가 없거나 만료·위조됐거나,\n비밀번호 변경 등으로 세션이 폐기된 상태이므로 다시 호출해도 결과가 같다.\n",
        "operationId": "refresh",
        "parameters": [
          {
            "name": "refresh_token",
            "in": "cookie",
            "description": "로그인 시 발급된 HttpOnly 리프레시 토큰 쿠키",
            "required": true
          },
          {
            "name": "X-Swagger-Client-Origin",
            "in": "header",
            "description": "Swagger UI 테스트 시 실제 프론트엔드 Origin. 일반 프론트 요청에서는 생략합니다.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "http://localhost:5173"
          }
        ],
        "responses": {
          "200": {
            "description": "액세스 토큰 재발급 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "REFRESH_TOKEN_INVALID 토큰 누락·만료·위조 · REFRESH_IDENTITY_CHANGED 역할·기관이 바뀌어 재로그인 필요",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "REFRESH_TOKEN_INVALID": {
                    "summary": "REFRESH_TOKEN_INVALID",
                    "value": {
                      "code": "REFRESH_TOKEN_INVALID",
                      "message": "유효한 리프레시 토큰이 필요합니다."
                    }
                  },
                  "REFRESH_IDENTITY_CHANGED": {
                    "summary": "REFRESH_IDENTITY_CHANGED",
                    "value": {
                      "code": "REFRESH_IDENTITY_CHANGED",
                      "message": "인증 정보가 변경되어 다시 로그인해야 합니다."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "LOGIN_ACCOUNT_INACTIVE 정지 계정 · LOGIN_ORG_SUSPENDED 기관 정지 · LOGIN_ORIGIN_NOT_ALLOWED 허용되지 않은 출처",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "LOGIN_ACCOUNT_INACTIVE": {
                    "summary": "LOGIN_ACCOUNT_INACTIVE",
                    "value": {
                      "code": "LOGIN_ACCOUNT_INACTIVE",
                      "message": "정지된 계정입니다. 관리자에게 문의해 주세요."
                    }
                  },
                  "LOGIN_ORG_SUSPENDED": {
                    "summary": "LOGIN_ORG_SUSPENDED",
                    "value": {
                      "code": "LOGIN_ORG_SUSPENDED",
                      "message": "소속 기관이 정지되어 로그인할 수 없습니다."
                    }
                  },
                  "LOGIN_ORIGIN_NOT_ALLOWED": {
                    "summary": "LOGIN_ORIGIN_NOT_ALLOWED",
                    "value": {
                      "code": "LOGIN_ORIGIN_NOT_ALLOWED",
                      "message": "허용되지 않은 요청 출처입니다."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "LOGIN_TEMPORARILY_BLOCKED 일시 차단. retryAfter(초) 동봉",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "LOGIN_TEMPORARILY_BLOCKED": {
                    "summary": "LOGIN_TEMPORARILY_BLOCKED",
                    "value": {
                      "code": "LOGIN_TEMPORARILY_BLOCKED",
                      "message": "로그인 시도가 많아 잠시 차단되었습니다."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "LOGIN_NO_ORG_CONTEXT 기관 소속이 없는 계정",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "LOGIN_NO_ORG_CONTEXT": {
                    "summary": "LOGIN_NO_ORG_CONTEXT",
                    "value": {
                      "code": "LOGIN_NO_ORG_CONTEXT",
                      "message": "기관 인증 컨텍스트를 발급할 수 없습니다."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-readiness": "available"
      }
    },
    "/api/v0/auth/password-reset/validations": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "재설정 토큰 사전 검증 | ✅ 사용 가능",
[...]
